<template>
  <div
       class="box pt-gutter pb-gutter">
     <router-link v-if='realModel' v-bind:to="realModel.url"
                  class='box-link position-relative d-block'>
        <div class='inner overflow-hidden position-absolute t-0 w-100 h-100 d-flex flex-column justify-content-between p-2'>

          <!-- <parallax :speedFactor='.2' :absolute='true' :global='true'> -->
           <div class='bg-center h-100 w-100 position-absolute t-0 l-0'
           :class="{ 'contain': contain, 'cover': !contain }"
           :style="{ backgroundImage: `url('${image}')` }"></div>
          <!-- </parallax> -->

           <img :src='logo'
                v-if='logo'
                class='logo center' />
           <h4 class='white-text light-font hover-text hover-text--1'><!-- {{realModel.fields.title}} --></h4>
           <h4 class='white-text bold-font text-right mb-0 hover-text hover-text--2 text-uppercase'>{{realModel.fields.title}}</h4>
        </div>
     </router-link>
  </div>
</template>

<script>
// import '@/SvgRounding';
import WaypointMixin from '@/components/behaviours/Waypoint';

export default {
    name: 'btn',
    data: () => ({
        wobble: false,
        fadeIn: true
    }),

    props: [

        'model',
        'contain',
        'index'
    ],

    mixins: [
        WaypointMixin
    ],


    components: {
    },

    watch: {
        oneDirectionVisible(visible)  {
            // this.fadeIn = visible;
        }
    },

    methods: {
    },

    mounted()  {
        // this.initBtn()
        // this.initPixiSlider();

        // setTimeout(() => {
        //     this.fadeIn();
        // })

        requestAnimationFrame(() => {
            this.waypointResize()
        })
    },

    computed: {
        logo()  {
            return this.getImageVersion(this.realModel, 'logo')
        },

        // offset(){
        //     return this.isInk ? 0 : 80
        // },
        realModel()  {
            return this.$store.getters['pages/getByProp']('id', this.model.id)
        },

        image()  {
            return this.getImageVersion(this.realModel, 'image', 'small')
        },

        // elOpacity()  {
        //     // return this.oneDirectionVisible ? 1 : 0
        // },

        // elTransform()  {
        //     // let y = this.oneDirectionVisible ? 0 : 32
        //     // return 'translateY(' + y + 'px)'
        // }
    }
}

</script>

<style lang="scss" scoped="">
    @import '~bootstrap/scss/functions';
    @import '~bootstrap/scss/variables';
    @import '~bootstrap/scss/mixins';
    @import '~/assets/css/variables.scss';
    @import '~/assets/css/mixins.scss';
.box {
   position: relative;
   margin: 1rem 0;
   transition: all 0.5s;
   // overflow: hidden;
   h4 {
      position: relative;
      z-index: 2;
   }
   .contain, .cover{
      background-repeat: no-repeat;
      background-color: $white;
   }
   .logo {
      position: absolute;
      max-width: 50%;
      max-height: 50%;
      z-index: 100;
      filter: brightness(1.8);
      transform: scale(1) translateX(-50%) translateY(-50%);
      transition: transform 0.4s;
      transform-origin: center;
      // top: 20px;
      // left: 20px;
   }
   .box-link {
      // overflow: hidden;
      transform: translateZ(0);
      @include square(120%);

        box-shadow: 0px 11px 40px 4px rgba(0, 0, 0, 0.05);

      .inner {
         @include overlayed(0.8);
         .contain, .cover {
            transition: 0.4s;
         }
         &:after {
            opacity: 0;
         }
      }
      .hover-text {
         transition: 0.4s;
         &--1 {
            transform: translateY(2rem);
         }
         &--2 {
            transform: translateY(-2rem)
         }
      }

      // HOVER
      &:hover {
         .inner {
            .contain, .cover {
               transform: scale(1.1);
            }
            &:after {
               opacity: 1
            }
         }
         .logo{
          transform: scale(.9) translateX(-50%) translateY(-80%);
         }
         .hover-text {
            opacity: 1;
            transition: 0.4s;
            transform: translateY(0)
         }
      }
      .hover-text {
         opacity: 0;
         transition: 0.4s;
      }


    // ACTIVE STATE ON MOBILE
    @include media-breakpoint-down(md) {
        .inner {
            @include overlayed(0.5);
            .contain, .cover {
               transform: scale(1.1);
            }
            &:after {
               opacity: 1
            }
         }
         .logo{
            transform: scale(.9) translateX(-50%) translateY(-80%);
         }
         .hover-text {
            opacity: 1;
            transition: 0.4s;
            transform: translateY(0)
         }
    }

   }
}
</style>
