<template>
<div :style="{opacity: elOpacity, transform: elTransform}"
     class="box pt-gutter pb-gutter">
   <router-link v-bind:to="model.url"
                class='box-link position-relative d-block'>
      <div class='inner position-absolute t-0 w-100 h-100 d-flex flex-column justify-content-between p-2'>
         <div class='cover bg-center h-100 w-100 position-absolute t-0 l-0'
              :style="{ backgroundImage: `url('${image}')` }"></div>
         <h4 class='white-text light-font hover-text hover-text--1'>{{model.fields.title}}</h4>
         <h4 class='white-text text-right mb-0 hover-text hover-text--2'>{{model.fields.title}}</h4>
      </div>
   </router-link>
</div>

</template>

<script>
import Snap from 'snapsvg';

import PixiSlider from '@/components/shared/PixiSlider';
// import '@/SvgRounding';
import WaypointMixin from '@/components/behaviours/Waypoint';

export default {
    name: 'btn',
    data: () => ({
        wobble: false,
        fadeIn: true
    }),

    props: [

        'model',

        'index',

        'webgl'
    ],

    mixins: [
        WaypointMixin
    ],

    watch: {
        oneDirectionVisible(visible)  {
            // this.fadeIn = visible;
        }
    },

    methods: {

        down()  {
            this.wobble = true
        },
        up()  {
            this.wobble = false
        }
    },

    mounted()  {
        // this.initBtn()
        // this.initPixiSlider();

        // setTimeout(() => {
        //     this.fadeIn();
        // })

        requestAnimationFrame(() => {
            this.waypointResize()
        })
    },

    computed: {
        // offset(){
        //     return this.isInk ? 0 : 80
        // },

        image()  {
            return this.getImageVersion(this.model, 'image', 'small')
        },

        elOpacity()  {
            // return this.oneDirectionVisible ? 1 : 0
        },

        elTransform()  {
            // let y = this.oneDirectionVisible ? 0 : 32
            // return 'translateY(' + y + 'px)'
        }
    },

    components: {
        PixiSlider
    }
}

</script>

<style lang="scss" scoped="">
    @import '~bootstrap/scss/functions';
    @import '~bootstrap/scss/variables';
    @import '~bootstrap/scss/mixins';
    @import '~/assets/css/variables.scss';
    @import '~/assets/css/mixins.scss';

.box {
   position: relative;
   margin: 1rem 0;
   transition: all 0.5s;
   overflow: hidden;
   h4 {
      position: relative;
      z-index: 2;
   }
   .box-link {
      overflow: hidden;
      transform: translateZ(0);
      @include square(120%);



      .inner {
         @include overlayed(0.8);
         .cover {
            transition: 0.4s;
         }
         &:after {
            opacity: 0;
         }
      }


      .hover-text{
        transition: 0.4s;
        &--1{
            transform: translateY(2rem);
        }

        &--2{
            transform: translateY(-2rem)
        }
      }

      &:hover {
         .inner {
            .cover {
               transform: scale(1.1);
            }
            &:after {
               opacity: 1
            }
         }
         .hover-text {
            opacity: 1;
            transition: 0.4s;
            transform: translateY(0)
         }
      }
      .hover-text {
         opacity: 0;
         transition: 0.4s;
      }
   }
}
</style>
