<template>
<component :is="el"
           :to="path"
           :href="path"
           @mousedown.native='down'
           @mousedown='down'
           @mouseup.native='up'
           @mouseup='up'
           @mouseout.native='up'
           @mouseout='up'
           target='target'
           class="button button--line"
           :class='{"button--round" : round}'>
   <span v-if='!round'
         ref='shapeEl'
         class="morph-shape"
         :data-morph-active="morph">

            <svg width="100%" height="100%" viewBox="0 0 300 125" preserveAspectRatio="none">
                <path d="M286.5,62.5c0,27.891-22.609,50.5-50.5,50.5c-21.5,0-64.355,0-86,0c-21.645,0-64.5,0-86,0c-27.891,0-50.5-22.609-50.5-50.5l0,0C13.5,34.609,36.109,12,64,12c21.5,0,64.355,0,86,0c21.645,0,64.5,0,86,0C263.891,12,286.5,34.609,286.5,62.5L286.5,62.5z"/>
            </svg>
        </span>
   <span v-if='round'
         ref='shapeEl'
         class="morph-shape"
         :data-morph-active="morph">
            <svg width="100%" height="100%" viewBox="0 0 300 300" preserveAspectRatio="none">
                <path d="M281,150c0,71.797-59.203,131-131,131S19,221.797,19,150S78.203,19,150,19S281,78.203,281,150z"/>
            </svg>
        </span>
   <span class="button-text medium-font text-uppercase"
         :class='{"center" : round}'><slot></slot></span>
</component>

</template>

<script>
import Snap from 'snapsvg';

export default {
    name: 'btn',
    data: () => ({
        options: {
            speed: {
                reset: 800,
                active: 150
            },
            easing: {
                reset: mina.elastic,
                active: mina.easein
            }
        }
    }),

    props: [

        'round',

        'path',

        'model'
    ],

    methods: {
        initBtn()  {
            this.shapeEl = this.$refs.shapeEl

            var s = Snap(this.shapeEl.querySelector('svg'))
            this.pathEl = s.select('path')
            this.paths = {
                reset: this.pathEl.attr('d'),
                active: this.shapeEl.getAttribute('data-morph-active')
            }
        },
        down()  {
            this.pathEl.stop().animate({
                'path': this.paths.active
            }, this.options.speed.active, this.options.easing.active)
        },
        up()  {
            this.pathEl.stop().animate({
                'path': this.paths.reset
            }, this.options.speed.reset, this.options.easing.reset)
        }
    },

    mounted()  {
        this.initBtn()
    },

    computed: {
        morph()  {
            return this.round ? 'M251,150c0,93.5-29.203,143-101,143S49,243.5,49,150C49,52.5,78.203,7,150,7S251,51.5,251,150z'
                : 'M282.5,62.5c0,27.891-17.583,50.176-46.5,53.5c-21.75,2.5-64.355,4-86,4c-21.645,0-65-1-86-4c-29.408-4.201-46.5-25.609-46.5-53.5l0,0C17.5,34.609,36.594,13.177,64,8c22.5-4.25,64.355-4,86-4c21.645,0,64.669,1.31,86,4C263.75,11.5,282.5,34.609,282.5,62.5L282.5,62.5z'
        },

        isExternal()  {
            return _.startsWith(this.path, 'http')
        },

        el()  {
            return this.isExternal ? 'a' : 'router-link'
        },

        target()  {
            return this.isExternal ? '_blank' : '_self'
        }
    },

    components: {
    }
}

</script>

<style lang="scss" scoped="">
    @import '~bootstrap/scss/functions';
    @import '~bootstrap/scss/variables';
    @import '~bootstrap/scss/mixins';
    @import '~/assets/css/variables.scss';
    @import '~/assets/css/mixins.scss';
.button-wrap {
   margin-bottom: 3em;
}

.button {
   background: none;
   border: none; // width: 250px;
   // height: 105px;
   outline: none;
   position: relative; // margin: 1em;
   padding: 0;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
   /* For some Androids */
   -webkit-touch-callout: none;
   user-select: none;
   display: inline-block;
   cursor: pointer;
   .button-text {
      display: block;
      padding: 1.5em 2em;
      text-align: center;
      position: relative;
      z-index: 100;
      font-size: .85rem;
      color: $white;
      transition: 0.6s;
      font-weight: bold;
      -webkit-touch-callout: none;
      user-select: none;
      line-height: 1;
   }
   &:hover {
      .button-text {
         color: $black;
      }
      svg path {
         fill-opacity: 1;
      }
   }
   &.black {
      svg path {
         stroke: $black!important;
         fill: $black!important;
      }
      .button-text {
         color: $black;
      }
      &:hover {
         .button-text {
            color: $white;
            & /deep/ svg path {
               fill: white!important;
            }
         }
      }
   }
}

.button--round {
   width: 3.4vw;
   height: 3.4vw;
   min-width: 40px;
   min-height: 40px;
   .button-text {
      padding: 0;
   }
}

.morph-shape {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.button--line .morph-shape svg {
   fill-opacity: 0;
   stroke: $white;
   fill: $white;
   stroke-width: 4px;
   stroke-linecap: round;
   path {
      transition: fill-opacity 0.6s;
   }
}

.button--fill .morph-shape svg {
   fill: $white;
}

.button--round .morph-shape svg {
   stroke-width: 7px;
}
</style>
