<template>
  <div class='content-boxes'>

     <div class='container'>

          <parallax :global='true' :speedFactor='-.1'>
            <div v-if='fullModel' class='d-flex box-1'>
                <div class='content-box col-md-8 pl-5 pr-5 pt-4 pb-4'>
                    <h4 v-if='subheadline' class='medium-font h6 text-uppercase mb-2 line-before purple-text'>{{subheadline}}</h4>
                    <h3 v-if='headline' class='display-4 mb-3'>{{headline}}</h3>
                    <div v-html='content1'></div>
                </div>
            </div>
          </parallax>

          <parallax :global='true' :speedFactor='-.3'>
            <div class='d-flex box-2' v-if='content2'>
                <div class='content-box offset-md-3 col-md-8 pl-5 pr-5 pt-4 pb-4'>
                    <div v-html='content2'></div>
                </div>
            </div>
          </parallax>

      </div>

  </div>
</template>

<script>

export default {
    name: 'content-boxes',
    data: () => ({
    }),

    props: [

        'model'
    ],

    methods: {
    },

    computed: {
        locale() {
            return this.$store.getters['app/getState']('locale')
        },
        content1(){
            return this.getAttribute(this.fullModel, 'content')
        },
        content2(){
            return this.getAttribute(this.fullModel, 'content_2')
        },
        fullModel(){
            console.log("SEARCH FULL", this.model.id, this.$store.getters['pages/getByProp']('id', this.model.id))
            return this.$store.getters['pages/getByProp']('id', this.model.id)
        },
        subheadline() {
            if(!this.fullModel){
                return
            }
            let c = this.fullModel.fields.subheadline
            return c ? c[this.locale] || c : null
        },
        headline() {
            if(!this.fullModel){
                return
            }
            let c = this.fullModel.fields.headline
            return c ? c[this.locale] || c : null
        }
    },

    mounted(){
        console.log('content box model!', this.fullModel)
    },

    components: {
    }
}

</script>

<style lang="scss" scoped="">
    @import '~bootstrap/scss/functions';
    @import '~bootstrap/scss/variables';
    @import '~bootstrap/scss/mixins';
    @import '~/assets/css/variables.scss';
    @import '~/assets/css/mixins.scss';

.content-box{
    background: $white;
    // border: 1px solid $lightest;
    box-shadow: 0px 11px 40px 4px rgba(0, 0, 0, 0.05);

    & /deep/ a{
        @include line-link;
    }
}

.box-2{
    position: relative;
    top: -7vh;
}

.content-boxes {
}

</style>
