<template>
<div class='footer pt-5 pb-3'>
   <div class='container container-narrow'>
      <div class='row'>
         <div class='col-md-4 d-flex flex-column align-items-center text-uppercase'>
            <h5 class='text-uppercase mb-3'>{{ $t('visitUs') }}</h5>
            <p class='h5 light-font mb-1'>Na Příkopě 22</p>
            <p class='h5 light-font mb-1'>{{$t('prague')}} 1, 110 00</p>
            <p class='h5 light-font'>+420 221 451 380</p>
         </div>
         <div class='col-md-4 d-flex flex-column align-items-center newsletter-col pt-5 pt-md-0 pb-5 pb-md-0'>
            <h5 class='text-uppercase mb-3'>{{ $t('newsletter') }}</h5>
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
               <form action="https://slovanskydum.us18.list-manage.com/subscribe/post?u=6a27bd6c8d24fdbaabdd1ad80&amp;id=aa25d75885"
                     method="post"
                     id="mc-embedded-subscribe-form"
                     name="mc-embedded-subscribe-form"
                     class="validate"
                     target="_blank"
                     novalidate>
                  <div id="mc_embed_signup_scroll">
                     <input type="email"
                            value=""
                            name="EMAIL"
                            class="email w-100"
                            id="mce-EMAIL"
                            :placeholder="$t('email')"
                            required>
                     <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                     <div style="position: absolute; left: -5000px;"
                          aria-hidden="true">
                        <input type="text"
                               name="b_6a27bd6c8d24fdbaabdd1ad80_aa25d75885"
                               tabindex="-1"
                               value="">
                     </div>
                     <div>
                        <input type="submit"
                               :value="$t('subscribe')"
                               name="subscribe"
                               id="mc-embedded-subscribe"
                               class="btn mt-2 btn--blue">
                     </div>
                  </div>
               </form>
            </div>
            <!--End mc_embed_signup-->
            <!-- <input type='text'
                   placeholder="NAME@EMAIL.COM"> -->
            <!-- <a href='#'
               class='btn mt-2 btn--blue '>{{ $t('subscribe') }}</a> -->
            <!-- <input type='text' placeholder="SUBSCRIBE"> -->
         </div>
         <div class='col-md-4 pt-5 pt-md-0 d-flex flex-column align-items-center text-uppercase'>
            <h5 class='text-uppercase mb-3'>{{ $t('openingHours') }}</h5>
            <p class='h5 mb-1 light-font'>{{ $t('shoppingMall') }}</p>
            <p class='h5 light-font'>PO - NE 10.00 - 20.00</p>
         </div>
      </div>
   </div>
   <div class='container pt-5 d-none d-md-block t-center'>
      <a href="#"
         class="lang-link"
         :class='{"active-locale" : isActive("cs_CZ") }'
         @click='changeLocale("cs_CZ")'>CS</a>
      <span> / </span>
      <a href="#"
         class="lang-link"
         :class='{"active-locale" : isActive("en_US") }'
         @click='changeLocale("en_US")'>EN</a>
      <!-- <span> / </span>
        <a href="#" class="bold-font" @click='changeLocale("ru_RU")'>RU</a> -->
      <a href="https://www.facebook.com/slovansky.dum/"
         class="uppercase line-link ml-3">Facebook</a>
      <a href="http://instagram.com/slovansky_dum/"
         class="uppercase line-link ml-3">Instagram</a>
   </div>
</div>

</template>

<script>


export default {
    name: 'page-footer',
    data: () => ({

    }),

    props: [

        'model'
    ],

    methods: {
        changeLocale(locale)  {
            this.$store.dispatch('app/SET_STATE', {
                locale: locale
            })
        },
        isActive(locale)  {
            return locale === this.$store.getters['app/getState']('locale')
        }
    },

    computed: {
        image()  {
            return '/static/contact.jpg'
        },
        title()  {
            return this.model.title
        }
    },

    components: {
    }
}

</script>

<style lang="scss" scoped="">
    @import '~bootstrap/scss/functions';
    @import '~bootstrap/scss/variables';
    @import '~bootstrap/scss/mixins';
    @import '~/assets/css/variables.scss';
    @import '~/assets/css/mixins.scss';

.footer {
   background: $lightBlue;
   color: $lightGrey;
}

input:nth-of-type(2n) {
   margin-top: -1px;
}

.newsletter-col {
  @include media-breakpoint-down(md) {
    order: 100;
  }
}

.container-narrow {
   @include media-breakpoint-up(sm) {
      max-width: 60%;
   }
}
</style>
