<template>
<div class='gallery-with-text position-relative'>

    <!-- HEADLINE 1 -->
    <parallax :global='true'
            :speedFactor='-0.05'
            class='headline-ontop-fix'>
        <h1 v-if="displayHtag" class='text-1 huge-font pl-4 position-absolute pt-4 pt-md-3 bold-font text-uppercase'>{{title}}</h1>
        <h2 v-if="!displayHtag" class='text-1 huge-font pl-4 position-absolute pt-4 pt-md-3 bold-font text-uppercase'>{{title}}</h2>
    </parallax>

    <!-- IMAGE -->
    <parallax :global='true'
            :speedFactor='-0.3' class='position-relative w-100 background-wrapper t-0 d-flex flex-column' :style="{ height: height + 'px'}">

            <swiper :slides="slides" @updateIndex='updateIndex' class="white"></swiper>

    </parallax>

     <!-- HEADLINE 1 -->
    <parallax v-if='headline2'
            class='flex-grow headline-2 h-auto bold-font'
            :global='true'
            :absolute='true'
            :speedFactor='-0.15'>
        <h2 class='text-2 huge-font pl-4 position-relative' v-html='headline2'></h2>
    </parallax>


    <div class='pl-md-3 pr-5 pr-md-0' v-if='showContent'>
        <parallax :speedFactor='-.3' :global='true' class='col-md-7 p-0' v-if='showContent'>
            <div class='content-wrapper pl-5 pr-5 pt-4 pb-4'>
                <h4 v-if='subheadline' class='medium-font h6 text-uppercase mb-2 line-before purple-text'>{{subheadline}}</h4>
                <h3 v-if='headline' class='display-4-small mb-3'>{{headline}}</h3>
                <div v-if='model.fields.content' :class='{"line-before" : !subheadline && !this.headline}' v-html='model.fields.content'></div>
                <div class='text-center'>
                    <router-link v-if='relatedPage' class='btn btn--blue-border medium-font mt-2 d-inline-block' v-bind:to="{path: relatedPage.url}">{{ $t('moreInfo') }}</router-link>
                </div>
            </div>
        </parallax>
    </div>


</div>

</template>

<script>
import Swiper from '@/components/shared/Swiper';

export default {
    name: 'gallery-with-text',
    data: () => ({
        currentIndex: 0,
        wobble: false,
        fadeIn: false
    }),

    props: [
        'model',
        'wideBtns',
        'hideContent',
        'something',
        'displayHtag'
    ],

    components: {
        Swiper
    },

    mounted()  {
        let self = this

        setTimeout(() => {
            self.fadeIn = true
        }, 400)
    },

    destroyed()  {},

    updated()  {},

    methods: {

        updateIndex(index) {
          this.currentIndex = index
          console.log("CurrentINDEX", this.currentIndex)
        }

        // nextSlide()  {
        //     if (this.currentIndex >= 0 && this.currentIndex < this.slides.length - 1) {
        //         this.currentIndex = this.currentIndex + 1
        //     } else {
        //         this.currentIndex = 0
        //     }
        // },

        // prevSlide()  {
        //     if (this.currentIndex > 0 && this.currentIndex < this.slides.length) {
        //         this.currentIndex = this.currentIndex - 1
        //     } else {
        //         this.currentIndex = this.slides.length - 1
        //     }
        // }
    },

    computed: {
        showContent(){
            return this.getAttribute(this.model, 'subheadline')
            || this.getAttribute(this.model, 'headline')
            || this.getAttribute(this.model, 'content')
        },
        slides(){
            return this.getAttribute(this.model, 'gallery')
        },
        currentSlide()  {
            let slide = this.getImageVersion(this.model, 'gallery', 'large', this.currentIndex)
            return slide
        },
        locale() {
            return this.$store.getters['app/getState']('locale')
        },
        headline2()  {

            if(!this.model){
                return
            }
            let c = this.model.fields.headline_2

            return c ? c[this.locale] || c : null

        },

        title()  {

            if(!this.model){
                return
            }
            let c = this.model.fields.title
            return c ? c[this.locale] || c : null

        },

        height(){
            return this.$store.getters['app/getState']('height') * .9
        },
        slideUrl()  {
            let slide = this.getAttribute(this.currentSlide, 'page')
            let s = this.$store.getters['pages/getByProp']('id', slide.id)

            return s.url
        },
        relatedPage(){
          let relPage = this.model.fields.related_page;
          relPage = relPage ? this.$store.getters['pages/getByProp']('id', relPage.id) : null

          return relPage
        },
        slideNumber() {
            return '0' + (this.currentIndex + 1)
        },
        subheadline() {
            if(!this.fullModel){
                return
            }
            let c = this.fullModel.fields.subheadline
            return c ? c[this.locale] || c : null
        },
        headline() {
            if(!this.fullModel){
                return
            }
            let c = this.fullModel.fields.headline
            return c ? c[this.locale] || c : null
        }
    }
}

</script>

<style lang="scss" scoped="">
    @import '~bootstrap/scss/functions';
    @import '~bootstrap/scss/variables';
    @import '~bootstrap/scss/mixins';
    @import '~/assets/css/variables.scss';
    @import '~/assets/css/mixins.scss';
.gallery-with-text {
    & /deep/ .content-wrapper{
        background: $white;
        position: relative;
        z-index: 1000;
        // border: 1px solid $lightest;
        box-shadow: 0px 11px 40px 4px rgba(0, 0, 0, 0.05);
        // transform: translateY(-50%);
        margin-top: -20em;
        @include media-breakpoint-down(md) {
            margin-top: -5em;
        }
    }
}


.headline-2{
    top: 100%!important;
    text-align: right;
    transform: translateY(-30%);

    @include media-breakpoint-down(md) {
        top: 61%!important;
    }
}

.text-1{
    // transform: translateY(20%);

}

.text-2{
  transform: translateY(-50%);
}

.plus-btn{
  text-transform: uppercase;
  color: $white;
  font-family: 'Gotham-Bold';
  .plus{
    width: 1.6em;
    margin-left: 1em;
    transition: 0.4s;
  }

  &:hover{
    .plus{
      transform: rotate(180deg) translateZ(0);
    }
  }
}

.background-wrapper {
   padding-left: 12vw;
   padding-top: 4rem;

   @include media-breakpoint-down(md) {
        padding-left: 0;
    }
}

.slide-wrapper {
   display: none;
}

.container{
    position: relative;
    z-index: 10;

    @include media-breakpoint-down(md) {
        padding-left: 0;
        margin-left: 0;
        padding-right: 0;
    }
}

.bottom-section {
    position: relative;
    z-index: 20;

    .arrow {
        width: 7em;
        transition: 0.2s;

        &:hover {
            transform: translateX(10%);
        }

        &.mirror:hover {
            transform: translateX(-10%) scaleX(-1);
        }
    }

    .mirror {
        transform: scaleX(-1);
    }
}
</style>
