<template>

<gmap-map class='w-100 h-100'
          :center.sync="center"
          :zoom.sync="zoom"
          :options="mapOptions"
          @idle="onIdle"
          v-if='googleMapsInitialized'
          @click="onMapClick">
   <gmap-marker v-for="marker of markers"
                :key="marker._id"
                :icon="marker.icon"
                :position="marker.position"
                @click="selectMarker(marker._id)" />
   <gmap-marker :key="1000000"
                :icon="icon"
                :optmized="false"
                :zIndex="1000"
                :position="center" />
</gmap-map>

</template>

<script>
import mapStyles from '@/assets/data/mapStyles';

import { loaded } from 'vue2-google-maps';

export default {
    name: 'google-map-component',

    props: [
        'model',
        'something'
    ],
    data: () => ({
       googleMapsInitialized: false,

        zoom: 14,
        markers: [
        ],
    }),

    mounted() {
        loaded.then(() => {
            this.$nextTick(() => {
                this.googleMapsInitialized = true // define this property in data
            })
        })
    },

    computed: {
        icon()  {
            let multiplier = this.isMobile ? 2 : 1.3
            let sizeX = 71 / multiplier
            let sizeY = 89 / multiplier

            return {
                url: '/img/pin.png',
                scaledSize: new google.maps.Size(sizeX, sizeY)
            }
        },


         mapOptions() {
            return {
                minZoom: 5,
                maxZoom: 20,
                draggable: !this.isMobile,
                zoomControl: true,
                scrollwheel: false,
                mapTypeControl: false,
                zoomControl: true,
                zoomControlOptions: {
                    position: google.maps.ControlPosition.RIGHT_TOP
                },
                scaleControl: true,
                streetViewControl: false,
                styles: mapStyles
            }
        },

        center() {
            let loc = this.getAttribute(this.model, 'location');

            let defaultLoc = {
                lat: 50.08636,
                lng: 14.427169
            }

            return loc ? loc.geometry.location : defaultLoc
        },
    },

    methods: {
        onIdle()  {},
        onMapClick()  {},
        selectMarker(id)  {
            console.log('marker id', id)
        }
    }
}

</script>

<style lang="scss">
.vue-map {
   position: absolute;
   height: 100%;
   width: 100%;
   left: 0;
   top: 0;
   box-shadow: 0px 11px 40px 4px rgba(0, 0, 0, 0.05);
}
</style>
