<template>
  <div class='instagram-feed d-flex justify-content-center w-100'>
    <div>
      <a href='https://www.instagram.com/slovansky_dum/'
        target="_blank"
        class='display-4-small text-center mb-2 h2 line-link' v-html='model.fields.title'></a>

      <vue-instagram :token="model.fields.access_token" :count="3" mediaType="image" class="row">
        <template slot="feeds" slot-scope="props">
          <a :href="props.feed.link" target="_blank" class="col-md-4 fancy-list pl-0 pr-0">
            <div class='background d-flex align-items-center justify-content-center pb-3 pb-md-0'>
              <div class="cover bg-center image" :style="{ backgroundImage: `url('${props.feed.images.standard_resolution.url}')` }"></div>
            </div>
          </a>
        </template>
        <template slot="error" slot-scope="props">
          <div class="fancy-alert"> {{ props.error.error_message }} </div>
        </template>
      </vue-instagram>


      <div class='d-flex justify-content-between images-holder'>
        <a href='https://www.instagram.com/slovansky_dum/'
          target="_blank"
          class='logo-wrapper mt-3 ml-md-2 d-flex align-items-center justify-content-center justify-content-md-start'>
          <span><img class='logo' src="/img/instagram-logo.svg"></span>
          <span><img class='word' src="/img/instagram-word.svg"></span>
        </a>

         <div class='trip-advisor'>
           <script async src="https://www.jscache.com/wejs?wtype=rated&amp;uniq=647&amp;locationId=8556916&amp;lang=cs&amp;display_version=2"></script>

        <div id="TA_rated647" class="TA_rated">
            <ul id="fjYfOozxBXm"
                class="TA_links v7EQ9xT">
                <li id="ad6sqklVn"
                    class="kjdw8d0eIhBq">
                  <a target="_blank"
                      href="https://www.tripadvisor.cz/"><img src="https://www.tripadvisor.cz/img/cdsi/img2/badges/ollie-11424-2.gif" alt="TripAdvisor"/></a>
                </li>
            </ul>
          </div>
            <!-- <iframe src="https://slovanskydum.cz/tripadvisor.php" scrolling="no" width='180px' frameborder="0"></iframe> -->
            <!-- <div id="TA_rated647"
                 class="TA_rated">
               <ul id="fjYfOozxBXm"
                   class="TA_links v7EQ9xT">
                  <li id="ad6sqklVn"
                      class="kjdw8d0eIhBq">
                     <a target="_blank"
                        href="https://www.tripadvisor.cz/"><img src="https://www.tripadvisor.cz/img/cdsi/img2/badges/ollie-11424-2.gif" alt="TripAdvisor"/></a>
                  </li>
               </ul>
            </div> -->
         </div>
      </div>


    </div>
  </div>
</template>

<script>

export default {
    name: 'instagram-feed',
    data: () => ({

    }),

    props: [
        'model'
    ],

    methods: {
    },

    computed: {

    },

    mounted()  {

      // this.$nextTick(() => {
      //     $.getScript('https://www.jscache.com/wejs?wtype=rated&amp;uniq=647&amp;locationId=8556916&amp;lang=cs&amp;display_version=2', function() {
      //     });
      // })

        // (function(t, r, i, p)  {
        //     i = t.createElement(r)
        //     i.src = 'https://www.tripadvisor.com/WidgetEmbed-rated?amp;locationId=8556916&amp;lang=cs&amp;display_version=2&amp;uniq=647'
        //     i.async = true
        //     p = t.getElementsByTagName(r)[0];p.parentNode.insertBefore(i, p)
        // })(document, 'script')
    },


    components: {
    }
}

</script>

<style lang="scss" scoped="">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~/assets/css/mixins.scss';


.instagram-feed {
  .logo, .word {
    height: 50px;
  }

  .logo {
    padding-right: 1rem;
    margin-right: 1rem;
    border-right: 2px solid black;
  }

  .word {
    margin-bottom: -25px;
  }

  .image {
    width: 98%;
    height: 98%;
  }

  .background {
    height: 25rem;
    width: 25rem;
    @include media-breakpoint-down(md) {
      width: 100%;
      height: 20rem;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      transition: .4s;
      background-image: url('/static/img/background-instagram.jpg');
      opacity: 0;
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
}
.images-holder {
  @include media-breakpoint-down(md) {
    flex-direction: column;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}

</style>
