<template>

  <div class='container container-narrow'>
      <div class='location-preview d-flex flex-column align-items-center'>
        <div class='position-relative w-100 d-flex  justify-content-center'>

            <!-- HEADLINE -->
            <h2 class='big-font position-absolute l-0 text-1' v-html="headline"></h2>

            <div class='image-wrapper position-relative'>

                <!-- DECORS -->
                <img src='/img/decorations/yellow.png' class='yellow-decoration position-absolute t-0' />

                <img src='/img/decorations/green.png' class='green-decoration position-absolute t-0' />

                <!-- MAP -->
                <div class='map-wrapper position-absolute t-0'>
                    <parallax :wrapped='false'
                        :global='true'
                        :absolute='true'
                        :speedFactor='-0.16'>
                        <google-map class='map' :model='model'></google-map>
                  </parallax>

                </div>
            </div>
        </div>

        <!-- TEXT2 -->
        <parallax class='text-2'
                        :global='true'
                        :speedFactor='-0.25'>
            <h2 class='big-font l-0 w-100 text-right' v-html='headline2'></h2>
        </parallax>

      </div>
  </div>
</template>

<script>

import GoogleMap from '@/components/shared/GoogleMap';

export default {
    name: 'location-preview',
    data: () => ({

    }),

    props: [

        'model'
    ],

    methods: {
    },

    computed: {
        image()  {
            return '/img/girl.jpg'
        },
        title()  {
            return this.model.title
        },
        locale() {
            return this.$store.getters['app/getState']('locale')
        },
        headline() {
            let c = this.model.fields.headline
            return c[this.locale] || c
        },
        subheadline(){
          let c = this.model.fields.subheadline

          return c[this.locale] || c
        },
        headline2()  {

            if(!this.model){
                return
            }
            let c = this.model.fields.headline_2

            return c ? c[this.locale] || c : null

        },
    },

    components: {
        GoogleMap
    }
}

</script>

<style lang="scss" scoped="">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~/assets/css/mixins.scss';

.location-preview {
}

.text-box{
    background: rgba(255,255,255, 0.7);
    padding: 2rem;
    display: inline-block;
}

.yellow-decoration{
    left: -30%;
    height: 40vw;
    top: 5vw;
    opacity: 0.6;
    z-index: -2;
}

.green-decoration{
    right: -20%;
    opacity: .8;
    top: 5vw;
    height: 30vw;
    transform: scaleX(-1);
    z-index: -2;
}

.text-1 {
    @include media-breakpoint-down(md) {
        padding-top: .6em;
    }
}

.text-2{
    top: 0;
    position: relative;

    @include media-breakpoint-down(md) {
        top: 4em;
    }
}

.image-wrapper{
    @include square(120%);

    width: 50%;
    left: 0;
    position: relative;
    // overflow: hidden;
    top: 10vh;

    @include media-breakpoint-down(md) {
        width: 100%
    }
}

.map-wrapper {
  z-index: -1;
  height: 100%;
  width: 100%;

  .map{
  }
}

.container {
    @include media-breakpoint-down(md) {
        padding: 0 0 5em 0;
    }
}
</style>
