<template>
 <div class='offices'>

    <div class='container'>

     <div class='row mb-4' v-for='(group, index) in groups' :key="index">

          <h4 class='display-3 col-md-2 bold-font p-0 d-flex align-items-center entrance-name mb-3 mb-md-0'>
            <span>{{group.entrance}}</span>
          </h4>

          <div class='d-flex col p-0 flex-column flex-md-row mb-4 mb-md-0'>

            <!-- FLOORS -->
            <div class='d-flex pr-3 col-xs-12 col-md-2 p-0 mb-3 mb-md-0' v-for='floor in group.floors' :key="floor">
              <h4 class='h1 mr-2 bold-font purple-text'>{{floor.floor}}</h4>

              <!-- SHOPS -->
              <div class='d-flex flex-column pt-3'>
                <h5 class='medium-font mb-2'
                    v-for='(office, index) in floor.offices'
                    v-html='office.fields.title' :key="index">
                </h5>
              </div>
              <!-- END :: SHOPS -->

            </div>
            <!-- END :: FLOORS -->

          </div>

     </div>

    </div>
 </div>
</template>

<script>


export default {
    name: 'offices',
    data: () => ({
    }),

    props: [
      'model'
    ],

    mixins: [
    ],

    components: {
    },

    watch: {
        oneDirectionVisible(visible)  {
        }
    },

    methods: {
      getUniqueValues: function(collection, filterName)  {
          var self = this

          if (!collection.length) {
              return
          }

          let u = _.uniq(_.map(collection, (val, key) => val.fields[filterName]).filter((model) => {
              return model || _.isNumber(model)
          })).sort()

          return u
      }
    },

    mounted()  {
        // requestAnimationFrame(() => {
        //     this.waypointResize()
        // })
    },

    computed: {
        offices(){
            return this.$store.getters['pages/getManyByProp']('entity_type', 'office')
        },

        entrances(){
            return this.getUniqueValues(this.offices, 'entrance')
        },

        groups(){
            console.log('hello', 'heloo');
            let g = _.map(this.entrances, (entrance) => {

                // all offices in the same entrancec
                let offices = _.filter(this.offices, (office) => {
                  return office.fields.entrance == entrance
                })


                // get existing floors in the offices on that entrance
                let floors = this.getUniqueValues(offices, 'floor')

                let f = _.map(floors, (floor) => {

                  // offices on the specific floor on the specific entrance
                  let s = _.filter(offices, (office) => {
                    return office.fields.floor == floor
                  })

                  return {
                    "floor": floor,
                    "offices": s
                  }
                })

                return {
                  "entrance" : entrance,
                  "floors": f
                }

            })
            return g
        }
    }
}

</script>

<style lang="scss" scoped="">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~/assets/css/mixins.scss';

.offices{
}

</style>
