<template>
  <div class='offices-navigator position-relative' :style="{ height: pageHeight + 'px'}">
    <div class='offices-navigator-wrapper center position-relative d-flex flex-column'>

        <!-- OFFICE NAV -->
        <section ref='wrapper' class='position-relative col p-0'>

            <div v-bind:style="{ left: elLeft + 'px', top: elTop + 'px', width: elWidth + 'px', height: elHeight + 'px' }"
                  class='inner-wrapper'>
                <img id='navigatorImg'
                     class='navigatorImg'
                     :src='image' />
                <svg id="navigatorSVG"
                     class="svg"
                     :viewBox="viewBox">
                   <navigator-path  v-if='spaces'
                                   :id='space.fields.space_id'
                                   :key='space.name'
                                   v-for="space in spaces"
                                   :model='space'
                                   :isActive='isActiveSpace(space)'
                                   v-on:navigate="openPopup(space)"></navigator-path>
                </svg>
            </div>

        </section>
        <!-- END :: OFFICE NAV -->

    </div>

  </div>
</template>

<script>
import NavigatorPath from '@/components/floorplan/NavigatorPath';
import CustomTransition from '@/components/CustomTransition';
// import EventBus from '@/config/event-bus';

export default {
    name: 'offices-navigator',

    data: () => ({
        original_width: 2049,
        original_height: 1340,
        wrapperHeight: null,
        wrapperWidth: null,
        selectedBuilding: null,
        activeSpace: null,
        contain: true
    }),

    props: [
        'model'
    ],

    mounted(){
        this.$nextTick(() => {
            this.resize();
        })
    },

    watch: {
      pageHeight(h) {
        this.resize()
      },

      pageWidth(w) {
        this.resize()
      },
      selectedBuilding(val) {
          console.log('ooola', this.groups)
      }
    },

    methods: {
        getUniqueValues: function(collection, filterName)  {
          var self = this

          if (!collection.length) {
              return
          }

          let u = _.uniq(_.map(collection, (val, key) => val.fields[filterName]).filter((model) => {
              return model || _.isNumber(model)
          })).sort()

          return u
        },
        isActiveSpace(space){
            let shop = this.getAttribute(space, 'shop')

            return (this.activeSpace && shop) && (shop.id == this.activeSpace.id)
        },
        activateSpace(brand) {
            this.activeSpace = brand
        },
        deactivateSpace(brand){
            if(brand.id == this.activeSpace.id){
                this.activeSpace = null
            }
        },
        openPopup(building){
            // this.selectedBuilding = this.$store.getters['pages/getByProp']('id', building.id)
            building = this.$store.getters['pages/getByProp']('id', building.id)
            this.$store.dispatch('app/SET_STATE', {
                selectedBuilding: building
            });
        },

        closePopup(){
            this.selectedBuilding = null
        },
        resize(){
            this.wrapperHeight = this.$refs.wrapper.clientHeight
            this.wrapperWidth = this.$refs.wrapper.clientWidth
        },


    },

    computed: {
        pageHeight()  {
            return this.$store.getters['app/getState']('height')
        },

        pageWidth()  {
            return this.$store.getters['app/getState']('width')
        },
        offices(){
            return this.$store.getters['pages/getManyByProp']('entity_type', 'office')
        },
        entrances(){
            return this.selectedBuilding.fields.entrances;
        },
        image()  {
            return '/img/offices_FRESHPRINCEOFBELAIR.png'
        },

        viewBox(){
            return [
                0,
                0,
                this.original_width,
                this.original_height
            ].join(", ")
        },
        groups(){
            let g = _.map(this.selectedBuilding.fields.entrances, (entrance) => {
                // all offices in the same entrancec
                let offices = _.filter(this.offices, (office) => {
                    // console.log(office.fields.entrance, entrance.fields.title);
                    return office.fields.entrance == entrance.fields.title
                })

                // get existing floors in the offices on that entrance
                let floors = this.getUniqueValues(offices, 'floor')

                let f = _.map(floors, (floor) => {

                  // offices on the specific floor on the specific entrance
                  let s = _.filter(offices, (office) => {
                      // console.log('office.fields.floor == floor', office.fields.floor == floor)
                    return office.fields.floor == floor
                  })

                  return {
                    "floor": floor,
                    "offices": s
                  }
                })

                return {
                  "entrance" : entrance,
                  "floors": f
                }

            })
            console.log('g', g);
            return g
        },
        spaces(){
            console.log("building", this.$store.getters['pages/getManyByProp']('attribute_set_code', 'building'))
            return this.$store.getters['pages/getManyByProp']('attribute_set_code', 'building')
        },

        // POSITIONING
        ratio() {
            var self = this

            var imageRatio = this.original_width / this.original_height, // ratio of the original image
                pageRatio = self.wrapperWidth / self.wrapperHeight // ratio of the view

            // write this slightly prettier, but that's it in general
            if(this.contain){
                return (imageRatio > pageRatio) ? self.wrapperWidth / this.original_width : self.wrapperHeight / this.original_height
            }else{
                return (imageRatio > pageRatio) ? self.wrapperHeight / this.original_height : self.wrapperWidth / this.original_width
            }
        },

        elWidth() {
            return this.ratio * this.original_width
        },

        elHeight() {
            return this.ratio * this.original_height
        },

        elLeft() {
            return (this.wrapperWidth - this.elWidth) / 2 // left position of the layer - to center horizontaly
        },

        elTop() {
            return (this.wrapperHeight - this.elHeight) / 2 // top positon of the layer - to center vertically
        },

        brands(){
          let brands = this.$store.getters['pages/getManyByProp']('attribute_set_code', 'space')

          return _.orderBy(brands, ['fields.title'], ['asc'])
        }
    },

    components: {
        NavigatorPath,
        CustomTransition
    }
}

</script>

<style lang="scss" scoped="">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';


.offices-navigator-wrapper{
    position: relative;
    width: 80%;
    height: 100%;
}

.inner-wrapper{
    position: relative;
}

#navigatorImg,
#navigatorSVG {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}

.popup-wrapper{
    width: 100%;
    height: 80%;
    position: absolute;
    left: 0;
    top: 10%;
    background: rgba(white, 0.95);
    box-shadow: 0px 11px 40px 4px rgba(0, 0, 0, 0.05);

    .popup{
        z-index: 123;
        height: 100%;
        @include media-breakpoint-down(md) {
            max-width: 80vw;
        }

        position: relative;

        @include media-breakpoint-down(md) {
            padding: 3vw 4vw;
        }
    }
}

.shop-logo {
    // height: 3vw;
   max-width: 80%;
   min-width: 60px;

   @include media-breakpoint-down(md) {
        max-width: 80px;
        max-height: 80px;
   }
}

.close-link{
    position: absolute;
    top: 2vw;
    left: 2vw;
}
.floor {

}
.offices {

    .logo {
      width: 80%;
    }

    h5 {
        &:last-child {
            margin-bottom: 0;
        }
    }

    .content /deep/ {
      p {
        color: black;
        font-size: 1rem;
        margin-bottom: 0;
      }
    }
}
</style>
