<template>
  <div :key='selectedBuilding.id' class='office-nav-popup popup-wrapper'>
      <div class='popup d-flex align-items-center justify-content-center p-5 p-md-4'>
          <div href='#' class='bold-font close-link' @click='closePopup'>
              <span>{{$t('close')}}</span>
          </div>

          <div class='w-100 offices-wrapper mb-2 mt-5 mt-md-0'>
              <div class='row justify-content-center' :class='{"mb-4 mb-md-4 mt-md-5": groups.length > 1 && index==0}' v-for='(group, index) in groups' :key="index">

                  <h4 class='col-md-1 h1 bold-font p-md-0 d-flex entrance-name mb-4 mb-md-0 justify-content-center'>
                    <span>{{group.entrance.fields.title}}</span>
                  </h4>


                  <!-- FLOORS -->
                  <div class='col-md d-flex flex-column floor mb-3 mb-md-0' :class='{"col-md-2" : group.floors.length<6}' v-for='(floor, index) in group.floors' :key="index">

                      <h4 class="d-flex mb-1 h1 bold-font justify-content-md-center">
                          {{floor.floor}}.
                      </h4>

                      <!-- OFFICES -->
                      <div class='d-flex flex-column align-items-md-center offices text-md-center pt-1 mb-2 mb-md-0' v-for='office in floor.offices' :key="office">

                            <h5 v-if='!office.fields.logo' class='medium-font mb-1' v-html='office.fields.title'></h5>
                            <img v-if='office.fields.logo' class='logo mb-2 mt-1' :src="getImageVersion(office.fields.logo, 'image')">
                            <a :href='"mailto:" + office.fields.contact' v-html='office.fields.contact'></a>
                            <a :href='"tel:" + office.fields.phone' v-html='office.fields.phone'></a>
                            <a :href='office.fields.www' target='_blank' v-html='office.fields.www'></a>

                      </div>
                      <!-- END :: OFFICES -->

                  </div>
                  <!-- END :: FLOORS -->


               </div>
           </div>
      </div>
  </div>
</template>

<script>
import NavigatorPath from '@/components/floorplan/NavigatorPath';
import CustomTransition from '@/components/CustomTransition';

export default {
    name: 'office-nav-popup',

    data: () => ({
    }),

    props: [
        'model',
        'selectedBuilding'
    ],

    mounted() {
    },

    watch: {

    },

    methods: {
        getUniqueValues: function(collection, filterName)  {
          var self = this

          if (!collection.length) {
              return
          }

          let u = _.uniq(_.map(collection, (val, key) => val.fields[filterName]).filter((model) => {
              return model || _.isNumber(model)
          })).sort()

          return u
        },
        isActiveSpace(space){
            let shop = this.getAttribute(space, 'shop')

            return (this.activeSpace && shop) && (shop.id == this.activeSpace.id)
        },
        openPopup(building){
            this.selectedBuilding = this.$store.getters['pages/getByProp']('id', building.id)
        },

        closePopup(){
            this.$store.dispatch('app/SET_STATE', {
                selectedBuilding: null
            });
        },
        resize(){
            this.wrapperHeight = this.$refs.wrapper.clientHeight
            this.wrapperWidth = this.$refs.wrapper.clientWidth
        },


    },

    computed: {
        offices(){
            return this.$store.getters['pages/getManyByProp']('entity_type', 'office')
        },
        entrances(){
            return this.selectedBuilding.fields.entrances;
        },
        groups(){
            let g = _.map(this.selectedBuilding.fields.entrances, (entrance) => {
                // all offices in the same entrancec
                let offices = _.filter(this.offices, (office) => {
                    console.log(office.fields.entrance, entrance.fields.title);
                    return office.fields.entrance == entrance.fields.title
                })

                // get existing floors in the offices on that entrance
                let floors = this.getUniqueValues(offices, 'floor')

                let f = _.map(floors, (floor) => {

                  // offices on the specific floor on the specific entrance
                  let s = _.filter(offices, (office) => {
                      console.log('office.fields.floor == floor', office.fields.floor == floor)
                    return office.fields.floor == floor
                  })

                  return {
                    "floor": floor,
                    "offices": s
                  }
                })

                return {
                  "entrance" : entrance,
                  "floors": f
                }

            })
            console.log('g', g);
            return g
        },
        spaces(){
            return this.$store.getters['pages/getManyByProp']('attribute_set_code', 'building')
        },

        // POSITIONING
        ratio() {
            var self = this

            var imageRatio = this.original_width / this.original_height, // ratio of the original image
                pageRatio = self.wrapperWidth / self.wrapperHeight // ratio of the view

            // write this slightly prettier, but that's it in general
            if(this.contain){
                return (imageRatio > pageRatio) ? self.wrapperWidth / this.original_width : self.wrapperHeight / this.original_height
            }else{
                return (imageRatio > pageRatio) ? self.wrapperHeight / this.original_height : self.wrapperWidth / this.original_width
            }
        }
    },

    components: {
        CustomTransition
    }
}

</script>

<style lang="scss" scoped="">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.popup-wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0%;
    background: rgba(white, 0.95);
    box-shadow: 0px 11px 40px 4px rgba(0, 0, 0, 0.05);
    z-index: 1230;
    overflow: auto;

    .popup{
        height: 100%;
        overflow: auto;
        position: relative;

        .offices-wrapper {
          @include media-breakpoint-down(sm) {
            height: 100%;
          }
        }
    }
}

.close-link{
    cursor: pointer;
    position: absolute;
    top: 2vw;
    left: 2vw;
    color: black;

    @include media-breakpoint-down(sm) {
      top: 2rem;
      left: 2rem;
    }
}
.floor {

}
.offices {

    .logo {
      width: 80%;
      @include media-breakpoint-down(sm) {
        width: 60%;
      }
    }

    h5 {
        &:last-child {
            margin-bottom: 0;
        }
    }

    .content /deep/ {
      p {
        color: black;
        font-size: 1rem;
        margin-bottom: 0;
      }
    }
}
</style>
