<template>
<div class='info row' :class='{"left-aligned" : leftOriented}' :style="{opacity: elOpacity, transform: elTransform}">

   <div class="position-absolute green-decoration" :class='{"green-decoration--right" : !leftOriented}'>
      <img src='/img/decorations/green.png' class="green-decor-img h-100"/>
   </div>

   <div v-if="model.fields.map_preview" class='col-12 pl-0 pr-0 col-md-9 map-col'>
       <div class='position-relative w-100 h-100'>
          <parallax :wrapped='false'
                  :global='true'
                  :absolute='true'
                  :speedFactor='-0.15'>
           <google-map class="h-100" :model='model'></google-map>
        </parallax>
       </div>
   </div>

   <div v-else class='col-12 pl-0 pr-0 col-md-9 image-col'>
       <div class='position-relative w-100 h-100'>
          <parallax :wrapped='true'
                  :global='true'
                  :absolute='true'
                  :speedFactor='0.15'>
           <div class='cover bg-center h-100'
                :style="{ backgroundImage: `url('${getImageVersion(model, 'image', 'large')}')` }"></div>
        </parallax>
       </div>
   </div>

   <div class='text-col col-md-3 d-flex align-items-center p-md-3 p-0 mt-4 mt-md-0'>
      <parallax class='content' :global='true' :speedFactor='-0.25'>
         <h4 class='medium-font h6 text-uppercase mb-2 purple-text line-before' :class='{"line-before--right" : !leftOriented}'>{{subheadline}}</h4>
         <h3 class='h2' v-html='headline'></h3>

         <router-link v-if='relatedPage' class='btn btn--blue-border medium-font mt-2 d-inline-block' v-bind:to="{path: relatedPage.url}">{{ $t('moreInfo') }}</router-link>
      </parallax>
   </div>
</div>

</template>

<script>
// import PixiSlider from '@/components/shared/PixiSlider';
import GoogleMap from '@/components/shared/GoogleMap';
import WaypointMixin from '@/plugins/mixins/waypoint';

export default {
    name: 'info',
    data: () => ({
    }),

    props: [
        'model'
    ],

    watch: {
      oneDirectionVisible(visible) {
        this.fadeIn = visible
      }
    },

    mixins: [
      WaypointMixin
    ],

    methods: {
    },

    mounted()  {
        // this.initBtn()
        // this.initPixiSlider();

        requestAnimationFrame(() => {
            // this.waypointResize()
        });
    },

    computed: {
       locale() {
            return this.$store.getters['app/getState']('locale')
        },
        headline() {
            let c = this.model.fields.headline
            return c[this.locale] || c
        },
        subheadline(){
          let c = this.model.fields.subheadline

          return c[this.locale] || c
        },
        title()  {
            return this.model.title
        },
        relatedPage(){
          let relPage = this.getAttribute(this.model, 'related_page');
          relPage = relPage ? this.$store.getters['pages/getByProp']('id', relPage.id) : null

          return relPage
        },

        elOpacity()  {
            return this.oneDirectionVisible ? 1 : 0
        },

        leftOriented(){
          return this.getAttribute(this.model, 'left_oriented')
        },

        elTransform()  {
            let y = this.oneDirectionVisible ? 0 : 32
            return 'translateY(' + y + 'px)'
        },
        lineClass() {
          return this.leftOriented ? "line-before" : "line-before--right"
        }

    },

    components: {
        // PixiSlider,
        GoogleMap
    }
}

</script>

<style lang="scss" scoped="">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
.info {
  transition: all 0.5s;
  // min-height: 100vh;
  text-align: right;
}

.left-aligned{
  .text-col{
    text-align: left;
    order: -1;

    @include media-breakpoint-down(md) {
      order: 0;
    }
  }
}

.content{
    padding: 8vw 0;

    @include media-breakpoint-down(md) {
      padding: 0;
    }
}

.image-col {
  @include media-breakpoint-down(md) {
    height: 73vw;
  }
}

.map-col {
  height: 34vw;
  @include media-breakpoint-down(md) {
    height: 73vw;
    margin-bottom: 5rem;
  }
}

.green-decoration{
    left: 20%;
    opacity: .8;
    height: 40vw;

    &--right{
      right: 20%;

      .green-decor-img{
        transform: scaleX(-1);
      }
    }
}
</style>
