<template>
<div class='pixi-slider'>
</div>

</template>

<script>
import WaypointMixin from '@/components/behaviours/Waypoint';
import * as PIXI from 'pixi.js';

export default {
    name: 'pixi-slider',
    data: () => ({
        options: {
            displacementImage: '/img/clouds.jpg',
            displaceScale: [

                100,

                60
            ],
            displacementCenter: true,
            wacky: true
        },
        oldIndex: 0,
        wrapped: true
    }),

    mixins: [

        WaypointMixin
    ],

    props: [

        'currentIndex',

        'slides',

        'model',

        'wobbling',

        'ratio',

        'parallaxOffset',

        'fadeIn',

        'size'
    ],

    watch: {
        currentIndex(slideIndex)  {
            // this.oldIndex = slideIndex;
            this.goToSlide(slideIndex)
        },
        wobbling(wobbling)  {
            let self = this

            this.wobble(wobbling)
        },
        scrollOffset(top)  {
            this.parallax(top)
        },
        fadeIn(visible)  {
            this.toggleFade(visible)
        }
    },

    mounted()  {
        let self = this;

        this.initStage()
        this.setupStage()
        this.loadSprites()
        this.initTicker()

        requestAnimationFrame(() => {
            // this.waypointResize()
            this.resizeHandler()
            this.parallax(this.scrollOffset)

            this.toggleFade(this.fadeIn)
        })

    },

    destroyed()  {
        this.ticker.destroy()
        // this.stage.destroy(true)
    },

    methods: {
        // PARALLAX
        parallax(top)  {
            let self = this;

            let bound = this.topOffset || this.refBound

            let start = bound

            let isClose = bound === 0

            // console.log("BB", this.bounds.top)

            start = this.parallaxOffset || isClose ? 0 : start - window.innerHeight


            let end = start + this.pageHeight
            end += isClose ? 0 : this.refElSize
            end += this.wrapped ? 0 : Math.abs(this.move / 2)


            if (this.toEnd) {
                end = this.horizontal ? this.pageWidth : this.pageHeight
                end -= this.refElSize
            }

            this.oldPercentage = this.percentage
            this.percentage = this.scrollProgress(start, end, this.scrollOffset)

            if(this.oldPercentage == this.percentage){
                return;
            }




            // console.log("START", percentage);

            let currentMove = Math.ceil(this.move * this.percentage)
            let y = currentMove

            this.slidesContainer.position.y = y

            // requestAnimationFrame(() => {
                // self.ticker.stop();
            // })
        // console.log("XXX", y, this.model);
        },
        getOffset()  {
            var m = -this.move

            // return m

            return this.parallaxOffset ? 0
                    : this.wrapped ? m
                        : Math.round(m / 2)


        },
        resizeHandler()  {
            if (!this.$el) {
                return
            }

            this.bounds = this.$el.getBoundingClientRect()

            this.refBound = this.bounds.top + this.scrollOffset
            this.refElSize = this.$el.offsetHeight
        },

        // returning the scroll progress from 0 to 1 in between start/end pixels
        scrollProgress(start, end, scrollOffset)  {
            var scrollOffset = scrollOffset || this.scrollOffset,
                factor = (end - start) / 100,
                scrollStart = (scrollOffset - start) / factor,
                percentage = (scrollOffset >= start && scrollOffset <= end) ? scrollStart / 100
                    : (scrollOffset > start) ? 1 : 0

            return percentage
        },
        // END PARALLAX

        initStage()  {
            // create the renderer
            this.renderer = new PIXI.autoDetectRenderer(this.$el.clientWidth, this.$el.clientHeight, {
                transparent: true
            })

            // create the containers
            this.stage = new PIXI.Container()
            this.slidesContainer = new PIXI.Container()
            this.parallaxContainer = new PIXI.Container()

            // create the filters
            this.displacementSprite = new PIXI.Sprite.fromImage(this.options.displacementImage)
            this.displacementFilter = new PIXI.filters.DisplacementFilter(this.displacementSprite)

            // Add canvas to the HTML
            this.$el.appendChild(this.renderer.view)

            // Add child container to the main container
            this.stage.addChild(this.parallaxContainer)

            // add the parallax sizer
            this.parallaxContainer.addChild(this.slidesContainer)

            // Enable Interactions
            this.stage.interactive = true
        },
        setupStage()  {

            // Fit renderer to the screen
            if (this.options.fullScreen === true) {
                renderer.view.style.objectFit = 'cover'
                this.renderer.view.style.width = '100%'
                this.renderer.view.style.height = '100%'
                this.renderer.view.style.top = '50%'
                this.renderer.view.style.left = '50%'
                this.renderer.view.style.webkitTransform = 'translate( -50%, -50% ) scale(1.2)'
                this.renderer.view.style.transform = 'translate( -50%, -50% ) scale(1.2)'
                this.renderer.view.style.position = 'absolute'
            } else {
                this.renderer.view.style.width = '100%'
                this.renderer.view.style.height = '100%'
                this.renderer.view.style.top = '50%'
                this.renderer.view.style.left = '50%'
                this.renderer.view.style.webkitTransform = 'translate( -50%, -50% )'
                this.renderer.view.style.transform = 'translate( -50%, -50% )'
                this.renderer.view.style.position = 'absolute'
            }

            this.displacementSprite.texture.baseTexture.wrapMode = PIXI.WRAP_MODES.REPEAT

            // if (this.options.displacementCenter === true) {
            this.displacementSprite.anchor.set(0.5)
            this.displacementSprite.x = this.renderer.view.width / 2
            this.displacementSprite.y = this.renderer.view.height / 2
            // }

            this.stage.scale.x = 1.15
            this.stage.scale.y = 1.15

            // Set the filter to stage and set some default values for the animation
            this.stage.filters = [

                this.displacementFilter
            ]

            // if (this.options.autoPlay === false) {
                // this.displacementFilter.scale.x = 0
                // this.displacementFilter.scale.y = 0
            // }

            if (this.options.wacky === true) {
                this.displacementSprite.anchor.set(0.5)
                this.displacementSprite.x = this.renderer.width / 2
                this.displacementSprite.y = this.renderer.height / 2
            }

            this.displacementSprite.scale.x = 2
            this.displacementSprite.scale.y = 2

            // PIXI tries to fit the filter bounding box to the renderer so we optionally bypass
            this.displacementFilter.autoFit = this.options.displaceAutoFit

            // setup parallax container
            let ratio = !this.ratio || typeof this.ratio == "undefined" ? 1.2 : this.ratio
            this.move = (this.renderer.height * ratio) - this.renderer.height

            // this.parallaxContainer.scale.x = this.parallaxOffset ? 1 : ratio
            // this.parallaxContainer.scale.y = this.parallaxOffset ? 1 : ratio

            console.log("RATIO!", ratio);

            // this.parallaxContainer.scale.y = this.parallaxOffset ? 1 : this.ratio
            // this.parallaxContainer.scale.x = this.parallaxOffset ? 1 : this.ratio

            // this.parallaxContainer.position.x = -300
            // this.parallaxContainer.position.y = this.renderer.view.height / 2

            this.parallaxContainer.position.y = this.getOffset()


            // this.parallaxContainer.cacheAsBitmap = true

            this.stage.addChild(this.displacementSprite)
        },

        loadSprite(imgUrl, index, loader)  {
            let self = this

            var texture = loader.resources[imgUrl].texture

            // var texture = new PIXI.Texture.fromImage(imgUrl)
            var sprite = new PIXI.Sprite(texture)

            sprite.anchor.set(0.5)
            sprite.x = this.renderer.width / 2
            sprite.y = this.renderer.height / 2

            var winratio = this.renderer.width / this.renderer.height
            var spratio = sprite.width / sprite.height
            var scale = 1
            var pos = new PIXI.Point(0, 0)
            let type = 'cover'

            if (winratio > spratio) {
                scale = this.renderer.width / texture.orig.width
            } else {
                scale = this.renderer.height / texture.orig.height
            }

            console.log("imgurk", texture.orig.height);

            sprite.scale = new PIXI.Point(scale, scale)

            // set the alpha to 0 to all inactive slides
            if (index !== 0) {
                TweenMax.set(sprite, {
                    alpha: 0
                })
            }

            this.slidesContainer.addChild(sprite)
        },

        loadSprites()  {
            let self = this

            _.each(this.slides, (slide, index) => {
                // console.log("URL", this.getImageVersion(slide, 'large'), this.size);

                let imgUrl = _.isObject(slide) ? this.getImageVersion(slide, 'image', this.size) : slide
                let loader = new PIXI.loaders.Loader()

                loader.add(imgUrl, imgUrl)

                loader.load((loader, resources) => {
                    self.loadSprite(imgUrl, index, loader)
                    loader.reset()
                    loader.destroy()

                    setTimeout(() => {
                        let dif = this.parallaxContainer.width - this.stage.width
                        this.parallaxContainer.position.x = dif / 2;
                    }, 0)
                })
            })
        },

        initTicker()  {
            var self = this

            this.ticker = new PIXI.ticker.Ticker()

            this.ticker.autoStart = false

            this.ticker.add((delta) => {
                self.renderer.render(self.stage)
            })
        },

        wobble(wobbling)  {
            let self = this

            self.ticker.start();

            let baseTimeline = new TimelineMax({
                onComplete: function()  {
                    // self.ticker.stop();
                },
                onUpdate: function()  {
                    self.ticker.start();
                    if (self.options.wacky === true) {
                        self.displacementSprite.rotation += baseTimeline.progress() * 0.02
                        self.displacementSprite.scale.set(baseTimeline.progress() * 3)
                    }
                }
            })

            baseTimeline.clear()

            if (wobbling || 1) {
                baseTimeline.to(self.displacementFilter.scale, 1, {
                    x: self.options.displaceScale[0] * 1,
                    y: self.options.displaceScale[1] * 1,
                    ease: Power4.easeOut
                }).to(self.displacementFilter.scale, 1, {
                    x: 0,
                    y: 0,
                    ease: Power4.easeOut
                }, 0.3)
            } else {
                baseTimeline.to(self.displacementFilter.scale, 1, {
                    x: 0,
                    y: 0,
                    ease: Power4.easeOut
                })
            }
        },

        toggleFade(state)  {
            let self = this
            let a = state ? 0 : 1
            let a1 = state ? 1 : 0

            self.ticker.start();

            TweenMax.fromTo(self.stage, 1, {
                alpha: a
            },{
                alpha: a1,
                delay: 0.05,
                onComplete: () => {
                    // self.ticker.stop();
                },
                onUpdate: () => {
                    self.ticker.start();
                }
            });

            this.wobble(true);
        },

        goToSlide(slideIndex)  {
            let self = this
            let isPlaying = true

            this.ticker.start();

            var slideImages = this.slidesContainer.children

            let baseTimeline = new TimelineMax({
                onComplete: function()  {
                    isPlaying = false

                    // self.ticker.stop();

                    if (self.options.wacky === true) {
                        self.displacementSprite.scale.set(1)
                    }
                },
                onUpdate: function()  {

                    self.ticker.start();

                    if (self.options.wacky === true) {
                        self.displacementSprite.rotation += baseTimeline.progress() * 0.02
                        self.displacementSprite.scale.set(baseTimeline.progress() * 3)
                    // self.displacementSprite.rotation += baseTimeline.progress() * 0.01
                    }

                }
            })

            baseTimeline.clear()

            if (baseTimeline.isActive()) {
                return
            }

            // ANIMATE THE FILTER
            baseTimeline.to(self.displacementFilter.scale, 1, {
                x: self.options.displaceScale[0],
                y: self.options.displaceScale[1],
                ease: Power4.easeOut
            })
                // FADE OUT THE OLD SLIDE
                .to(slideImages[self.oldIndex], 0.5, {
                    alpha: 0,
                    ease: Power2.easeOut
                }, 0.1)
                // FADE IN THE NEW SLIDE
                .to(slideImages[slideIndex], 0.5, {
                    alpha: 1,
                    ease: Power2.easeOut
                }, 0.1)
                // ANIMATE THE FILTER
                .to(self.displacementFilter.scale, .7, {
                    x: 0,
                    y: 0,
                    ease: Power2.easeOut
                }, 0.2)

            self.oldIndex = slideIndex

        }
    },

    computed: {
        scrollOffset()  {
            return this.$store.getters['app/getState']('scrollTop')
        },
        pageHeight() {
          return this.$store.getters['app/getState']('height')
        }
    }
}

</script>

<style lang="scss" scoped="">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
.pixi-slider {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
}
</style>
