<template>
  <div class='shop-listing mb-5'>
      <h5 class='text-center bold-font mb-4'>{{ $t('shopListingHeadline') }}</h5>

      <div class='row'>
          <div class='col-md-3 mb-2' v-for='(brand, index) in brands' :key="index">
            <router-link class='brand line-link' v-bind:to="{path: brand.url}">{{brand.fields.title}}</router-link>
          </div>
      </div>

  </div>
</template>

<script>


export default {
    name: 'shop-listing',
    data: () => ({

    }),

    props: [

        'model'
    ],

    methods: {
    },

    computed: {
        brands(){
          let brands = this.$store.getters['pages/getManyByProp']('attribute_set_code', 'shop')

          return _.orderBy(brands, ['fields.title'], ['asc'])
        },
    },

    components: {

    }
}

</script>

<style lang="scss" scoped="">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';


.shop-listing {
}
</style>
