<template>
<div class='slider position-relative w-100 h-100'>

   <!--  <parallax :wrapped='false'
              :global='true'
              :absolute='true'
              :offset='.1'
              :speedFactor='-0.15'> -->
       <div class='col cover bg-center h-100'
            :style="{ backgroundImage: `url('${getImageVersion(currentSlide, 'image', 'medium_image')}')` }"></div>
    <!-- </parallax> -->


    <div class='controls'>
      <a href='#' @click='prevSlide()'>Prev</a>
      <a href='#' @click='nextSlide()'>Next</a>
    </div>

</div>

</template>

<script>

export default {
    name: 'slider',
    data: () => ({
        currentIndex: 0,
        wobble: false,
        fadeIn: false
    }),

    props: [
        'model',
        'slides',
        'wideBtns'
    ],

    components: {
    },

    mounted()  {
        let self = this
        setTimeout(() => {
            self.fadeIn = true
        }, 400)
    },

    destroyed()  {},

    updated()  {},

    methods: {

        nextSlide()  {
            if (this.currentIndex >= 0 && this.currentIndex < this.slides.length - 1) {
                this.currentIndex = this.currentIndex + 1
            } else {
                this.currentIndex = 0
            }
        },

        prevSlide()  {
            if (this.currentIndex > 0 && this.currentIndex < this.slides.length) {
                this.currentIndex = this.currentIndex - 1
            } else {
                this.currentIndex = this.slides.length - 1
            }
        }
    },

    computed: {
        currentSlide()  {
          let slide = this.slides[this.currentIndex];

          return slide.name ? slide : this.$store.getters['pages/getByProp']('id', slide.id)
        },
        title()  {
            return this.getAttribute(this.currentSlide, 'title')
        },
        height(){
            // console.log('loooog', this.$store.getters['app/getState']('wrapperHeight'))
            return this.$store.getters['app/getState']('height')
        },
        slideUrl()  {
            let slide = this.getAttribute(this.currentSlide, 'page')
            let s = this.$store.getters['pages/getByProp']('id', slide.id)

            return s.url
        }
    }
}

</script>

<style lang="scss" scoped="">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
.slider {

}

.decoration{

}

.content-window{
  background: rgba(255,255, 255, 0.8);
  padding: 3vw 4vw;
  color: $purple;
  margin-bottom: 1rem;
}


.content-wrapper{
    padding-left: 20vw;
    padding-top: 4vw;
    padding-right: 5vw;
    position: relative;
    z-index: 1000;
}

.text-1{

}

.text-2{

}

.controls{
  position:absolute;
  bottom: 0;
  right: 0;
}

.plus-btn{
  text-transform: uppercase;
  color: $white;
  font-family: 'Gotham-Bold';
  .plus{
    width: 1.6em;
    margin-left: 1em;
    transition: 0.4s;
  }

  &:hover{
    .plus{
      transform: rotate(180deg) translateZ(0);
    }
  }
}

.background-wrapper {
   padding-left: 12vw;
   padding-top: 7vw;
}

.slide-wrapper {
   display: none;
}

</style>
