<template>
<!-- Swiper main container -->
<div class="swiper-container h-100 w-100" v-swiper:mySwiper="swiperOptions" ref='swiper' @transitionStart='emitChange'>
   <!-- Additional required wrapper -->
   <div id='items-wrapper'
        class="swiper-wrapper h-100">
      <div class='swiper-slide'
           v-for="(slide, index) in slides" :key="index">
         <div class='col cover bg-center w-100 h-100'
              :style="{ backgroundImage: `url('${getImageVersion(slide, 'image', 'large')}')` }"></div>
      </div>
   </div>

   <!-- SWIPER CONTROLS -->
   <div class='swiper-controls d-none d-md-flex flex-row w-100 justify-content-center pl-3 pr-3'
        v-if='slides.length > 1'>
      <div class="d-flex w-100 align-items-center" :class="classObj">

         <long-arrow-svg  class="arrow mirror swiper-prev"></long-arrow-svg>

         <div v-if="showBullets">
            <div ref='pagination'
                class="swiper-pagination"></div>
         </div>

         <div v-else class="slide-index pl-2 pr-2 bold-font">
            {{ ('0' + (currentIndex + 1)).slice(-2)}} / {{ ('0' + slides.length).slice(-2) }}
         </div>

         <long-arrow-svg  class="arrow swiper-next"></long-arrow-svg>

      </div>
   </div>

</div>

</template>

<script>
import LongArrowSvg from '@/assets/svg/long-arrow.svg';


export default {
    name: 'swiper',

    data: () => ({
      currentIndex: 0
    }),

    directives: {
    },

    props: [

        'slides',
        'wideControls',
        'showBullets'
    ],

    mounted()  {
    },

    computed: {
      classObj() {
        return this.wideControls ? 'justify-content-between' : 'justify-content-end'
      },
      swiperOptions() {
          return {

          loop: true,
          slidesPerView: 1  ,
          centeredSlides: true,
          spaceBetween: 0,
          effect: this.$device.isMobile ? 'drag' : 'fade',
          pagination: {
            el: '.swiper-pagination',
            dynamicBullets: true
          },
          // Navigation arrows
            navigation: {
                nextEl: '.swiper-next',
                prevEl: '.swiper-prev'
            }
          }
      }
    },

    watch: {

    },

    components: {
        LongArrowSvg
    },

    methods: {
        emitChange(){
            this.currentIndex = this.mySwiper.realIndex;
        }

    }
}

</script>

<style lang="scss" scopped="">
    @import '~bootstrap/scss/functions';
    @import '~bootstrap/scss/variables';
    @import '~bootstrap/scss/mixins';
    @import '~/assets/css/variables.scss';
    @import '~/assets/css/mixins.scss';
.swiper-pagination.swiper-pagination-bullets {
   position: relative;
   .swiper-pagination-bullet {
      background: $white!important;
      opacity: 0.3;
      margin-left: 3px;
      margin-right: 3px;
      &.swiper-pagination-bullet-active {
         opacity: 1;
         background: $white!important;
      }
   }
}

.swiper-slide {
   display: flex;
   align-items: center;
   justify-content: center;
}

.image {
   // height: 80vh;
   max-width: 100%;
   max-height: 100%; // object-fit: contain;
}

.swiper-controls {
   position: absolute;
   bottom: 0;
   right: 0;
   z-index: 200;
   .arrow {
      cursor: pointer;
      width: 7em;
      fill: $black;
      transition: 0.2s;
      &:hover {
         transform: translateX(10%);
      }
      &.mirror:hover {
         transform: translateX(-10%) scaleX(-1);
      }
   }
   .mirror {
      transform: scaleX(-1);
   }
}

.white {
    .swiper-controls {
      .arrow{
        fill: $white;
      }
      .slide-index {
        color: $white;
      }
    }
}
</style>
