<template>
  <div class='floorplan'>
    <a class='bold-font close-link' href='#' @click='$emit("close")'>{{$t('close')}}</a>

    <div class='floorplan-wrapper center position-relative d-flex flex-column'>

        <!-- FLOORPLAN -->
        <section ref='wrapper' class='position-relative col p-0'>

            <div v-bind:style="{ left: elLeft + 'px', top: elTop + 'px', width: elWidth + 'px', height: elHeight + 'px' }"
                  class='inner-wrapper'>
                <img id='navigatorImg'
                     class='navigatorImg'
                     :src='image' />
                <svg id="navigatorSVG"
                     class="svg"
                     :viewBox="viewBox">
                   <navigator-path  v-if='spaces'
                                   :id='space.fields.space_id'
                                   :key='space.name'
                                   v-for="space in spaces"
                                   :model='space'
                                   :isActive='isActiveSpace(space)'
                                   v-on:navigate="openPopup(space.fields.shop)"></navigator-path>
                </svg>
            </div>

        </section>
        <!-- END :: FLOORPLAN -->



        <section class='d-none d-md-block'>
            <!-- LEGEND -->
            <div class='legend pt-2'>
                <div class='row justify-content-md-around'>
                    <div class='legend-col d-flex align-items-center'>
                        <span class='circle orange'></span>
                        <span>zábava / entertainment</span>
                    </div>

                    <div class='legend-col d-flex align-items-center'>
                        <span class='circle green'></span>
                        <span>restaurace / restaurants</span>
                    </div>

                    <div class='legend-col d-flex align-items-center'>
                        <span class='circle darkGreen'></span>
                        <span>zahrada / garden</span>
                    </div>

                    <div class='legend-col d-flex align-items-center'>
                        <span class='circle grey'></span>
                        <span>kanceláře / offices</span>
                    </div>

                    <div class='legend-col d-flex align-items-center'>
                        <span class='circle blue'></span>
                        <span>služby / services</span>
                    </div>

                    <div class='legend-col d-flex align-items-center'>
                        <span class='circle darkBlue'></span>
                        <span>značky  / brands</span>
                    </div>
                </div>
            </div>
            <!-- END :: LEGEND -->

            <!-- BRAND LIST -->
            <div class='flex-wrap mt-2 d-none d-lg-flex'>
              <div class='col-sm-3 col-lg-2 p-0 brand-col' v-for='(brand, index) in brands' :key="index">
                <a href='#'
                    @mouseleave='deactivateSpace(brand)'
                    @mouseenter='activateSpace(brand)'
                    @click='openPopup(brand)'
                    class='brand line-link small'
                    v-bind:to="{path: brand.url}">{{brand.fields.title}}</a>
              </div>
            </div>
            <!-- END :: BRAND LIST -->

        </section>

    </div>


    <img class='d-md-none' width="50px" src='/img/rotate.gif' id='rotate-gif' />


    <!-- POPUP -->
    <custom-transition>
        <div v-if='selectedShop' :key='selectedShop.id' class='popup-wrapper'>
            <div class='popup center col-md-4 text-center'>
                <a href='#' class='close-btn' @click.prevent='closePopup'>
                    <img src='/img/close.svg' />
                </a>

                <img :src='getImageVersion(selectedShop, "logo")' class='shop-logo mb-2' />

                <h4 class='mb-2' v-html='selectedShop.fields.title'></h4>

                <p class='mb-0 bold-font hours'>{{selectedShop.fields.opening_hours}}</p>
                <p class='mb-0'>{{selectedShop.fields.phone}}</p>

                <router-link class='btn mt-2 btn--blue' v-bind:to='{path: selectedShop.url}' v-html='$t("moreInfo")'></router-link>
            </div>
        </div>
    </custom-transition>
    <!-- END :: POPUP -->

  </div>
</template>

<script>
import NavigatorPath from '@/components/floorplan/NavigatorPath';
import CustomTransition from '@/components/CustomTransition';

export default {
    name: 'floorplan',

    data: () => ({
        original_width: 2014,
        original_height: 887,
        wrapperHeight: null,
        wrapperWidth: null,
        selectedShop: null,
        activeSpace: null,
        contain: true
    }),

    props: [

        'model'
    ],

    mounted(){
        this.$nextTick(() => {
            this.resize();
        })
    },

    watch: {
      pageHeight(h) {
        this.resize()
      },

      pageWidth(w) {
        this.resize()
      }
    },

    methods: {
        isActiveSpace(space){
            let shop = this.getAttribute(space, 'shop')

            return (this.activeSpace && shop) && (shop.id == this.activeSpace.id)
        },
        activateSpace(brand) {
            this.activeSpace = brand
        },
        deactivateSpace(brand){
            if(brand.id == this.activeSpace.id){
                this.activeSpace = null
            }
        },
        openPopup(shop){
            this.selectedShop = this.$store.getters['pages/getByProp']('id', shop.id)
        },
        closePopup(){
            this.selectedShop = null
        },
        resize(){
            this.wrapperHeight = this.$refs.wrapper.clientHeight
            this.wrapperWidth = this.$refs.wrapper.clientWidth
        }
    },

    computed: {
        pageHeight()  {
            return this.$store.getters['app/getState']('height')
        },

        pageWidth()  {
            return this.$store.getters['app/getState']('width')
        },

        image()  {
            let image = this.$store.getters['pages/getByProp']('attribute_set_code', 'floorplan')


            return image ? this.getImageVersion(image.fields.image, 'image') : null
        },

        viewBox(){
            return [
                0,
                0,
                this.original_width,
                this.original_height
            ].join(", ")
        },

        spaces(){
            return this.$store.getters['pages/getManyByProp']('attribute_set_code', 'space')
        },

        // POSITIONING
        ratio() {
            var self = this

            var imageRatio = this.original_width / this.original_height, // ratio of the original image
                pageRatio = self.wrapperWidth / self.wrapperHeight // ratio of the view

            // write this slightly prettier, but that's it in general
            if(this.contain){
                return (imageRatio > pageRatio) ? self.wrapperWidth / this.original_width : self.wrapperHeight / this.original_height
            }else{
                return (imageRatio > pageRatio) ? self.wrapperHeight / this.original_height : self.wrapperWidth / this.original_width
            }
        },

        elWidth() {
            return this.ratio * this.original_width
        },

        elHeight() {
            return this.ratio * this.original_height
        },

        elLeft() {
            return (this.wrapperWidth - this.elWidth) / 2 // left position of the layer - to center horizontaly
        },

        elTop() {
            return (this.wrapperHeight - this.elHeight) / 2 // top positon of the layer - to center vertically
        },

        brands(){
          let brands = this.$store.getters['pages/getManyByProp']('attribute_set_code', 'shop')

          return _.orderBy(brands, ['fields.title'], ['asc'])
        }
    },

    components: {
        NavigatorPath,
        CustomTransition
    }
}

</script>

<style lang="scss" scoped="">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';


.col-md-25{
    flex: 0 0 20%;
    max-width: 20%;
}

.brand{
    margin-bottom: .2em;
    padding-right: 0.5rem;
    display: inline-block;
}

.floorplan-wrapper{
    position: relative;
    width: 80%;
    height: 94%;
}

.inner-wrapper{
    position: relative;
}

#navigatorImg,
#navigatorSVG {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}

.popup-wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(255,255,255, 0.95);

    .popup{
        z-index: 123;
        @include media-breakpoint-down(md) {
            max-width: 80vw;
        }

        position: relative;
        padding: 6vw 4vw;
        background: white;
        box-shadow: 0px 11px 40px 4px rgba(0, 0, 0, 0.05);

        @include media-breakpoint-down(md) {
            padding: 3vw 4vw;
        }
    }
}


#rotate-gif{
    position: fixed;
    bottom: 10px;
    right: 10px;


     /* Landscape */
    @media only screen and (max-device-width: 768px) and (orientation: landscape) {
        display: none!important;
    }
}

.shop-logo {
    // height: 3vw;
   max-width: 80%;
   min-width: 60px;

   @include media-breakpoint-down(md) {
        max-width: 80px;
        max-height: 80px;
   }
}

.close-link{
    color: $blue;
}

.legend-col{
    text-transform: uppercase;
    font-family: 'Didot-Bold';
    margin: 1em .5em;

    span{
        font-size: .75rem;
    }
}

.close-btn{
    position: absolute;
    top: 2vw;
    right: 2vw;
    img{
        width: 1rem;
    }
}

.circle{
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    margin-right: 1em;

    &.orange{
        background: #faa735;
    }

    &.green{
        background: #c7b243;
    }

    &.darkGreen{
        background: #36612e;
    }

    &.grey{
        background: #afb0af;
    }

    &.blue{
        background: #657e9a;
    }

    &.darkBlue{
        background: #233069;
    }
}

.floorplan {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    z-index: 40;
}

.contain{
    background-repeat: no-repeat;
}


</style>
