<template>
<path class='navigator-path' :class='{isActive: isActive}'
      v-bind:d="convertPolyToPath(model.fields.path)"
      v-on:mouseover="openPopup(model)"
      v-on:mouseout="closePopup"
      v-on:click="$emit('navigate', model)">
</path>

</template>

<script>


export default {
    name: 'navigator-path',
    data: () => ({

    }),

    props: [
        'isActive',
        'model'
    ],

    methods: {
        convertPolyToPath(poly)  {

            if (!poly || isNaN(poly[0])) {
                return poly
            }

            var points = poly.split(/\s+|,/)
            var x0 = points.shift(),
                y0 = points.shift()
            var pathdata = 'M' + x0 + ',' + y0 + 'L' + points.join(' ')
            if (poly.tagName === 'polygon') {
                pathdata += 'z'
            }

            return pathdata
        },

        openPopup(path)  {
            // console.log('show infobox', path.name)
        },

        closePopup()  {
            // console.log('close infobox')
        }
    },

    computed: {
    },

    components: {
    }
}

</script>

<style lang="scss" scoped="">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
.navigator-path {
    fill: white;
    opacity: 0;
    transition: 0.4s;
    cursor: pointer;

    &:hover{
        opacity: 0.4
    }

    &.isActive{
        opacity: 0.6!important;
    }
}
</style>
