<template>
<div class='location row' :style="{opacity: elOpacity, transform: elTransform}">
   <div class='col-6 offset-3 justify-content-center text-center'>

      <div class='content pb-2'>
         <h4 class='medium-font h6 text-uppercase mb-2'>Shop in the heart of Prague</h4>
         <h2 class='display-4'>You will find us here</h2>
      </div>

       <div class='round-wrapper'>
          <pixi-slider :size='"large"' :fadeIn='fadeIn' :wobbling='wobbling' :currentIndex='0' :slides='[image]'></pixi-slider>
       </div>

       <btn class='black mt-3' @mousedown.native='wobble' @mouseup.native='unwobble' @mouseleave.native='unwobble'
              :path='"/" + contactPage.url'>More info</btn>

   </div>
</div>

</template>

<script>




export default {
    name: 'location',
    data: () => ({
      wobbling: false,
      fadeIn: false
    }),

    props: [

        'model'
    ],

    watch: {
      oneDirectionVisible(visible) {
        console.log('locationvisible', visible)
        this.fadeIn = visible
      }
    },

    mixins: [
    ],

    methods: {
      wobble() {
          this.wobbling = true
      },
      unwobble(){
          this.wobbling = false
      }
    },

    mounted()  {
        // this.initBtn()
        // this.initPixiSlider();

        requestAnimationFrame(() => {
            this.waypointResize()
        });
    },

    computed: {
        image()  {
            return '/img/map.jpg'
        },
        title()  {
            return this.model.title
        },
        contactPage(){
          return this.$store.getters['pages/getByProp']('attribute_set_code', 'contact')
        },

        elOpacity()  {
            return this.oneDirectionVisible ? 1 : 0
        },

        elTransform()  {
            let y = this.oneDirectionVisible ? 0 : 32
            return 'translateY(' + y + 'px)'
        }

    },

    components: {
    }
}

</script>

<style lang="scss" scoped="">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
.location {
  transition: all 0.5s;
}

.round-wrapper{
  height: 32vw;
}

.content{
}
</style>
