<template>
<transition v-on:enter="enter"
            v-on:before-enter="beforeEnter"
            v-on:after-enter="afterEnter"
            v-on:leave="leave"
            v-bind:css="false">
   <slot></slot>
</transition>

</template>

<script>
import 'gsap';

export default {
    name: 'customTransition',
    data: () => ({
        duration: .64
    }),

    computed: {
        mobile()  {
            return this.$store.getters['app/getState']('mobile')
        },
        dl() {
            return this.delay || .1
        },
        dur(){
            return this.$store.getters['app/getState']("instantTransition") && this.pageTransition ? 0 : this.duration
        },
        preloadImages(){

            if(this.page.attribute_set_code == "team"){

                let imgs = _.map(this.page.fields.gallery, (val, key) => {
                  return this.getImageVersion(val, 'image', 'large')
                })

                return imgs

            } else if(this.page.attribute_set_code == "portfolio"){
                return [ this.getImageVersion(this.page.fields.components[0].fields.slides[0], 'image', 'large') ]
            }else {
                let img = this.getImageVersion(this.page, 'image', 'large')
                return img ? [img] : null
            }
        }
    },

    props: [
        'delay',
        'img',
        'noAdditionalClasses',
        'pageTransition',
        'page'
    ],

    methods: {
        afterEnter: function(el, done)  {},

        beforeEnter(el, done)  {},

        enter(el, done)  {
            var self = this


            self.tl = new TimelineMax({
                onComplete: () => {
                    if(self.pageTransition){
                        self.$store.dispatch('app/SET_STATE', {
                            transitioning: false
                        })
                    }
                    done()
                }
            })

            self.tl.set(el, {
                opacity: 0
            })

            let dl = self.pageTransition ? self.dl : 0

            let onLoaded = () => {
                // setTimeout(() => {
                    self.$bus.$emit('preloaded' + self.page.id)
                    self.tl.to(el, self.dur, {
                        opacity: 1,
                        delay: dl
                    })
                // }, 2000)
            }

            if(this.preloadImages){
                this.loadImages({
                    urls: self.preloadImages,
                    callback: () => {
                        onLoaded()
                    }
                });
            } else{
                onLoaded();
            }
        },

        leave(el, done)  {
            let self = this

            if(this.pageTransition){
                this.$store.dispatch('app/SET_STATE', {
                    transitioning: true
                })
            }

            if(!this.noAdditionalClasses){
                let cls = this.pageTransition ? ['transitioning-out', 'h-100'] : ['transitioning-out']
                el.classList.add(...cls);
            }


            let tw = TweenMax.to(el, 0.6, {
                opacity: 0.5
            })

            let dl = this.pageTransition ? this.dl : 0
            this.$bus.$on('preloaded' + self.page.id, () => {
                tw && tw.pause()
                TweenMax.to(el, self.dur, {
                    opacity: 0,
                    delay: dl,
                    onComplete: () => {
                        done()
                    }
                })
            })


        }
    }
}

</script>

<style scoped="">
</style>
