<template>
  <div class='architects'>
      
  </div>
</template>

<script>
import Waypoint from '@/components/behaviours/Waypoint';
import Parallax from '@/components/behaviours/Parallax';

export default {
    name: 'architects',
    data: () => ({

    }),

    props: [

        'model'
    ],

    methods: {
    },

    computed: {
        image()  {
            return '/static/contact.jpg'
        },
        title()  {
            return this.model.title
        }
    },

    components: {
        Waypoint,
        Parallax
    }
}

</script>

<style lang="scss" scoped="">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';


.architects {
}
</style>
