<template>
  <div class='blog-preview d-flex flex-column align-items-center container mt-5'>


    <div class='position-relative w-100 d-flex flex-column  justify-content-center align-items-center'>

        <!-- HEADLINE -->
        <parallax :wrapped='false'
                    :global='true'
                    class='headline-ontop-fix'
                    :speedFactor='-0.05'>
          <h4 class='purple-text middle-line medium-font h6 text-center text-uppercase d-flex flex-column align-items-center'
            v-html="subheadline"></h4>
          <h2 class='big-font center-x text-1 text-center mb-4 mb-md-0'>{{ headline }}</h2>
        </parallax>

        <div class='image-wrapper position-relative'>

            <!-- DECORS -->
            <img src='/img/decorations/yellow.png' class='yellow-decoration position-absolute' />
            <parallax :wrapped='false'
                    :global='true'
                    :absolute='true'
                    :speedFactor='0.05'>
                <img src='/img/decorations/green.png' class='green-decoration position-absolute' />
            </parallax>

            <!-- IMAGE -->
            <div class='position-absolute w-100 h-100 t-0'>
                <parallax :wrapped='false'
                    :global='true'
                    :absolute='false'
                    :speedFactor='-0.2'>
                 <div class='col cover bg-center h-100 bg-image'
                       :style="{ backgroundImage: `url('${image}')` }"></div>
                </parallax>
            </div>

            <!-- CONTENT -->
            <parallax :wrapped='false'
                    :global='true'
                    :absolute='true'
                    :speedFactor='-0.45'>
                <div v-if='blogPage' class='content-window col-md-6'>
                  <div class='mb-0 bold-font content' v-html="model.fields.content"></div>
                  <router-link :to='{ path: blogPage.url }' class='more-info plus-btn mt-1 d-inline-block w-100 text-right'>
                    <img src='/img/plus.svg' class='plus' />
                  </router-link>
                </div>
            </parallax>

        </div>
    </div>

    <!-- TEXT2 -->
    <parallax class='text-2'
                    :global='true'
                    :speedFactor='-0.3'>
        <h2 class='big-font center-x w-100 text-center position-relative mt-4 mt-md-0'>{{ headline2 }}</h2>
    </parallax>

  </div>
</template>

<script>
export default {
    name: 'blog-preview',
    data: () => ({
    }),

    props: [
        'model'
    ],

    methods: {
    },

    computed: {
        image()  {
            return this.getImageVersion(this.model, 'image', 'medium')
        },
        blogPage(){
            return this.$store.getters['pages/getByProp']('attribute_set_code', 'blog')
        },
        locale() {
            return this.$store.getters['app/getState']('locale')
        },
        headline() {
            let c = this.model.fields.headline
            return c[this.locale] || c
        },
        subheadline(){
          let c = this.model.fields.subheadline

          return c[this.locale] || c
        },
        headline2()  {

            if(!this.model){
                return
            }
            let c = this.model.fields.headline_2

            return c ? c[this.locale] || c : null

        },

    },

    components: {
    }
}

</script>

<style lang="scss" scoped="">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~/assets/css/mixins.scss';

.blog-preview {
}

.text-box{
    background: rgba(255,255,255, 0.7);
    padding: 2rem;
    display: inline-block;
}

.yellow-decoration{
    left: -30%;
    height: 60%;
    top: 15%;
    opacity: 0.6;
    z-index: -1;
}

.green-decoration{
    right: -20%;
    opacity: .8;
    top: 20%;
    height: 78%;
    z-index: -1;
    transform: scaleX(-1);
}

.text-1 {
  position: relative;

  @include media-breakpoint-down(md) {
    top: -1vh;
  }
}

.text-2{
    position: relative;

    @include media-breakpoint-up(md) {
      top: -12vh;
    }
}

.bg-image{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.05);
}

.image-wrapper{
    @include square(120%);

    width: 40%;
    left: 0;
    position: relative;
    // overflow: hidden;

    @include media-breakpoint-up(md) {
      margin-top: -4em;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }
}

.content-window{
  background: rgba(255,255, 255, 0.5);
  border: solid .1em $purple;
  top: 35%;
  left: -40%;
  padding: 2vw 1vw;
  color: $purple;

  @include media-breakpoint-down(md) {
    background: rgba(255,255, 255, 0.8);
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 9.5em;
  }
}

.purple-text {
  @include media-breakpoint-down(md) {
    margin-bottom: 1rem;
  }
}

.plus-btn{
  text-transform: uppercase;
  color: $white;
  font-family: 'Gotham-Bold';
  .plus{
    width: 1.6em;
    height: 1.6em;
    margin-left: 1em;
    transition: 0.4s;
  }

  &:hover{
    .plus{
      transform: rotate(180deg) translateZ(0);
    }
  }
}
</style>
