<template>
<div class='slider position-relative'
     :style="{ height: height}">

   <img class='decoration position-absolute t-0'
        src='/img/decorations/yellow.png' />
  <!--  <parallax :wrapped='false'
             class='h-auto'
             :global='true'
             :offset='.1'
             :speedFactor='0.3'>
      <h2 class='text-1 huge-font pl-4 position-relative bold-font'
          v-html="headline1"></h2>
   </parallax> -->

   <div class='position-absolute w-100 h-100 background-wrapper t-0'>
      <!-- <parallax :wrapped='true'
                :global='true'
                :absolute='false'
                :offset='.1'
                :speedFactor='0.25'>
         <custom-transition>
            <div :key='currentIndex'
                 class='col cover bg-center h-100'
                 :style="{ backgroundImage: `url('${getImageVersion(currentSlide, 'image')}')` }"></div>
         </custom-transition>

      </parallax> -->
         <swiper :slides="slides" @updateIndex='updateIndex'></swiper>
   </div>

    <!-- CONTENT -->
   <div v-if='!hideContent'
        class='content-wrapper d-flex flex-column col-md-6 h-100'>

       <!-- HEADLINE 2 -->
       <parallax :wrapped='false'
                :global='true'
                :absolute='false'
                :offset='.1'
                class='h-auto'
                :speedFactor='-0.05'>
         <h1 class='text-2 huge-font mb-0 bold-font text-uppercase'
             v-html="headline1"></h1>
      </parallax>

      <!-- CONTENT BOX -->
      <div v-if='currentSlide' class='flex-grow d-flex align-items-end content-box'>
         <div class='content-window col-lg-9 col-md-10 col-sm-12 mt-2 d-md-block pl-4 pr-4 pt-4 pb-4'>
            <h3 class='mb-0 medium-font'
                v-html="currentSlide.fields.content"></h3>
            <router-link v-if='relatedPage'
                         class='more-info plus-btn mt-1 d-inline-block w-100 bold-font'
                         v-bind:to="{path: relatedPage.url}">
               <span>{{ $t('moreInfo') }}</span>
               <img src='/img/plus.svg' class='plus' />
             </router-link>
         </div>
      </div>

   </div>

   <!-- SLIDER CONTROLS -->
   <!-- <div class='bottom-section d-none d-md-flex justify-content-end p-4'
        v-if='slides.length > 1'>
      <div class="d-flex justify-content-center align-items-center">
         <a href='#'
            @click='prevSlide()'>
              <img class="arrow mirror" src="/img/long-arrow.svg">
          </a>
         <span class="pr-1 pl-1 pb-0 bold-font dark-text">{{ slideNumber }} / 0{{ slides.length }}</span>
         <a href='#'
            @click='nextSlide()'>
              <img class="arrow" src="/img/long-arrow.svg">
          </a>
      </div>
   </div> -->
</div>

</template>

<script>
import Parallax from '@/components/behaviours/Parallax';
import CustomTransition from '@/components/CustomTransition';
import Swiper from '@/components/shared/Swiper';

export default {
    name: 'slider',
    data: () => ({
        currentIndex: 0,
        wobble: false,
        fadeIn: false
    }),

    props: [

        'model',

        'slides',

        'wideBtns',

        'hideContent',

        'headline1',

        'headline2'
    ],

    components: {
        Parallax,
        CustomTransition,
        Swiper
    },

    mounted()  {
        // console.log('SLIDES', this.slides)
        let self = this
        setTimeout(() => {
            self.fadeIn = true
        }, 400)
        // console.log('slides:', this.currentSlide)
    },

    destroyed()  {},

    updated()  {},

    methods: {

        updateIndex(index) {
          this.currentIndex = index
          console.log("CurrentINDEX", this.currentIndex)
        }

        // nextSlide()  {
        //     if (this.currentIndex >= 0 && this.currentIndex < this.slides.length - 1) {
        //         this.currentIndex = this.currentIndex + 1
        //     } else {
        //         this.currentIndex = 0
        //     }
        // },

        // prevSlide()  {
        //     if (this.currentIndex > 0 && this.currentIndex < this.slides.length) {
        //         this.currentIndex = this.currentIndex - 1
        //     } else {
        //         this.currentIndex = this.slides.length - 1
        //     }
        // }
    },

    computed: {
        currentSlide()  {
            let slide = this.slides[this.currentIndex]

            // console.log('slajdaca', slide)

            return slide.name ? slide : this.$store.getters['pages/getByProp']('id', slide.id)
        },
        title()  {
            return this.getAttribute(this.currentSlide, 'title')
        },
        height() {
            if (this.$store.getters['app/getState']('pageHeight') == 0) {
                return '89vh'
            } else {
                return this.$store.getters['app/getState']('pageHeight') + 'px';

            }
        },
        slideUrl()  {
            let slide = this.getAttribute(this.currentSlide, 'page')
            let s = this.$store.getters['pages/getByProp']('id', slide.id)

            return s.url
        },
        slideNumber()  {
            return '0' + (this.currentIndex + 1)
        },
        relatedPage()  {
            let relPage = this.currentSlide.fields.related_page
            relPage = relPage ? this.$store.getters['pages/getByProp']('id', relPage.id) : null
            return relPage
        }
    }
}

</script>

<style lang="scss" scoped="">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~/assets/css/mixins.scss';
@import '~/assets/css/variables.scss';

.slider {
    height: 89vh;
}

.content-window {
   // background: rgba(255,255, 255, 0.8);
   // padding: 2vw 3vw;
   // color: $purple;
   // margin-bottom: 1rem;
}

.content-wrapper {
   padding-left: 6.3vw;
   padding-top: 3vw;
   padding-right: 0;
   position: relative;
   z-index: 2;
}

.text-1 {}

.text-2 {}

.content-box{
  @include media-breakpoint-up(md) {
    padding-left: 5.7vw;
  }
}

.plus-btn {
   text-transform: uppercase;
   color: $purple !important;
   font-family: 'Gotham-Bold';
   .plus {
      width: 1.6em;
      margin-left: 1em;
      transition: 0.4s;
   }
   span {
       color: $purple;
   }
   &:hover {
      .plus {
         transform: rotate(180deg) translateZ(0);
      }
   }
}

.background-wrapper {
   padding-top: 6vw;
   @include media-breakpoint-up(md) {
      padding-left: 12vw;
   }
}

.slide-wrapper {
   display: none;
}

.bottom-section {
   position: absolute;
   bottom: 0;
   right: 0;
   z-index: 20;
   color: $white;
   .arrow {
      width: 7em;
      transition: 0.2s;
      &:hover {
         transform: translateX(10%);
      }
      &.mirror:hover {
         transform: translateX(-10%) scaleX(-1);
      }
   }
   .mirror {
      transform: scaleX(-1);
   }
}
</style>
