<template>
<div class='location d-flex flex-column align-items-center'>
    <div class='content'>
       <h4 class='medium-font h6 text-uppercase mb-2 line-before line-before--grey grey-text'>Welcome in the heart of Prague</h4>
       <h2 class='display-4'>The perfect location in the historical part of Prague</h2>
    </div>

    <div class='w-100 mt-4'>
      <img :src='image' width="100%" />
    </div>
</div>

</template>

<script>


export default {
    name: 'location',
    data: () => ({
      wobbling: false,
      fadeIn: false
    }),

    props: [
        'model'
    ],

    watch: {
      oneDirectionVisible(visible) {
        this.fadeIn = visible
      }
    },

    mixins: [
    //   WaypointMixin
    ],

    methods: {
      wobble() {
          this.wobbling = true
      },
      unwobble(){
          this.wobbling = false
      }
    },

    mounted()  {
        // this.initBtn()
        // this.initPixiSlider();

        // requestAnimationFrame(() => {
        //     this.waypointResize()
        // });
    },

    computed: {
        image()  {
            return '/img/mapa.png'
        },
        title()  {
            return this.model.title
        },
        contactPage(){
          return this.$store.getters['pages/getByProp']('attribute_set_code', 'contact')
        },

        elOpacity()  {
            return this.oneDirectionVisible ? 1 : 0
        },

        elTransform()  {
            let y = this.oneDirectionVisible ? 0 : 32
            return 'translateY(' + y + 'px)'
        }

    },

    components: {
    }
}

</script>

<style lang="scss" scoped="">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
.location {
  transition: all 0.5s;
}

.content{
    // padding: 8vw 0
    max-width: 50vw;
}
</style>
