<template>
<div class='basic-comp'>

</div>
</template>

<script>
export default {
  name: 'basic-comp',

  data: () => ({
  }),

  props: [
    'model'
  ],

  methods: {
  },

  computed: {
  },

  components: {
  }
}
</script>

<style lang="scss" scoped="">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~/assets/css/variables.scss';

.basic-comp{

}
</style>
