<template>
<transition v-on:enter="enter"
            v-on:before-enter="beforeEnter"
            v-on:after-enter="afterEnter"
            v-on:leave="leave"
            v-bind:css="false">
   <slot></slot>
</transition>

</template>

<script>
import 'gsap';
import $ from 'jquery';
// import EventBus from '@/config/event-bus';

export default {
    name: 'customTransition',
    data: () => ({
        duration: .64,
        delay: 0.1
    }),

    computed: {
        mobile()  {
            return this.$store.getters['app/getState']('mobile')
        }
    },

    methods: {
        afterEnter: function(el, done)  {},

        beforeEnter(el, done)  {},

        enter(el, done)  {
            var self = this;

            this.tl = new TimelineMax({
                onComplete: done
            })

            // dont do the enter transition on the mobile
            this.tl.fromTo(el, this.duration, {
                opacity: 0,
                // y: 15
            }, {
                opacity: 1,
                // y: 0
            }, 0.1);
        },

        leave(el, done)  {

            this.$store.dispatch('app/SET_STATE', {
                transitioning: true
            });

            $(el).addClass('transitioning-out')

            TweenMax.to(el, this.duration, {
                opacity: 0,
                // y: -15,
                // scale: 1.05,
                delay: .1,
                onComplete: () => {
                    done();
                }
            });

        }
    }
}

</script>

<style scoped="">
</style>
