<template>
<div class='page-footer'>
  <div class='container'>
    <div class='row justify-content-center justify-content-md-between'>
      <div class='small-padding d-flex d-md-block mb-2 mb-md-0'>
          <a href="#" class='mr-3 line-link h5 regular-font'>Privacy Policy</a>
          <a href="#" class='line-link h5 regular-font'>Terms of Service</a>
      </div>
      <p class='m-0 h5 regular-font small-padding'>&copy; Copyright Blue Cloud Ventures - 2018</p>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'page-footer',

  data: () => ({
  }),

  props: [
    'model'
  ],

  methods: {
  },

  computed: {
  },

  components: {
  }
}
</script>

<style lang="scss" scoped="">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~/assets/css/variables.scss';

.page-footer{
  // background: $blue;
  padding: 3rem 0;
  position: relative;

  .policy-wrapper{
      padding: .5rem;
  }

  @include media-breakpoint-up(md) {
    // padding: 3rem 30rem 3rem 13.5rem;
    margin-top: -1px;
  }

  a {
    color: black;
    &:hover {
      color: black;
    }
  }
}
</style>
