<template>
<div class='navbar'>
   <div class='d-flex w-100 justify-content-between'>
      <div class='square hamburger-wrapper position-relative'
           @click='toggleMenu'>
         <div class='position-absolute w-100 h-100 t-0 d-flex align-items-center justify-content-center'>
            <div class="hamburger"
                 :class='{"is-active": menuOpen}'
                 id="hamburger-1">
               <span class="line line--1"></span>
               <span class="line line--2"></span>
               <span class="line line--3"></span>
            </div>
         </div>
      </div>
      <div class='bar d-flex align-items-center col-md pr-2'>
         <a @click='toggleFloorplan'
            class='btn btn--blue medium-font '
            href='#'>{{ $t('floorplan') }}</a>
         <a @click='toggleHours'
            class='btn medium-font ml-1 d-none d-md-inline-block'
            href='#'>{{ $t('openingHours') }}</a>
         <a href="http://helpdesk.slovanskydum.com"
            class="uppercase line-link ml-3 d-none d-md-inline-block"
            style="letter-spacing: 1px; font-size: .8em;">{{ $t('helpdesk') }}</a>

      </div>
      <router-link v-if='homePage'
                   class='d-flex align-items-center pr-3 pr-md-0 logo-link mr-3'
                   v-bind:to="'/'">
         <!-- <img class='logo'  @click='closeNav' src='/img/logo.svg' /> -->
         <logo class='logo'
               @click='closeNav'></logo>
         <!-- <h3 @click='closeNav' class='mb-0 ml-1 mr-3 d-none d-md-block bold-font text-uppercase small'>Slovansky<br/>Dum</h3> -->
      </router-link>
   </div>
   <!-- Floorplan -->
   <transition @enter="enter"
               @leave="leave"
               v-bind:css="false">
      <floorplan @close='closeFloorplan'
                 v-if='floorplanOpen'
                 id='floorplan-wrapper'>
      </floorplan>
   </transition>
   <!-- Hours  -->
   <transition @enter="enter"
               @leave="leave"
               v-bind:css="false">
      <div v-if='hoursOpen'
           class='hours-wrapper p-5 d-flex flex-column justify-content-center'>
         <a id='close-hours'
            href='#'
            @click='toggleHours'
            class='bold-font close-link'>{{ $t('close') }}</a>
         <div v-for="(h, index) in hoursCollection"
              class='mb-2 ani-item' :key="index">
            <h4 class='b'>{{ h.fields.title }}</h4>
            <h5 class='medium-font'
                v-for='(hour, index) in h.fields.working_hours' :key="index">{{hour}}</h5>
         </div>
      </div>
   </transition>
   <custom-transition>
      <div class='overlay w-100 h-100 position-fixed t-0 l-0'
           v-if='menuOpen'
           @click='closeNav'></div>
   </custom-transition>
   <!-- Menu  -->
   <transition @enter="enter"
               @leave="leave"
               v-bind:css="false">
      <div class='items-wrapper d-flex align-items-md-center pl-5 pt-md-2 pb-md-2 pr-5 h-100'
           v-if='menuOpen'>
         <div class='d-flex flex-column'>
            <h3 class="pb-4 pb-md-1 d-none d-md-block">Slovanský Dům</h3>
            <div class='nav-items-wrapper'>
               <div class='nav-item ani-item'
                    v-for="item in items"
                    :key="item.id">
                  <nav-link class='pt-3 pb-3 pt-md-1 pb-md-1'
                            :model='item'
                            @closeNav='closeNav'></nav-link>
               </div>
            </div>
            <div ref='bottomSection'
                 class="h5 bottom-section d-flex flex-column mt-5 mt-md-3 mb-0 justify-content-end p-0">
               <a href='https://www.facebook.com/slovansky.dum/'
                  target="_blank"
                  class='light-font pt-3 pb-3 pt-md-1 pb-md-1'>Facebook</a>
               <a href='https://www.instagram.com/slovansky_dum/'
                  target="_blank"
                  class='light-font pt-3 pb-3 pt-md-1 pb-md-1'>Instagram</a>
               <!-- LANGUAGES -->
               <div class='d-flex mt-3 lang-wrapper'>
                  <a href='cs_CZ'
                     @click.prevent='changeLocale("cs_CZ")'
                     :class='{"active-locale" : isActive("cs_CZ") }'
                     class=" lang-link h6 bold-font">CS</a>
                  <span class='line'></span>
                  <a href='en_US'
                     @click.prevent='changeLocale("en_US")'
                     :class='{"active-locale" : isActive("en_US") }'
                     class=" lang-link h6 bold-font">EN</a>
                  <!-- <span class='line'></span>
               <a href='#'
                  @click='changeLocale("ru_RU")'
                  class="nav-link lang-link h6">RU</a> -->
               </div>
            </div>
         </div>
      </div>
   </transition>
</div>

</template>

<script>
import SubNav from '@/components/navigation/SubNav';
import NavLink from '@/components/navigation/NavLink';
import Floorplan from '@/components/floorplan/Floorplan';
import CustomTransition from '@/components/CustomTransition';

import Logo from '@/assets/svg/logo.svg';

// import Snap from 'snapsvg';

export default {
    name: 'navigation',

    data: () => ({
        menuOpen: false,
        hoursOpen: false,
    // floorplanOpen: false
    }),

    props: [

        'page'
    ],

    watch: {
        menuOpen(isOpen)  {
            let self = this
            if (isOpen) {
            } else {
            }
        }
    },

    methods: {
        isActive(locale)  {
            return locale === this.$store.getters['app/getState']('locale')
        },
        toggleMenu()  {
            this.menuOpen = !this.menuOpen
        },
        closeFloorplan()  {
            this.toggleFloorplan(false)
        },
        toggleFloorplan(state)  {
            let s = _.isBoolean(state) ? state : !this.floorplanOpen
            let query = s ? {
                floorplan: s
            } : null

            this.$router.push({
                path: this.$store.getters['app/getState']('activePage').url,
                query: query
            })
        },
        toggleHours()  {
            this.hoursOpen = !this.hoursOpen
        },
        closeNav()  {
            this.menuOpen = false
            this.toggleFloorplan(false)
        },

        changeLocale(locale)  {
            this.$store.dispatch('app/SET_STATE', {
                locale: locale
            })
        },

        enter(el, done)  {
            this.tl = new TimelineMax({
                onComplete: done
            })

            let links = el.querySelectorAll('.ani-item')

            this.tl.fromTo(el, .6, {
                opacity: 0
            }, {
                opacity: 1,
                onComplete: done
            })

            if (links) {
                this.tl.staggerFromTo(links, .5, {
                    opacity: 0,
                    y: 20
                }, {
                    opacity: 1,
                    y: 0
                }, .05, .2)
            }

            if (this.$refs.bottomSection) {
                this.tl.fromTo(this.$refs.bottomSection, .6, {
                    opacity: 0
                }, {
                    opacity: 1,
                    onComplete: done
                }, '-=.2')
            }
        },

        leave(el, done)  {
            TweenMax.to(el, .35, {
                opacity: 0,
                onComplete: done
            })
        }
    },

    components: {
        SubNav,
        NavLink,
        Logo,
        Floorplan,
        CustomTransition
    },

    mounted()  {},

    computed: {
        floorplanOpen()  {
            console.log('url:', this.$store.state.route)
            return this.$store.state.route.query.floorplan
        },
        activePage()  {
            return this.$store.getters['pages/getActivePage']()
        },

        items()  {
            return this.$store.getters['pages/getPagesForNav'] || {}
        },

        hoursCollection()  {
            return this.$store.getters['pages/getManyByProp']('entity_type', 'working_hours') || {}
        },

        homePage()  {
            return this.$store.getters['pages/getByProp']('attribute_set_code', 'home')
        }
    }
}

</script>

<style lang="scss" scoped="">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~/assets/css/variables.scss';

.navbar {
   border-bottom: 1px solid $lightBlue;
   background-color: $white;
}

.items-wrapper,
.hours-wrapper {
   // background-color: $white;
   background-color: rgba(246, 254, 255, 0.97);
   position: fixed;
   left: 0;
   top: 0;
   bottom: 0;
   padding: 0 $padding;
   box-sizing: border-box;
   z-index: 20;
}

.items-wrapper {
   @include media-breakpoint-down(md) {
      padding-bottom: 30px;
      padding-top: 80px;
   }
}

.bottom-section {
   @include media-breakpoint-down(md) {
      flex-grow: 1;
      flex-basis: 0;
   }
}

.hours-wrapper {
   z-index: 100000;
   background-color: rgba(35, 38, 61, 0.97);
   color: rgba(255, 255, 255, 0.9);
}

.logo-link {
   line-height: 1;
   font-size: 1.1vw;
}

.lang-wrapper {
   margin-left: -1rem;
   margin-right: -1rem;
}

.lang-link {
   padding: 1rem;
}

.nav-link {
   padding: inherit;
}

#close-hours {
   position: absolute;
   top: 2.4rem;
   left: 2rem;
   color: $white;
}

.logo {
   min-height: 26px; // width: 3vw;
   height: 2.2vw; // position: fixed;
   // top: $padding * 2.5;
   // left: $padding * 3;
   @include media-breakpoint-down(md) {
      transform: translateX(0);
   }
   svg {
      width: 100%;
   }
}

.morph-shape {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   -webkit-transition: -webkit-transform 0.1s ease-in-out;
   transition: transform 0.1s ease-in-out;
}

.expander {
   transform: scale(0.4);
   opacity: 0; // transition: all 0.2s;
   transform-origin: center;
   width: 33%;
   height: calc(100vh - 4vw);
}

.expanded {
   transform: scale(1);
   opacity: 1;
}

.logo-link {
   z-index: 100;
}

.trip-advisor{
  margin-left: 30px;
}

.hamburger-wrapper {
   width: 6vw;
   min-width: 60px;
   border-right: 1px solid $lightBlue;
   cursor: pointer;
   z-index: 30;
   transition: background-color 0.3s;
   &:hover {
      background: $blue;
      .hamburger .line {
         background-color: $white;
      }
   }
}

#floorplan-wrapper {}

.hamburger .line {
   width: 100%;
   height: 3px;
   background-color: $black;
   display: block;
   margin: 4px 0;
   transition: all 0.3s ease-in-out;
   transform-origin: left;
   &--1 {
      width: 60%;
   }
   &--2 {
      width: 100%;
   }
   &--3 {
      width: 100%;
   }
}

.hamburger:hover {
   cursor: pointer;
}

.hamburger {
   width: 30px;
   z-index: 1000;
}

.overlay {
   z-index: 1;
   background: rgba(255, 255, 255, 0.5)
}

/* ONE */

.is-active {
   .line {
      // background-color: $blue!important;
   }
}

#hamburger-1.is-active .line:nth-child(2) {
   opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
   -webkit-transform: translateY(5px) rotate(45deg);
   -ms-transform: translateY(5px) rotate(45deg);
   -o-transform: translateY(5px) rotate(45deg);
   transform: translateY(5px) rotate(45deg);
   width: 100%;
   transform-origin: center;
}

#hamburger-1.is-active .line:nth-child(3) {
   -webkit-transform: translateY(-9px) rotate(-45deg);
   -ms-transform: translateY(-9px) rotate(-45deg);
   -o-transform: translateY(-9px) rotate(-45deg);
   transform: translateY(-9px) rotate(-45deg);
   width: 100%;
   transform-origin: center;
}
</style>
