<template>
<router-link v-on:click.native='closeNav'
             v-bind:to="path"
             class="nav-link h5 m-0">
   <span>{{model.fields.title}}</span>
</router-link>

</template>

<script>


export default {
    name: 'nav-link',
    data: () => ({

    }),

    props: [

        'model'
    ],

    mounted() {

    },

    methods: {

        closeNav() {
          setTimeout(() => {
            this.$emit('closeNav');
          }, 120)
        }
    },

    computed: {
        path() {
          return !this.hasSubnav || this.isCatalogue ? {path: this.model.url} : "#"
        }
    },

    components: {
    }
}

</script>

<style lang="scss" scoped="">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
.nav-link {
   $linkPadding: .4em;
   color: $black;
   text-transform: uppercase;
   font-family: 'NeutrafaceDisplay-Bold';
   letter-spacing: .1em;
   // padding: $linkPadding;
   display: flex;
   position: relative;
   white-space: nowrap;
   opacity: 0.5;
   transition: 0.4s;

   &.router-link-active, &:hover {
    opacity: 1;
   }

}
</style>
