<template>
<transition v-on:enter="enter"
            v-on:leave="leave"
            v-bind:css="false">
   <!-- v-if='model == activeNav' -->
   <div class="sub-nav" v-if='model == activeNav'>
      <div class='container'>
         <div class='row'>
            <div v-for="(item, index) in items"
                 ref='item'
                 class='col sub-nav-item' :key="index">
               <router-link v-on:click.native='closeNav' v-bind:to="{path: '/' + item.url}">
                  <div class='cover bg-center h-100 w-100 position-absolute t-0'
                       :style="{ backgroundImage: calcImage(item) }"></div>
                  <div class='m-0 position-relative inner'>
                     <p class='mb-1 h1 b'>{{item.fields.title}}</p>
                     <span class='d-inline-block bold-font text-uppercase m-0 position-relative'>Explore<span class='line'></span></span>
                  </div>
               </router-link>
            </div>
         </div>
      </div>
   </div>
</transition>

</template>

<script>

export default {
    name: 'sub-nav',
    data()  {
        return {
        }
    },

    props: [

        'activeNav',

        'model'
    ],

    methods: {
        calcImage(item)  {
            return 'url(' + this.getImageVersion(item, 'header_image', 'small') + ')'
        },

        closeNav() {
          setTimeout(() => {
            this.$emit('closeNav');
          }, 120)
        },

        leave(el, done)  {

            let items = el.querySelectorAll('.sub-nav-item')

            TweenMax.to(items, .15, {
                opacity: 0,
                // y: 80
            })

            TweenMax.to(el, .8, {
                yPercent: -150,
                ease: 'Power2.easeOut',
                onComplete: () => {
                    done()
                }
            })
        },

        enter(el, done)  {
            TweenMax.from(el, .5, {
                yPercent: -103,
                delay: 0.2,
                ease: 'Power4.easeOut',
                onComplete: () => {
                    done()
                }
            })

            let items = el.querySelectorAll('.sub-nav-item')

            TweenMax.staggerFrom(items, .5, {
                opacity: 0,
                y: -20,
                delay: 0.3
            }, .08)
        }
    },

    mounted()  {

        let children = _.find(this.model.children)

        // console.log('CHI', children)
    },

    watch: {
        activeNav(item)  {}
    },

    computed: {
        image()  {
            return '/static/contact.jpg'
        },
        title()  {
            return this.model.title
        },
        isVisible()  {
            return this.activeNav.id === this.model.id
        },

        items()  {
            return this.$store.getters['pages/getPropTypes']()
            // return _.find(this.model.children)
        }
    },

    components: {
    }
}

</script>

<style lang="scss" scoped="">
    @import '~bootstrap/scss/functions';
    @import '~bootstrap/scss/variables';
    @import '~bootstrap/scss/mixins';
    @import '~/assets/css/variables.scss';
    @import '~/assets/css/mixins.scss';
.sub-nav {
   position: absolute;
   top: 100%;
   width: 100%;
   left: 0;
   padding: 3rem 0 4rem 0;
   background: white;
   z-index: -1;
   transition: background .4s ease-out;
   box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
   .sub-nav-item {
      padding: 0 1rem; // height: 8vw;
      .cover {
         transition: transform 0.4s;
         @include overlayed(0.75);
         height: 120%!important;
         &:after {
            opacity: 0.45
         }
      }
      .inner {
         padding: 3rem;
         color: $white;
         span {
            line-height: 1;
         }
         .line {
            width: 100%;
            height: 1px;
            background: $white; // margin-left: 1rem;
            position: absolute;
            left: 0;
            top: 40%;
            transform: translateX(120%);
            transition: all 0.4s;
         }
      }
      a {
         display: block;
         position: relative;
         height: 100%;
         overflow: hidden;
         &:hover {
            .cover {
               transform: translateY(-10%);
               &:after {
                  opacity: 1;
               }
            }
            .line {
               width: 120%;
               transform: translateX(-10%);
            }
         }
      }
   }
}
</style>
