.btn{
   padding: 1.3em 4em;
   background: white;
   color: $grey;
   border: 1px solid $grey;
   text-transform: uppercase;
   transition: 0.4s;
   border-radius: 2em;
   font-size: .8em;
   font-family: 'Gotham-Bold';
   line-height: 1;
   box-shadow: none!important;

   @include media-breakpoint-down(md) {
      padding: 1.3em 2em;
   }

   &:hover{
      background: $blue;
      color: $white;
      border: 1px solid $blue;
   }

   &--blue-border{
      border-color: $blue;
      color: $blue;
      background: white;

      &:hover{
         color: $white!important;
      }
   }

   &--blue{
      background: $blue;
      color: $white;
      border: 1px solid $blue;

      &:hover{
      	background: transparent;
      	color: $grey;
		    border: 1px solid $grey;
      }
   }
}