// BOOTSTRAP OVERIDES
$headings-font-family:'Didot-Bold' !default;
$navbar-padding-y: 0;
$navbar-padding-x: 0;
$grid-gutter-width: 4rem !default;
$spacer: 1vw !default;
$spacers: ( 0: 0, 1: ($spacer * .6), 2: ($spacer * 1.5), 3: $spacer * 2, 4: ($spacer * 4), 5: ($spacer * 8)) !default;
$font-size-base: .9rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: ($font-size-base * 1.25) !default;
$font-size-sm : ($font-size-base * .875) !default;
$h1-font-size : $font-size-base * 2.5 !default;
$h2-font-size : $font-size-base * 2 !default;
$h3-font-size : $font-size-base * 1.75 !default;
$h4-font-size : $font-size-base * 1.5 !default;
$h5-font-size : $font-size-base * 1 !default;
$h6-font-size : $font-size-base * .8 !default;
