input, textarea{
	border: none;
	width: 100%;
	color: $black;
	border: 1px solid $lightGrey;
	// margin-bottom: 1rem;
	outline: none;
	resize: none;
	background: transparent;
	// margin-bottom: 3rem;
	// padding-bottom: 1em;
	font-size: .9rem;
  padding: 1rem;
}


.input-holder{
	position: relative;
}

.help.is-danger{
	color: $white;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 1.1rem;
}

@include placeholder {
  text-align: center;
  color: $blue;
  text-transform: uppercase;
  font-size: .8rem;
}


/* Base for label styling */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
   position: absolute;
   left: -9999px;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
   position: relative;
   padding-left: 1.95rem;
   cursor: pointer;
   line-height: 140%;
   margin: 1.5vw 0;
   @media (max-width: 1200px) {
      margin: 15px 0;
   }
}

/* checkbox aspect */

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   width: 1.25rem;
   height: 1.25rem;
   border: none;
   background: $black;
   border-radius: 0;
   box-shadow: none; // font-size: 1rem;
}

/* checked mark aspect */

[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
   content: '✕';
   position: absolute;
   top: .4rem;
   left: .3rem; // font-size: 1.1em;
   line-height: 0.8;
   color: white;
   transition: all .2s;
}

/* checked mark aspect changes */

[type="checkbox"]:not(:checked)+label:after {
   opacity: 0;
   transform: scale(0);
}

[type="checkbox"]:checked+label:after {
   opacity: 1;
   transform: scale(1);
}

/* disabled checkbox */

[type="checkbox"]:disabled:not(:checked)+label:before,
[type="checkbox"]:disabled:checked+label:before {
   box-shadow: none;
   border-color: none;
   background-color: $black;
}

[type="checkbox"]:disabled:checked+label:after {
   color: #999;
}

[type="checkbox"]:disabled+label {
   color: #aaa;
}