@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin animation ($stuff) {
    -webkit-animation: $stuff;
    -moz-animation: $stuff;
    -ms-animation: $stuff;
    animation: $stuff;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@mixin overlayed($opacity) {
  &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, $opacity);
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      transition: all 0.4s;
   }
}

@mixin line-link{
    position: relative;
    // overflow: hidden;

    &:after{
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        left: 0;
        background: $grey;
        position: absolute;
        top: 100%;
        // margin-top: .3em;
        transform: scaleX(0);
        transform-origin: left;
        transition: 0.4s;
    }

    &:hover{
        &:after{
            transform: scaleX(1);
        }
    }
}

@mixin square($height: 100%) {
  &:before{
      padding-bottom: $height;
      content: '';
      display: block;
   }
}


   