body,
html {
   // overflow: hidden;
   height: 100%;
   margin: 0;
   background: $white;
   color: $black;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   overflow: hidden; // maybe only for desktop
   -webkit-overflow-scrolling: touch;
}


.headline-ontop-fix {
   position: relative;
   z-index: 10;
}

.trip-advisor{
   div{
      margin-top: 0!important;
   }
}


.pt-gutter{
   padding-top: $grid-gutter-width/2;
}

.pb-gutter{
   padding-bottom: $grid-gutter-width/2;
}

a {
   color: $black;
   &:hover {
      text-decoration: none;
      color: $black; // opacity: 0.8;
   }
}

.page{
   overflow: auto;
   -webkit-overflow-scrolling: touch;
   position: absolute!important;
   left: 0;
   width: 100%;
   height: 100%;
   // top: $padding;
   // left: $padding;
   // bottom: $padding;
   // right: $padding;
   // border-radius: $padding;
}


#app {
  height: 100vh;
}

.grey-bg{
   background: $grey;
}

.wrapper{
   min-height: 100%;
   overflow: hidden;
}

.round-wrapper{
   border-radius: $padding;
   overflow: hidden;
   width: 100%;
   height: 100%;
   position: relative;
}

#main-wrapper{
   position: relative;
   height: 100vh;
   // overflow: auto;
}

.white-text{
   color: $white;
}

.purple-text{
   color: $purple;
}

.dark-text{
   color: $black;
}

.h-md-100{
   @include media-breakpoint-up(md) {
      height: 100%;
   }
}

.line-before, .middle-line{
   position: relative;
   &:after{
      content: '';
      height: 2px;
      width: 6em;
      background: $purple;
      position: absolute;
      right: 100%;
      // top: 50%;
      top: .5em;
      transform: translateY(-50%);
      margin-right: 2rem;
   }
   &--grey{
      &:after{
         background: $grey;
      }
   }
   &--right{
      &:after{
         right: -45%;
      }
   }

   @include media-breakpoint-down(md) {
      &:after{
         right: 95%;
      }

      &--right{
         &:after{
            right: -34%;
         }
      }
   }
}

.middle-line{
   &:after{
      position: relative;
      left: auto;
      width: 2px;
      height: 4rem;
      top: 100%;
      transform: none;
      margin-right: 0;
      margin-top: 1em;
      right: auto;

      @include media-breakpoint-down(md) {
         height: 2rem;
      }
   }
}

.transitioning-out {
   position: absolute!important;
   will-change: opacity;
   width: 100%;
   height: 100%;
   z-index: 1!important;
   pointer-events: none;
   // top: 0;
   // left: 0;
}

.scrollbar-track{
   display: none!important;
}


body, html{
   font-size: 13px;
}


@include media-breakpoint-up(sm) {
   html {
      font-size: 13px;
   }
}

@include media-breakpoint-up(md) {
   html {
      font-size: 1.1vw;
   }
}

@include media-breakpoint-up(lg) {
   html {
      font-size: .92vw;
   }
}

.margin-tb-sm {
   @include media-breakpoint-down(sm) {
      margin: 24px 0;
   }
}

.offset-left-25 {
   margin-left: (100vw / 12) + $offset * 2;
}

.offset-left-15 {
   @include media-breakpoint-up(md) {
      margin-left: $offset * 2;
   }
}

.offset-left-small {
   @include media-breakpoint-up(md) {
      margin-left: $offset;
   }
}

.padding-left-15 {
   @include media-breakpoint-up(md) {
      padding-left: $offset * 2;
   }
}

.padding-right-15{
   @include media-breakpoint-up(md) {
      padding-right: $offset * 2;
   }
}

.padding-right-small {
   @include media-breakpoint-up(md) {
      padding-right: $offset / 2;
   }
}

.padding-left-small {
   @include media-breakpoint-up(md) {
      padding-left: $offset / 2;
   }
}

.padding-left-offset{
   @include media-breakpoint-up(md) {
      padding-left: $offset;
   }
}

.padding-right-medium{
   @include media-breakpoint-up(md) {
      padding-right: $offset * 0.75;
   }
}

.col-15 {
   -webkit-box-flex: 0;
   -ms-flex: 0 0 12.5%;
   flex: 0 0 12.5%;
   max-width: 12.5%;
}

.container{
   max-width: 86vw;
}

.container-narrow{
   max-width: 78vw;
}

.container-wide{
   max-width: 100vw - (2 * $offset);
   margin: 0 auto;
}


.line-link{
    @include line-link;
}


.lang-link{
  font-family: 'Gotham-Medium';
  &.active-locale, &:hover{
    font-family: 'Gotham-Bold';
    text-decoration: underline;
  }
}


.close-link{
  position: absolute;
  top: 2.4rem;
  left: 2rem;
  color: $white;
  z-index: 2;
}
