@font-face {
   font-family: 'Didot-Bold';
   src: url('/fonts/Didot-Bold.eot');
   src: url('/fonts/Didot-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/Didot-Bold.woff') format('woff'), url('/fonts/Didot-Bold.ttf') format('truetype'), url('/fonts/Didot-Bold.svg#d1e00a8fb1fd9b428ab6b90409479fde') format('svg');
   font-style: normal;
   font-weight: 700;
}



@font-face {
   font-family: 'Gotham-Bold';
   src: url('/fonts/Gotham-Bold.eot');
   src: url('/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/Gotham-Bold.woff') format('woff'), url('/fonts/Gotham-Bold.ttf') format('truetype'), url('/fonts/Gotham-Bold.svg#d1e00a8fb1fd9b428ab6b90409479fde') format('svg');
   font-style: normal;
   font-weight: 700;
}

@font-face {
   font-family: 'Gotham-Medium';
   src: url('/fonts/Gotham-Medium.eot');
   src: url('/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('/fonts/Gotham-Medium.woff') format('woff'), url('/fonts/Gotham-Medium.ttf') format('truetype'), url('/fonts/Gotham-Medium.svg#d1e00a8fb1fd9b428ab6b90409479fde') format('svg');
   font-style: normal;
   font-weight: 700;
}

@font-face {
   font-family: 'Gotham-Light';
   src: url('/fonts/Gotham-Light.eot');
   src: url('/fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/Gotham-Light.woff') format('woff'), url('/fonts/Gotham-Light.ttf') format('truetype'), url('/fonts/Gotham-Light.svg#d1e00a8fb1fd9b428ab6b90409479fde') format('svg');
   font-style: normal;
   font-weight: 700;
}


// @import url('https://fonts.googleapis.com/css?family=Crimson+Text|Libre+Baskerville|Lora|Merriweather|Neuton|Playfair+Display:400,700,900|Spectral&subset=latin-ext');

body,html{
   font-family: 'Gotham-Light';
}

.bold-font {
   font-family: 'Gotham-Bold';
}

.medium-font{
   font-family: 'Gotham-Medium';
}

.light-font{
   font-family: 'Gotham-Light';
}

.display-4,
.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4{
   font-weight: bold;
}


// font-family: 'Playfair Display', serif;
// font-family: 'Lora', serif;
// font-family: 'Libre Baskerville', serif;
// font-family: 'Crimson Text', serif;
// font-family: 'Spectral', serif;
// font-family: 'Neuton', serif;
// font-family: 'Merriweather', serif;


b, .b {
   font-family: 'Didot-Bold';
}

h1,
h2,
h3,
h4{
   // font-family: 'Cormorant';
}


p {
   font-size: 1.1rem;
   line-height: 1.6;
}

.h6 {
   letter-spacing: .1em;
}

.display-4-small {
   @include media-breakpoint-up(md) {
      font-size: 3rem;
   }
}

.grey-text {
   color: $grey;
}

.huge-font {
   font-size: 6vw;
   line-height: 1;
}

.big-font {
   font-size: 8vw;
   line-height: 1;
}

small, .small {
   font-size: 70%;
}
// // RESPONSIVE
// html {
//   font-size: 1vw;
// }
// @include media-breakpoint-up(sm) {
//   html {
//     font-size: 1.1vw;
//   }
// }
// @include media-breakpoint-up(md) {
//   html {
//     font-size: 1.2vw;
//   }
// }
// @include media-breakpoint-up(lg) {
//   html {
//     font-size: 1.3vw;
//   }
// }
