.full-size{
	width: 100%;
	height: 100%;
}

.uppercase{
	text-transform: uppercase;
}

.t-center{
	text-align: center;
}

.t-0{
	top:0;
}

.overflow-auto{
	overflow: auto;
}

.l-0{
	left: 0;
}

.disabled{
    pointer-events: none!important;
}

.firstletter-uppercase{
	text-transform: lowercase;
	&:first-letter {text-transform: uppercase}
}

.perspective{
	perspective: 1000px;
}

.flex-grow{
   flex-grow: 1;
   flex-basis: 0;
}

.two-cols{
	column-count: 2;
	column-gap: 3vw;
}

.minh-100{
	min-height: 100%;
}

.no-events{
	pointer-events: none;
}

.cover{
	background-size: cover;
}

.contain{
	background-size: contain;
}

.bg-center{
	background-position: center;
}

.h-auto{
	height: auto!important;
}

.w-auto{
	width: auto!important;
}

.overflow-hidden{
	overflow: hidden;
}

.hidden{
	visibility: hidden;
}

.onTop {
   z-index: 100;
}

.center{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center-x{
	left: 50%;
	transform: translateX(-50%);
}

.center-y{
	top: 50%;
	transform: translateY(-50%);
}

.break{
  flex-basis: 100%;
  width: 0px; 
  height: 0px; 
  overflow: hidden;
}

.square {
   &:before {
      padding-bottom: 100%;
      content: '';
      display: block;
   }
}

