// colors
$black: #23263d;
$blue: #23263d;
$grey: #9b9b9b;
$darkGrey: #49495c;
$purple: #9b0566;

$babyBlue: #f6feff;
$lightBlue: #f1f3ff;
$lightGrey: #5a5d71;
$lightest: #f2f2f3;

$darkBlue: #272d62;
$lightest: #f2f2f3;

$white: #fff;


$offset: 6.25vw;
$padding: 22px;