<template>
<div class='form-section row' :style="{opacity: elOpacity, transform: elTransform}">
   <div class='col-7'>
       <div class='round-wrapper'>
          <pixi-slider :size='"large"' :fadeIn='fadeIn' :wobbling='wobbling' :currentIndex='0' :slides='[image]'></pixi-slider>
       </div>
   </div>
   <div class='col-5 d-flex align-items-center p-4'>
      <div class='content'>
         <h4 class='medium-font h6 text-uppercase mb-2'>Shop in the heart of Prague</h4>
         <h2 class='display-4'>Beautiful garden is so super cool</h2>
         <btn class='black mt-2' @mousedown.native='wobble' @mouseup.native='unwobble' @mouseleave.native='unwobble'
              :path='"/" + contactPage.url'>More info</btn>
      </div>
   </div>
</div>

</template>

<script>
import Parallax from '@/components/behaviours/Parallax';

import WaypointMixin from '@/components/behaviours/Waypoint';

import PixiSlider from '@/components/shared/PixiSlider';

export default {
    name: 'form-section',
    data: () => ({
      wobbling: false,
      fadeIn: false
    }),

    props: [

        'model'
    ],

    watch: {
      oneDirectionVisible(visible) {
        console.log('form-sectionvisible', visible)
        this.fadeIn = visible
      }
    },

    mixins: [
      WaypointMixin
    ],

    methods: {
      wobble() {
          this.wobbling = true
      },
      unwobble(){
          this.wobbling = false
      }
    },

    mounted()  {
        // this.initBtn()
        // this.initPixiSlider();

        requestAnimationFrame(() => {
            this.waypointResize()
        });
    },

    computed: {
        image()  {
            return '/img/map.jpg'
        },
        title()  {
            return this.model.title
        },
        contactPage(){
          return this.$store.getters['pages/getByProp']('attribute_set_code', 'contact')
        },

        elOpacity()  {
            return this.oneDirectionVisible ? 1 : 0
        },

        elTransform()  {
            let y = this.oneDirectionVisible ? 0 : 32
            return 'translateY(' + y + 'px)'
        }

    },

    components: {
        PixiSlider
    }
}

</script>

<style lang="scss" scoped="">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~/assets/css/variables.scss';
@import '~/assets/css/mixins.scss';
.form-section {
  transition: all 0.5s;
}

.content{
    padding: 8vw 0
}
</style>
