<template>
    <div class='blog-excerpt'>
        <router-link :to='{ path: model.url }'>
            <div class="row justify-content-center">

                <div class="col-md-6 square-image">
                    <div class="square cover bg-center h-100 w-100"
                         :style="{backgroundImage: `url('${getImageVersion(image)}')`}">
                    </div>
                </div>

                <div class="square square--md col-md-6 d-flex align-items-center"
                     :class='{"order-md-first text-md-right pl-4" : index % 2 == 0}'>
                    <div class="w-100">
                        <h5 v-html="model.fields.title" class="h3 text bold-font text-uppercase"></h5>
                    </div>
                </div>

            </div>
        </router-link>
    </div>
</template>

<script>
    export default {
        name: 'blog-excerpt',
        data: () => ({}),

        props: [
            'model',
            'index'
        ],

        methods: {},

        computed: {
            image() {
                return this.getAttribute(this.model, 'gallery')[0]
            }
        },

        components: {
        },

        mounted() {
        }
    }

</script>

<style lang="scss" scoped="">
    @import '~bootstrap/scss/functions';
    @import '~bootstrap/scss/variables';
    @import '~bootstrap/scss/mixins';
    @import '~/assets/css/variables.scss';
@import '~/assets/css/mixins.scss';

    .blog-excerpt {
        border-bottom: solid 1px $grey;
        margin-bottom: -1px;
        background-color: rgba($white, .6);
        overflow: hidden;
    }

    .square--md{
        @include media-breakpoint-down(md) {
            &:before{
                padding-bottom: 20%;
            }
        }
    }

    .text /deep/ {
        color: $purple;
        p {
            margin-bottom: 0;
        }

        @include media-breakpoint-down(md) {
            padding: 24px;
            font-size: 1.2em;
            // text-align: center;
        }
    }

</style>