<template>
    <div class='blog-article w-100'>

        <div class="image-wrapper">
            <parallax :wrapped='true'  :speedFactor='1' :offset='.1' :global='true'>
                <!-- <div class="cover bg-center h-100 w-100"
                     :style="{backgroundImage: `url('${image}')`}">
                </div> -->

                <swiper :ratio='0'
                    :wideControls='true'
                    :showBullets='true'
                    :slides='slides'
                    class="white">
                </swiper>
            </parallax>
        </div>

        <div class="d-flex w-100 pt-4 pl-5 pr-5 pb-4">
            <div class="flex-column text-left">
                <h1 class="pb-3 b h2" v-html="model.fields.title"></h1>
                <div v-html="model.fields.text" class='h3 medium-font'></div>
            </div>
        </div>

    </div>
</template>

<script>
// import DraggableMixin from '@/mixins/Draggable'
import BasePage from '@/plugins/mixins/BasePage';
import Swiper from '@/components/shared/Swiper';

export default {
    name: 'blog-article',
    data: () => ({}),

    props: [
        'model'
    ],

    mixins: [
      BasePage
    ],

    methods: {},

    computed: {
        article() {
            return this.$store.getters['pages/getByUrl'](this.model.url)
        },

        slides()  {
            return this.getAttribute(this.model, 'gallery')
        },

        image() {
            return this.getImageVersion(this.article, 'image')
        }
    },

    components: {
        Swiper
    },

    mounted() {
        console.log('isMobileisMobileisMobileisMobile', this.$device.isMobile);
        if(!this.$device.isMobile) {
            this.initSmooth();
        }
    }
}

</script>

<style lang="scss" scoped="">
    @import '~bootstrap/scss/functions';
    @import '~bootstrap/scss/variables';
    @import '~bootstrap/scss/mixins';
    @import '~/assets/css/variables.scss';
    @import '~/assets/css/mixins.scss';

    .blog-article {
        height: 100%;
        top: 0;
        background-color: rgba($white, .6);

        @include media-breakpoint-up(md) {
            position: absolute;
        }
        .image-wrapper {
            height: 34vw;
            @include media-breakpoint-down(md) {
                height: 64vw;
            }
        }
    }

    .h3 /deep/ {
        p {
            font-size: .7em;
        }
    }

</style>