<template>
  <div id="app"
      class='full-size d-flex flex-column' >

    <navigation v-if='page'
                :page='page'></navigation>

    <div id='main-wrapper' ref='wrapper' class='flex-grow d-flex'>
        <customTransition>
          <component :is="pageTemplate"
                      :model="page"
                      :key='pageKey'></component>
        </customTransition>
    </div>

    <div v-if='selectedBuilding'>
        <customTransition>
              <office-nav-popup :selectedBuilding='selectedBuilding'></office-nav-popup>
        </customTransition>
    </div>

  </div>
</template>
<script>
import BaseApp from '@/plugins/mixins/baseApp'
// import Navigation from '@/components/navigation/Navigation'
// import NotFound from '@/pages/NotFound'


// All possible templates
import Home from '@/pages/Home';
import Category from '@/pages/Category';
import DefaultPage from '@/pages/DefaultPage';
import Blog from '@/pages/Blog';
import ShopDetail from '@/pages/ShopDetail';
import Contact from '@/pages/Contact';
import NotFound from '@/pages/NotFound';

import Navigation from '@/components/navigation/Navigation';
import OfficeNavPopup from '@/components/shared/OfficeNavPopup';



export default {
  name: 'app',
  data() {
    return {
      showCookie: false,
       structuredData: {
        "@context": "http://schema.org",
        "@type": "Store",
        "name": "Delia's Daily Supplies",
        "description": "For your daily newspapers, candies, snacks and (via our in-store pharmacy) drugs and healthcare products to keep you and your family happy, healthy and supplied with all your daily needs.",
        "openingHours": "Mo-Fr 07:00-23:00",
        "telephone": "+155501001110",
        }
    }
  },
  head() {

    if(!this.page){
      return
    }


    return this.prepareMeta();
  },

  components: {
    Navigation,
    OfficeNavPopup,

    // // all possible page templates
    Home,
    Category,
    ShopDetail,
    NotFound,
    DefaultPage,
    Blog,
    Contact
  },

  events: {},

  mixins: [
    BaseApp
  ],

  mounted: function() {
    let self = this

    self.$nextTick(self.resizeHandler);

    if (!this.parsedPages.length) {
      console.warn("API fetch didn't finish on server side");
      this.$store.dispatch('pages/LOAD_PAGES', 'cs_CZ')
    }
  },

  watch: {
    page(p) {
    },
    locale(val) {

      this.loaded = false
      this.$store.dispatch('app/SET_STATE', {
        locale: val
      })
      this.setLocale(val)
    }
  },

  methods: {
     onMouseMove(e){
      this.$store.dispatch('app/SET_STATE', {
        pageX: e.pageX,
        pageY: e.pageY
      });
    },

    prepareMeta() {
      let attr_set = this.page.attribute_set_code;
      let mainTitle = process.env.defaultTitle;
      let metaTitle = process.env.defaultTitle;
      let metaDescription = process.env.defaultDescription;
      let metaImage = process.env.defaultImage;
      let schema = {}
      if(attr_set == 'shop') {
        schema = {
          "@context": "http://schema.org",
          "@type": "Store",
          "name": this.page.fields.title,
          "description": this.page.fields.meta_description,
          "openingHours": this.page.fields.opening_hours,
          "telephone": this.page.fields.phone
        }
      }

      if(attr_set == 'home') {
        schema = {
          "@context": "http://schema.org",
          "@type" : "Organization",
          "url" :  process.env.ogUrl
        }
      }

      if(attr_set == 'contact') {
        schema = {
          "@context": "http://schema.org",
          "@type": "CivicStructure",
          "name": process.env.defaultTitle,
          "openingHours": [
            "Mo-Su 08:00-20:00"
          ]
        }
      }

      metaTitle = this.page.fields.meta_title ? this.page.fields.meta_title + ' | ' + mainTitle :  this.page.fields.title +  ' | ' + mainTitle;
      metaDescription = this.page.fields.meta_description ? this.page.fields.meta_description : process.env.defaultDescription;;

      if (attr_set == 'news_article') {
        metaTitle = process.env.defaultBlogTitle;
        metaDescription = this.page.fields.title;
        metaImage = this.getImageVersion(this.page, 'image', 'large')
        if(!metaImage) {
          if(this.page.fields.gallery) {
            metaImage = this.getImageVersion(this.page.fields.gallery[0], 'image')
          }
        }
      }

      return {
      title: metaTitle,
      meta: [
        { name: 'description', hid: 'description', content: metaDescription },
        { name: 'og:image', content: metaImage },
        { name: 'og:title', content: metaTitle },
        { name: 'og:url', content: process.env.ogUrl }
      ],
      link: [
        { rel: 'alternate', hreflang: this.locale == 'cs_CZ' ? 'cs' : 'en', href: 'https://slovanskydum.cz' + this.$route.fullPath }
      ],
      __dangerouslyDisableSanitizers: ['script'],
      script: [
        { type: 'application/ld+json', innerHTML: JSON.stringify(schema) },
        { type: 'application/ld+json', innerHTML: JSON.stringify(this.navSchema()) }
      ]
    }

    },

    navSchema() {
      let tempSchema = {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [ ]
      }

      _.each(this.items, (item) => {
        tempSchema.itemListElement.push({
          "@type": "ListItem",
          "item": {
            "@id": 'https://slovanskydum.cz' + item.url,
            "name": item.fields.title
          }
        })
      })
      return tempSchema;
    },


    findTemplateByAttrSet(attr_set)  {
      let tmpl
      switch (attr_set) {

          case 'category':
              tmpl = 'Category'
              break

          case 'home':
              tmpl = 'Home'
              break

          case 'contact':
              tmpl = 'Contact'
              break

          case 'dafault_page':
              tmpl = 'DefaultPage'
              break

          case 'blog':
              tmpl = 'Blog'
              break

          case 'news_article':
              tmpl = 'Blog'
              break

          case 'shop':
              tmpl = 'ShopDetail'
              break

          default:
              tmpl = false
      }

      return tmpl
    },

    cookieClick() {
        this.showCookie = false
        cookies.set('showCookie', true);
    }
  },

  computed: {
    contactPage() {
      return this.$store.getters['pages/getByProp']('attribute_set_code', 'contact')
    },
    items()  {
      return this.$store.getters['pages/getPagesForNav'] || {}
    },
    selectedBuilding() {
      return this.$store.getters['app/getState']('selectedBuilding')
    },
    isContact() {
      let activePage = this.$store.getters['app/getState']('activePage')
      console.log('activePage', activePage.url)
      if (!activePage) {
        return false
      }

      return activePage.id == this.contactPage.id
    },
    pageKey() {
      let key = this.page ? this.page.id : null
      // CUSTOM TRANSITION PAGES
      // @stay on the same template and don't do the default transition
      if (this.page && this.page.attribute_set_code === 'company') {
        key = 'portfolio';
      }

      if (this.page && this.page.attribute_set_code === 'investor') {
        key = 'team';
      }

      if (this.page && this.page.attribute_set_code === 'news_article') {
        key = 'news';
      }

      return key
    },
    gdprVisible() {
      return this.$store.getters['app/getState']('gdprVisible')
    },
    isShrinked() {
      return this.$store.getters["app/getState"]("scrollTop") > 30
    }
  }
}

</script>
<style lang="scss">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~/assets/css/variables.scss';

</style>
