<template>
<section class="container">
</section>
</template>

<script>

import {isLocale, getLocale, getPageModel} from '~/plugins/locale'

export default {
	// HANDLE 404
    async asyncData({app, route, store, params, req, res})  {
        let page = getPageModel(store)
        if(!page){
            let oldPage = store.getters['app/getState']('activePage');
            if (oldPage) {
               page = store.getters['pages/getByProp']('id', oldPage.id)
             }
        }
        if (!page) {
            res.statusCode = 404
        }
    }
}

</script>
