<template>
  <div class="page blog h-100" :key="model.title">
    <!-- <div class='wrapper h-100'> -->
    <div class="d-flex flex-md-row flex-column h-md-100">
      <!-- <img src='/img/decorations/yellow.png' class='decoration-yellow position-absolute d-none d-md-block' /> -->
      <!-- <img src='/img/decorations/green.png' class='decoration-green position-absolute' /> -->
      <div class="col-md-4 pl-0 h-md-100 articles pr-0 w-100">
        <blog-excerpt
          v-for="(article, index) in articles"
          :key="index"
          :index="index"
          :model="article"
        ></blog-excerpt>
      </div>

      <div class="col-md-8 pl-0 pr-0 h-100 article">
        <div class="position-relative h-100">
          <custom-transition>
            <blog-article v-if="selectedArticle" :key="selectedArticle.id" :model="selectedArticle"></blog-article>
          </custom-transition>
        </div>
      </div>
    </div>

    <!-- </div> -->
  </div>
</template>

<script>
import BasePage from "@/plugins/mixins/BasePage";
import BlogExcerpt from "@/components/blog/BlogExcerpt";
import BlogArticle from "@/components/blog/BlogArticle";
import CustomTransition from "@/components/CustomTransition";

export default {
  name: "blog",
  mixins: [BasePage],

  components: {
    BlogExcerpt,
    BlogArticle,
    CustomTransition
  },

  watch: {
    selectedArticle() {
      console.log("$(this.$el)$(this.$el)$(this.$el)", $(this.$el)[0]);
      $(this.$el)
        .first()
        .scrollTop(0);
    }
  },

  data: () => ({}),

  created() {},

  updated() {},

  mounted: function() {
    console.log("mounted blog 1");
  },

  computed: {
    articles() {
      let articles = this.$store.getters["pages/getManyByProp"](
        "attribute_set_code",
        "news_article"
      );

      articles = _.orderBy(
        articles,
        function(article) {
          console.log("artic.e", article.fields.date);
          return new Date(article.fields.date);
        },
        ["desc"]
      );

      _.each(articles, article => {
        console.log(article.fields.date);
      });
      return articles;
    },
    selectedArticle() {
      return this.model.attribute_set_code == "news_article"
        ? this.model
        : this.articles[0];
    }
  },

  methods: {}
};
</script>

<style scoped="" lang="scss">
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.blog {
}

.article {
  @include media-breakpoint-down(md) {
    order: -1;
  }
}

.articles,
.article {
  max-width: 100%;
  overflow: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

.decoration-yellow {
  top: -120%;
  left: 0%;

  @include media-breakpoint-down(md) {
    witdh: 1vw;
  }
}

.decoration-green {
  top: -40%;
  right: 0%;

  @include media-breakpoint-down(md) {
    witdh: 1vw;
  }
}
</style>
