<template>
<div class="category page"
     :key='model.title'>
   <div class='wrapper'>
      <div class='container pt-4'>

        <img src='/img/decorations/yellow.png' class='decoration-yellow position-absolute' />
        <img src='/img/decorations/green-dots.png' class='decoration-green-dots position-absolute' />
        <img v-if="pageComponents.length > 0" src='/img/decorations/green.png' class='decoration-green position-absolute' />
        <img v-if="pageComponents.length > 0" src='/img/decorations/purple.jpg' class='decoration-purple position-absolute' />

        <parallax :speedFactor='.2' :offset='.1' :global='true'>
          <h1 class='huge-font mb-0 position-relative text-center mb-1' id='page-title'>{{model.fields.title}}</h1>
        </parallax>


         <div class='categories-wrapper row pb-5 position-relative'>
            <parallax :speedFactor='calculatePlaxFactor(colIndex)' :global='true'
            v-for='colIndex in numberOfColumns' :key='colIndex' class='d-flex flex-column' :class='columnClass(colIndex)'>
                <box v-for='(model) in calculateRow(colIndex - 1)' :key='model.name' :model='model' ></box>
            </parallax>
        </div>


        <div v-for="pageComponent in pageComponents" class="mb-5 container" :key="pageComponent">
            <component :is="chooseComponentTemplate(pageComponent)" :model="pageComponent"></component>
        </div>

        <div class='container mt-5'>
          <shop-listing></shop-listing>
        </div>

      </div>

      <page-footer></page-footer>
   </div>
</div>

</template>

<script>
import BasePage from '@/plugins/mixins/BasePage';
import Box from '@/components/shared/Box';
import Location from '@/components/home/Location'
import PageFooter from '@/components/shared/Footer'
import LocationVert from '@/components/category/Location';
import ShopListing from '@/components/shared/ShopListing';

export default {
    name: 'category',
    mixins: [
        BasePage
    ],
    components: {
        Box,
        LocationVert,
        ShopListing,
        Location
    },
    data: () => ({
        numberOfColumns: 4
    }),

    created()  {},

    updated()  {},

    mounted: function()  {
      this.initSmooth();
    },

    computed: {

        pageModel()  {
            let isShop = this.model.attribute_set_code === 'shop'
            return isShop ? this.getAttribute(this.model, 'category') : this.model
        },

        // get the items
        // @if current page is shop, then find its parent category and its children
        boxes()  {
            let shops = this.$store.getters['pages/getChildren'](this.pageModel)

            return _.orderBy(shops, function(shop){
                return shop.fields.order * 1 || 100
            })
        },

        // if the shop is open
        activeShop()  {
            if (this.model.attribute_set_code === 'shop') {
                return this.model
            } else {
                return false
            }
        },

        otherCategories()  {
            return this.$store.getters['pages/getSiblings'](this.pageModel)
        }
    },

    methods: {
    }
}

</script>

<style scoped="" lang="scss">
    @import '~bootstrap/scss/functions';
    @import '~bootstrap/scss/variables';
    @import '~bootstrap/scss/mixins';
    @import '~/assets/css/variables.scss';
    @import '~/assets/css/mixins.scss';
.category {
}

.column{
    z-index: 2;
}

#page-title{
    // left: 30vw;
    top: 0;
    z-index: 1;
    // top: 0vw;
}

.column:nth-of-type(even) {
    // margin-top: 2vw;
}

.categories-wrapper{
    // min-height: 200vh;
    // overflow: hidden;
}

.decoration-green-dots {
    top: 5%;
    right: 35%;
    height: 50%;
    z-index: -1;

    @include media-breakpoint-down(md) {
        width: 50%;
    }
}

.decoration-yellow {
    top: 0%;
    left: -20%;
    width: 120%;
    height: 50%;
    z-index: -1;

    @include media-breakpoint-down(md) {
        width: 50%;
    }
}

.decoration-green {
    top: 35%;
    right: 0%;
    z-index: -1;

    @include media-breakpoint-down(md) {
        width: 50%;
    }
}

.decoration-purple {
    top: 55%;
    left: 0%;
    z-index: -1;

    @include media-breakpoint-down(md) {
        width: 50%;
    }
}

#page-title{

}

.wrapper {}
</style>
