<template>
<div class="contact-page page"
     :key='model.title'>
   <div class='wrapper'>

      <div class='col-md-5 position-relative'>
        <img src='/img/decorations/yellow.png' class='decoration-yellow position-absolute' />
        <img src='/img/decorations/green.png' class='decoration-green position-absolute' />
      </div>

      <div class='text-1 huge-font pl-4 position-relative mb-4 mb-md-0 mt-4 mt-md-0'>{{ model.fields.title }}</div>

      <div class='row pb-5 position-relative'>

        <div class='map col-md-4 offset-md-1'>
          <parallax :wrapped='false'
                    :global='true'
                    :absolute='true'
                    :speedFactor='-0.3'>
            <google-map></google-map>
          </parallax>
        </div>

        <div class='col-md-3 pl-5 pt-5 pt-md-0 pr-0'>
          <h2 class="pb-3">{{ $t('openingHours') }}</h2>

          <div v-for="(h, index) in hoursCollection" class='mb-3 mb-md-2' :key="index">
            <div class='bold-font h4'>{{ h.fields.title }}</div>
            <div class="h5 medium-font" v-for='(hour, index) in h.fields.working_hours' :key="index">{{hour}}</div>
          </div>
        </div>

        <div class="col-md-4 pl-5 pt-5 pt-md-0 pl-5 pl-md-0">
          <h2 class="pb-3">{{ $t('visitUs') }}</h2>

          <div class="bold-font h4">Slovanský dům</div>
          <div class='content h5' v-html='model.fields.content'></div>
          <!-- <div class="h5 medium-font">Na Prikope 22, Praha 1 110 00</div>
          <div class="bold-font pt-3">
            <div class="h5 medium-font">Ivana Travnickova</div>
            <div class="h5 medium-font">Letting Manager</div>
            <div class="h5 medium-font">M +420 602 301 310</div>
            <a href='mailto:ivana.travnickova@slovenskydum.cz' class="h5 medium-font">E ivana.travnickova@slovenskydum.cz</a>
          </div> -->
        </div>

      </div>


      <page-footer></page-footer>
   </div>
</div>

</template>

<script>
import BasePage from '@/plugins/mixins/BasePage';
import Waypoint from '@/components/behaviours/Waypoint';

import GoogleMap from '@/components/shared/GoogleMap';

import CustomTransition from '@/components/CustomTransition';

import PageFooter from '@/components/shared/Footer'


export default {
    name: 'category',
    mixins: [

        BasePage
    ],
    components: {
        GoogleMap,
        CustomTransition
    },
    data: () => ({
    }),

    created()  {},

    updated()  {},

    mounted: function()  {
      this.initSmooth();
    },

    computed: {
      hoursCollection()  {
            return this.$store.getters['pages/getManyByProp']('entity_type', 'working_hours') || {}
      }
    },
    methods: {
    }
}

</script>

<style scoped="" lang="scss">
    @import '~bootstrap/scss/functions';
    @import '~bootstrap/scss/variables';
    @import '~bootstrap/scss/mixins';
    @import '~/assets/css/variables.scss';
    @import '~/assets/css/mixins.scss';

.contact-page {
}

.map {
  height: 40vw;
  margin-top: -3rem;



  @include media-breakpoint-down(sm) {
    margin-top: -2vw;
    height: 100vw;
  }
}

.row {
  @include media-breakpoint-down(md) {
    margin-left: 0;
    margin-right: 0;
  }
}

.decoration-yellow{
    margin-top: 6vw;
    right: 20%;
    top: -40%;
    width: 40vw;
    height: 50vw;
    z-index: -1;
}

.content /deep/ {
  *{
    font-family: 'Gotham-Bold';
    font-size: inherit;
  }

  p{
    @extend .h5;
    font-family: 'Gotham-Medium';

    @include media-breakpoint-down(md) {
      font-size: 1rem;
    }
  }

  a{
    @include line-link;
  }

  a:hover{
    // text-decoration: underline;
  }
}

.text-1{
  font-family: 'Didot-Bold';
  z-index: 21000;
}

.decoration-green{
    margin-top: 4vw;
    right: -15vw;
    top: -40%;
    width: 30vw;
    height: 45vw;
    opacity: 0.7;
    z-index: -1;
    transform: scaleX(-1);
}

.h4, .h5{
  @include media-breakpoint-down(md) {
    font-size: 1rem;
  }
}

</style>
