<template>
<div class="page"
     :key='model.title'>
   <div class='components-wrapper position-relative overflow-hidden'>


      <!-- DECORATIONS -->
      <img src='/img/decorations/yellow.png'
           class='decoration-yellow position-absolute' />
      <img src='/img/decorations/green.png'
           class='decoration-green position-absolute' />
      <img v-if="pageComponents.length >= 5"
           src='/img/decorations/blue-1.jpg'
           class='decoration-blue position-absolute' />
      <img v-if="pageComponents.length >= 3"
           src='/img/decorations/purple.jpg'
           class='decoration-purple position-absolute' />
      <img v-if="pageComponents.length >= 3"
           src='/img/decorations/green.png'
           class='decoration-green-1 position-absolute' />
      <img src='/img/decorations/yellow.png'
           class='decoration-yellow-1 position-absolute' />
      <img v-if="pageComponents.length >= 3"
           src='/img/decorations/purple.jpg'
           class='decoration-purple-1 position-absolute' />


      <div v-for="(pageComponent, index) in pageComponents"
           class="mb-5" :key="index">
         <component :is="chooseComponentTemplate(pageComponent)"
                    :model="pageComponent" :displayHtag="index == 0"></component>
      </div>
   </div>
   <page-footer></page-footer>
</div>

</template>

<script>
import BasePage from '@/plugins/mixins/BasePage';

export default {
    name: 'page',
    mixins: [
        BasePage
    ],
    components: {
    },
    data: () => ({
    }),

    created()  {},

    updated()  {},

    mounted: function()  {
        this.initSmooth()
    },

    computed: {

    },

    methods: {

    }
}

</script>

<style scoped="" lang="scss">
    @import '~bootstrap/scss/functions';
    @import '~bootstrap/scss/variables';
    @import '~bootstrap/scss/mixins';
    @import '~/assets/css/variables.scss';
    @import '~/assets/css/mixins.scss';
.decoration-yellow {
   top: 0%;
   left: 0%;
   @include media-breakpoint-down(md) {
      width: 50%;
   }
}

.decoration-green {
   top: 17%;
   right: -10%;
   @include media-breakpoint-down(md) {
      width: 50%;
   }
}

.decoration-blue {
   top: 27%;
   left: -5%;
   @include media-breakpoint-down(md) {
      width: 50%;
   }
}

.decoration-purple {
   top: 47%;
   right: 0%;
   transform: scaleX(-1);
   @include media-breakpoint-down(md) {
      width: 50%;
   }
}

.decoration-green-1 {
   top: 40%;
   left: -15%;
   transform: scaleX(-1);
   @include media-breakpoint-down(md) {
      width: 50%;
   }
}

.decoration-yellow-1 {
   top: 50%;
   right: -50%;
   @include media-breakpoint-down(md) {
      width: 50%;
   }
}

.decoration-purple-1 {
   top: 60%;
   left: 0%;
   @include media-breakpoint-down(md) {
      width: 50%;
   }
}
</style>
