<template>

<div class="home page"
     :key='model.title'
     ref='wrapper'>

    <div class='wrapper'>

        <home-header :slides='slides' :headline1="model.fields.headline" :headline2="model.fields.subheadline"></home-header>

        <div class='w-100 position-relative'>

            <img src='/img/decorations/yellow.png' class='decoration-yellow position-absolute' />
            <img src='/img/decorations/green.png' class='decoration-green position-absolute' />

            <div class='categories container pb-5 position-relative d-md-block'>
                <div class='row'>
                    <parallax :speedFactor='calculatePlaxFactor(colIndex)'
                    v-for='colIndex in numberOfColumns' :key='colIndex' class='d-flex flex-column' :class='columnClass(colIndex)'>
                        <box :contain='true' v-for='(model) in calculateRow(colIndex - 1)' :key='model.name' :model='model'></box>
                    </parallax>
                </div>
            </div>
            <img src='/img/decorations/blue-1.jpg' class='decoration-blue position-absolute' />

        </div>

        <div v-for="(pageComponent, index) in pageComponents" class="mt-5 mt-md-0 mb-5 container" :key="index">
            <component :is="chooseComponentTemplate(pageComponent)" :model="pageComponent"></component>
        </div>

        <page-footer></page-footer>

    </div>

</div>

</template>

<script>
import BasePage from '@/plugins/mixins/BasePage'

import HomeHeader from '@/components/home/HomeHeader'
import Location from '@/components/home/Location'
// import HomeInfo from '@/components/home/Info'
import BlogPreview from '@/components/home/BlogPreview'
import InstagramFeed from '@/components/shared/InstagramFeed'

import Box from '@/components/shared/Box'
import PageFooter from '@/components/shared/Footer'

export default {
    name: 'home',
    mixins: [
        BasePage
    ],
    components: {
        HomeHeader,
        Location,
        Box,
        PageFooter,
        BlogPreview,
        InstagramFeed
    },
    data: () => ({
        activeSlide: 0,
        scrollToSlide: 0,
        numberOfColumns: 4
    }),

    created()  {},

    updated()  {},

    mounted: function()  {
        this.initSmooth();
        console.log('this.pageComponents', this.pageComponents)
    },

    computed: {
        slides() {
            return this.getAttribute(this.model, 'slides')
        },
        categories() {
            return this.$store.getters['pages/getManyByProp']('attribute_set_code', 'category')
        },
        boxes(){
            return this.getAttribute(this.model, 'home_boxes')
        }
    },

    methods: {

    }
}

</script>

<style scoped="" lang="scss">
    @import '~bootstrap/scss/functions';
    @import '~bootstrap/scss/variables';
    @import '~bootstrap/scss/mixins';
    @import '~/assets/css/variables.scss';
    @import '~/assets/css/mixins.scss';

.decoration-yellow{
    right: 20%;
    top: -40%;
    width: 40vw;
    z-index: -1;
}

.decoration-yellow-2{
    right: -30vw;
    height: 60vw;
    z-index: -1;
    top: 10vw;
}

.decoration-green{
    right: -15vw;
    top: -40%;
    width: 30vw;
    opacity: 0.7;
    z-index: -1;
}

.decoration-blue{
    width: 12vw;
    left: 0vw;
    bottom: -7vw;
    z-index: -1;
}

.home{
}

.slider{
}

.categories {
    @include media-breakpoint-down(md) {
        padding-left: 0;
        padding-right: 0;
    }
}

.pull-up-mobile {
    @include media-breakpoint-down(md) {
       margin-top: -20vw;
    }
}
</style>
