<template>

<div class="page not-found d-flex flex-column align-items-center justify-content-center">
   <h1 class='huge-font'>404</h1>
   <h3>Page not found</h3>
</div>


</template>

<script>
import BasePage from '@/plugins/mixins/BasePage'

export default {
    name: 'property',
    mixins: [
        BasePage
    ],
    components: {
    },
    data: () => ({
    }),

    created()  {

    },

    updated()  {},

    mounted()  {},

    destroyed() {
        console.log('unisten unisten');
    },

    computed: {
    },

    methods: {
        loaded()  {}
    }
}

</script>

<style scoped="" lang="scss">
    @import '~bootstrap/scss/functions';
    @import '~bootstrap/scss/variables';
    @import '~bootstrap/scss/mixins';
    @import '~/assets/css/variables.scss';
    @import '~/assets/css/mixins.scss';

</style>
