<template>

<div class="page"
     :key='model.title'>

</div>

</template>

<script>
import BasePage from '@/plugins/mixins/BasePage'

export default {
    name: 'page',
    mixins: [
        BasePage
    ],
    components: {
    },
    data: () => ({
    }),

    created()  {},

    updated()  {},

    mounted: function()  {
        this.initSmooth();
    },

    computed: {
    },

    methods: {
    }
}

</script>

<style scoped="" lang="scss">
    @import '~bootstrap/scss/functions';
    @import '~bootstrap/scss/variables';
    @import '~bootstrap/scss/mixins';
    @import '~/assets/css/variables.scss';
    @import '~/assets/css/mixins.scss';

</style>
