<template>
<div class='shop-detail d-md-flex flex-column'>
   <div class='d-flex h-md-100 col-md p-0 flex-wrap'>
      <router-link class='btn btn--blue-border medium-font mt-2 d-inline-block close-btn'
                   v-bind:to="{path: parent.url}">{{ $t('close') }}</router-link>
      <div class='col-md-8 p-0 slider-wrapper h-100'>
         <div class='position-relative oveflow-hidden h-100'>
            <swiper :ratio='0'
                    :wideBtns='true'
                    :slides='slides'>
            </swiper>
         </div>
      </div>
      <div class='col-12 col-md-4 h-100 d-flex content-column flex-column align-items-start pl-0 pr-0'>
         <div ref='contentWrapper'
              class='position-relative pb-5 pl-3 pr-3 '>
            <img :src='logo'
                 class='shop-logo mb-3 mt-4' />
            <h1 class='bold-font'>{{model.fields.title}}</h1>
            <p class='mb-0 bold-font hours'>{{model.fields.opening_hours}}</p>
            <p class='mb-0'>{{model.fields.phone}}</p>
            <div class='content mt-3'
                 v-html='model.fields.text'></div>
            <div class='mb-4 pb-2'>
               <a v-if='model.fields.www'
                  target='_blank'
                  class='btn btn--blue-border mt-3 medium-font d-inline-block'
                  :href="'http://' + model.fields.www">{{ $t('visitWebsite') }}</a>
            </div>
         </div>
      </div>
   </div>
   <div class='bottom-section d-flex'>
      <router-link v-bind:to="{path: prevShop.url}"
                   class='big-btn bold-font text-uppercase'>{{prevShop.fields.title}}</router-link>
      <div class='col middle-col justify-content-center d-flex align-items-center'>
         <h3 class="mb-0 medium-font h6 text-uppercase text-center">{{model.fields.title}}</h3>
      </div>
      <router-link v-bind:to="{path: nextShop.url}"
                   class='big-btn bold-font text-uppercase'>{{nextShop.fields.title}}</router-link>
   </div>
</div>

</template>

<script>
import BasePage from '@/plugins/mixins/BasePage';
// import SimpleSlider from '@/components/shared/Slider'
import Swiper from '@/components/shared/Swiper';

export default {
    name: 'shop-detail',
    data: () => ({

    }),

    props: [

        'model'
    ],

    mixins: [

        BasePage
    ],

    methods: {
    },

    mounted()  {
        if(!this.$device.isMobile) {
            this.initSmooth(this.$refs.contentWrapper)
        }
    },

    computed: {
        logo()  {
            return this.getImageVersion(this.model, 'logo')
        },
        slides()  {
            return this.getAttribute(this.model, 'gallery')
        },
        parent()  {
            let c = this.getAttribute(this.model, 'category')
            return this.$store.getters['pages/getByProp']('id', c.id)
        },
        category()  {
            return this.$store.getters['pages/getByProp']('id', this.model.fields.category.id)
        },

        allShops()  {
            return this.$store.getters['pages/getManyByParent'](this.model)
        },

        // siblings(){
        //     return this.$store.getters['pages/getSiblings'](this.model)
        // },

        currentIndex()  {
            let i = this.allShops.indexOf(this.model)

            return i
        },

        nextShop()  {
            let c = 0
            if (this.currentIndex >= 0 && this.currentIndex < this.allShops.length - 1) {
                c = this.currentIndex + 1
            } else {
                c = 0
            }

            return this.allShops[c]
        },

        prevShop()  {
            let c = 0
            if (this.currentIndex > 0 && this.currentIndex < this.allShops.length) {
                c = this.currentIndex - 1
            } else {
                c = this.allShops.length - 1
            }

            return this.allShops[c]
        }
    },

    components: {
        // SimpleSlider
        Swiper
    }
}

</script>

<style lang="scss" scoped="">
    @import '~bootstrap/scss/functions';
    @import '~bootstrap/scss/variables';
    @import '~bootstrap/scss/mixins';
    @import '~/assets/css/mixins.scss';
    @import '~/assets/css/variables.scss';

.bottom-section {}

.btn {
   z-index: 2;
}

.shop-logo {
   max-width: 22%;
   min-width: 60px;
}

.middle-col {
   border-top: 1px solid $lightest;
}

.big-btn {
   padding: 2.8em 2em;
   background: $blue;
   color: $white;
   transition: 0.4s;
   line-height: 1;
   width: 20em;
   text-align: center;
   align-items: center;
   display: flex;
   justify-content: center;
   &:hover {
      color: $blue !important;
      background: $lightest !important;
   }
}

.hours {
   color: $black;
   text-decoration: none;
}

.content-column {
   @include media-breakpoint-up(md) {
      overflow: auto;
   }
}

.shop-detail {
   // position: fixed;
   opacity: 1;
   overflow: hidden;
   width: 100%;
   @include media-breakpoint-down(sm) {
      overflow: auto;
      .slider-wrapper {
         height: 60vw!important;
      }
   } // top: $padding;
   // left: $padding;
   // bottom: $padding;
   // right: $padding;
   .round-wrapper {
      background: $lightest;
   }
   .close-btn {
      position: absolute;
      top: $padding;
      right: $padding;
      .close-icon {
         transition: fill 0.5s;
         width: 30%;
         height: 30%;
         fill: $black;
      }
      &:hover {
         .close-icon {
            fill: $white;
         }
      }
   }
}
</style>
