<template>
<div class="animate-text"
     :class="[className, {'ink-fade' : isVisible}]">
   <slot></slot>
</div>

</template>

<script>
import EventBus from '@/config/event-bus';

import WaypointMixin from 'import Waypoint from '@/components/behaviours/Waypoint';';
import SplitText from '@/SplitText.min';

export default {
    name: 'waypoint',
    data()  {
        return {
        }
    },

    mixins: [
        WaypointMixin
    ],

    props: [

        'className',

        'leftCol',

        'topOffset'
    ],

    watch: {
        oneDirectionVisible(visible)  {
            if (visible) {
                this.tl && this.tl.restart()
            }
        }
    },

    computed: {
        offset()  {
            return -100
        }
    },

    mounted()  {
        var self = this

        this.initWaypointTween();
    },

    methods: {

        initWaypointTween()  {
            this.tl = new TimelineLite
            var text = this.$el.querySelectorAll('.animate-text')

            if (!text || !text.length || this.isMobile) {
                return
            }

            var mySplitText = new SplitText(text, {
                type: 'lines'
            })

            let lines = mySplitText.lines // an array of all the divs that wrap each character

            this.tl.staggerFrom(lines, 1.2, {
                opacity: 0,
                rotationY: -15,
                x: 40,
                ease: Quad.easeOut
            }, 0.15, '+=0')
        }

    }
}

</script>

<style lang="scss" scoped="">
.animate-text {
   /*perspective: 1000px;*/
}
</style>
