<template>
<div class="animated-letters">
    <ul v-if='word' class="grid">
      <li  class="letter ot-letter-left bold-font" v-bind:class="{ 'above5': splitString.length >= 5,  'above7': splitString.length >= 7 }" v-for="(item, index) in splitString" :key="index">
      	<span  class="first" :data-letter="item">{{item}}</span>
        <span :style="{ color: textColor }" class="second" :data-letter="item"></span>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  name: 'animated-letters',

  methods: {

  },

  data: () => ({
    defaultColor: '#CAE2F0'
  }),

  mounted() {
  },

  props: [
    'word',
    'color'
  ],

  computed: {
    splitString() {
      return this.word ? [...this.word] : null;
    },
    textColor(){
      return this.color || this.defaultColor
    }
  },

  methods: {



  }
}

</script>
<style lang="scss" scoped="">

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~/assets/css/variables.scss';
/* grid */
/* grid */
.grid {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: visible;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  letter-spacing: 1.4em;
  text-transform: uppercase;
}

.grid li {
  position: relative;
  float: left;
  font-size: 8rem;
  line-height: 1.5;
  text-align: center;
  transform: translateZ(0);
  &.above5 {
    @include media-breakpoint-down(sm) {
      font-size: 4rem;
   }
   &.above7 {
    @include media-breakpoint-down(sm) {
      font-size: 2rem;
     }
   }
  }
  @include media-breakpoint-down(sm) {
    font-size: 6rem;
   }
}

.small{
  .grid li {
    font-size: 5rem;
  }
}

/* Common styles for the letters */

.grid li .before {
  display: inline-block;
  font-weight: 900;
  line-height: 1;
  position: relative;
  color: hsla(0, 0%, 0%, 0.6);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 550px;
  -ms-perspective: 550px;
  perspective: 550px;
  z-index: 1;
  text-transform: uppercase;
}

.grid li .first {
	color: rgba(0, 0, 0, .1) !important;
	text-shadow: 1px 4px 6px rgba(0, 0, 0, .1) , 0 0 0 hsla(0, 0%, 0%, 0.1), 1px 4px 6px rgba(0, 0, 0, .1) ;
}

.grid li .first:before,
.grid li .second:after {
	position: absolute;
	content: attr(data-letter);
	line-height: inherit;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.grid li .first:before {
	text-shadow: none;
	color: hsla(0, 0%, 0%, 0.2);
}
.grid li .second:after {
	text-shadow: none;
}

/* Colors */

// .ot-letter-left span { text-shadow: 1px 4px 6px pink, 0 0 0 hsla(0, 0%, 0%, 0.3), 1px 4px 6px pink; }
/* Left */

.ot-letter-left .first {
	text-shadow: none;
}

.ot-letter-left .first:before,
.ot-letter-left .second:after {
  transform-origin: 0 50%;
}

.ot-letter-left span:before {
  transform: scale(1.01, 1) skew(0deg, 1deg);
}

.ot-letter-left .second:after {
  text-shadow: -1px 0px 0px hsla(360, 100%, 100%, 0.1), 3px 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: rotateY(-15deg);
}

.ot-letter-left:hover span:before {
  transform: scale(0.85, 1) skew(0deg, 20deg);
}

.ot-letter-left:hover span:after {
  transform: rotateY(-40deg);
}


/* Right */

.ot-letter-right span {
  text-shadow: 1px 4px 6px #ea6657, 0 0 0 hsla(0, 0%, 0%, 0.3), 1px 4px 6px #ea6657;
}

.ot-letter-right span:before,
.ot-letter-right span:after {
  transform-origin: 100% 50%;
}

.ot-letter-right span:before {
  transform: scale(0.85, 1) skew(0deg, 1deg);
}

.ot-letter-right span:after {
  text-shadow: 1px 0px 0px hsla(360, 100%, 100%, 0.1), -3px 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: rotateY(15deg);
}

.ot-letter-right:hover span:before {
  transform: scale(0.85, 1) skew(0deg, -20deg);
}

.ot-letter-right:hover span:after {
  transform: rotateY(40deg);
}


/* Up */

.ot-letter-top span {
  text-shadow: 1px 4px 6px #ee7f72, 0 0 0 hsla(0, 0%, 0%, 0.3), 1px 4px 6px #ee7f72;
}

.ot-letter-top span:before,
.ot-letter-top span:after {
  transform-origin: 50% 100%;
}

.ot-letter-top span:before {
  transform: scale(1, 0.95) skew(-4deg, 0deg);
}

.ot-letter-top span:after {
  text-shadow: 0px 1px 0px hsla(360, 100%, 100%, 0.1), 0px -3px 1px hsla(0, 0%, 0%, 0.4);
  transform: rotateX(-15deg);
}

.ot-letter-top:hover span:before {
  transform: translateY(-0.050em) scale(1, 0.55) skew(-10deg, 0deg);
}

.ot-letter-top:hover span:after {
  transform: translateY(-0.035em) rotateX(-40deg);
}


/* Down */

.ot-letter-bottom span {
  text-shadow: 1px 4px 6px #e95949, 0 0 0 hsla(0, 0%, 0%, 0.3), 1px 4px 6px #e95949;
}

.ot-letter-bottom span:before,
.ot-letter-bottom span:after {
  transform-origin: 50% 0;
}

.ot-letter-bottom span:before {
  transform: scale(1, 1.05) skew(4deg, 0deg);
}

.ot-letter-bottom span:after {
  text-shadow: 0px -1px 0px hsla(360, 100%, 100%, 0.1), 0px 3px 1px hsla(0, 0%, 0%, 0.4);
  transform: rotateX(15deg);
}

.ot-letter-bottom:hover span:before {
  transform: translateY(-0.035em) scale(1, 1.2) skew(10deg, 0deg);
}

.ot-letter-bottom:hover span:after {
  transform: translateY(0.045em) rotateX(40deg);
}

/* Example for media query: change number of items per row */
@media screen and (max-width: 1190px) {
	.grid li {
		width: 20%;
		/* Fallback */
		width: -webkit-calc(100% / 5);
		width: calc(100% / 5);
	}
}

@media screen and (max-width: 945px) {
	.grid li {
		width: 25%;
		/* Fallback */
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}
}

@media screen and (max-width: 760px) {
	.grid li {
		width: 33.3333333%;
		/* Fallback */
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}
}

@media screen and (max-width: 560px) {
	.grid li {
		width: 50%;
		/* Fallback */
		width: -webkit-calc(100% / 2);
		width: calc(100% / 2);
	}
}

@media screen and (max-width: 340px) {
	.grid li {
		width: 100%;
	}
}
</style>
