<template>
<div ref="card"
     class="card-3d"
     :class="className"
     v-bind:style="{ transform: elTransform }">
    <slot></slot>
</div>

</template>

<script>

export default {
    name: 'card3d',
    directives: {
    },
    methods: {
        layout()  {
            this.initParallax()
        }
    },

    data: () => ({
        totalWidth: 0,
        totalHeight: 0,
        bounds: {},
        topBound: 0,
        newPageX: 0,
        newPageY: 0
    }),

    mounted()  {
        this.initParallax()
    },

    props: [
        'ratioX',
        'ratioY',
        'className'
    ],

    computed: {

        classObject: function()  {
            return {
            }
        },

        elTransform()  {
            return 'rotateX( ' + this.moveY * -2 + 'deg ) rotateY( ' + this.moveX * -2 + 'deg )'
        },

        // total move-x (PX)
        totalMoveX()  {
            return this.ratioX * this.totalWidth / 10
        },

        // total move-y (PX)
        totalMoveY()  {
            return this.ratioY * this.totalWidth / 10
        },

        // 0 - 1
        currentX()  {
            return this.newPageX / this.totalWidth
        },

        // 0 -1
        currentY()  {
            return this.newPageY / this.totalHeight
        },

        // current y-move
        moveY()  {
            // console.log("REAL", this.realTop, this.$el.getBoundingClientRect().top);
            return this.currentY * this.totalMoveY - (this.totalMoveY / 2)
        },

        // current x-move
        moveX()  {
            return this.currentX * this.totalMoveX - (this.totalMoveX / 2)
        },

        scrollTop()  {
            return this.$store.getters['app/getState']('scrollTop')
        },

        realTop() {
            return this.topBound - this.scrollTop
        },

        pageX() {
            return this.$store.getters['app/getState']('pageX')
        },

        pageY() {
            return this.$store.getters['app/getState']('pageY')
        },
    },

    methods: {
        initParallax()  {
            var self = this

            console.log("PDFJ!");

            this.$nextTick(() => {
                self.resizeHandler()
                self.setupListeners()
            })

            this.$watch(vm => [self.pageX, self.pageY].join(), val => {
                console.log("WTF!?")
                self.animate()
            })
        },

         animate() {
            let self = this;
            this.mouseParallaxTween && this.mouseParallaxTween.pause()

            self.mouseParallaxTween = TweenMax.to(self, 3, {
                newPageX: self.pageX,
                newPageY: self.pageY,
                overwrite: 5,
                ease: 'Power4.easeOut',
                onUpdate: () => {
                }
            })
        },

        setupListeners()  {
            // EventBus.$on('mouseMove', (e) => {
            //     this.mouseParallaxTween && this.mouseParallaxTween.pause()
            //     this.mouseParallaxTween = TweenMax.to(this, 1, {
            //         pageX: e.pageX,
            //         pageY: e.pageY,
            //         overwrite: 5,
            //         ease: 'Power4.easeOut'
            //     })
            // })

            window.addEventListener('resize', this.resizeHandler, false)
        },

        resizeHandler()  {

            if (!this.$el) {
                return
            }

            this.totalWidth = this.$el.clientWidth
            this.totalHeight = this.$el.clientHeight

            this.bounds = this.$el.getBoundingClientRect()
            this.topBound = this.bounds.top + this.scrollTop

            console.log('TOP', this.topBound);
        }

    }
}

</script>

<style lang="scss" scoped="">
.card-3d {
    position: relative;
    will-change: transform;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
</style>
