<template>
<div :id='id' ref="draw-svg" :class='{"draw-svg" : true, "svg-ready": svgReady}'>
</div>
</template>

<script>
import EventBus from '@/config/event-bus';

import SplitText from '@/SplitText.min';
import Vivus from 'vivus'

export default {
    name: 'draw-svg',
    data: () => ({
        height: 0,
        bounds: {},
        topBound: 0,
        svgReady: false
    }),

    mounted()  {
        this.initWaypoint();
    },

    props: [
        'letter',
        'id'
    ],

    watch: {
        scrollTop(top)  {
        },
        isVisible(visible){
            if(visible){
                this.vivus.play(1);
            }else{
                this.svgReady = false;
                this.vivus.stop().reset();
            }
        }
    },

    computed: {
        isVisible()  {
            const self = this

            let curTop = this.topBound - this.scrollTop
            let isVisible = (curTop > window.innerHeight - this.offset) ? false : true

            // console.log("IS VISIBLE", isVisible);

            // if visible add offset
            return isVisible
        },
        offset(){
            // this.$store.getters['app/getState']('height') * 0.1
            return 0
        },

        scrollTop()  {
            return this.$store.getters['app/getState']('scrollTop')
        },

        transitioning() {
            return this.$store.getters['app/getState']('transitioning')
        }
    },

    methods: {

        initAnimation()  {
            var self = this;


            EventBus.$on('resize', () => {
                self.resizeHandler();
            });

            requestAnimationFrame(() => {
                self.resizeHandler()
            })
        },

        initWaypoint()  {
            var self = this

            return;

            this.vivus = new Vivus(this.id, {
              file: '/img/letters/' + this.letter + '.svg',
              // file: '/img/decoration/branch1.svg',
              duration: 80,
              animTimingFunction: Vivus.EASE_OUT,
              onReady: function (myVivus) {
              },
            }, () => {
                this.svgReady = true;
            });

            requestAnimationFrame(() => {
                self.resizeHandler()
            })
        },

        checkVisible(scrollY)  {
            const self = this

            let curTop = this.topBound - this.scrollTop
            this.isVisible = (curTop > window.innerHeight - this.offset) ? false : true
        },

        resizeHandler()  {


            if (!this.$el || (this.transitioning && self.tl) || this.isMobile) {
                return
            }

            setTimeout(() => {
                this.bounds = this.$el.getBoundingClientRect()
                this.topBound = this.bounds.top + this.scrollTop
            })
        }

    }
}

</script>

<style lang='scss' scoped="">

.draw-svg{
    width: 11rem;


    & /deep/ svg{
        path{
            fill: transparent;
            stroke: black;
            transition: all 0.4s;
            stroke-width: .15rem;
            /*stroke-width: 10px;*/
        }
    }

    &.svg-ready /deep/ svg path{
        fill: black;
        stroke: transparent;
    }
}
</style>
