<template>
<div :style='{transform: cursorTranslate}'
     id='cursor'>
   <div class='cursor-wrapper'
        :class='{"rotated": isRotated, hidden: hideCursor}'>
      <svg version="1.1"
           :class='{"whiteCursor" : whiteCursor}'
           id="cursor-svg"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           x="0px"
           y="0px"
           viewBox="108.1 79.6 142.1 87"
           style="enable-background:new 108.1 79.6 142.1 87;"
           xml:space="preserve">
         <g class='arrow'
            id="arrow_right">
            <g>
               <polygon class="st0"
                        points="250.2,123.3 249.5,122.6 249.5,122.6 242.9,116.1 242.1,116.8 248.7,123.4 242.5,129.6 243.2,130.3
      249.4,124.1 249.4,124.1 250.2,123.4 250.2,123.4     " />
            </g>
         </g>
         <g class='arrow'
            id="arrow_left">
            <g>
               <polygon class="st0"
                        points="116.2,129.6 109.6,123 115.8,116.8 115.1,116.1 108.9,122.3 108.9,122.3 108.1,123.1 108.1,123.1
      108.1,123.1 108.8,123.8 108.8,123.8 115.4,130.3     " />
            </g>
         </g>
         <g ref='circle'
            id="circle">
            <g>
               <circle class="st1"
                       cx="179.2"
                       cy="123.1"
                       r="43" />
            </g>
         </g>
         <g ref='centre'
            id="centre">
            <g>
               <circle class="st2"
                       cx="180.6"
                       cy="123.1"
                       r="3" />
            </g>
         </g>
      </svg>
   </div>
</div>

</template>

<script>


export default {
    name: 'fancy-cursor',
    data: () => ({
    }),

    props: [
        'model'
    ],

    watch: {
        play(play)  {
            if (play) {
                this.tl.play()
            } else {
                this.tl.reverse()
            }
        },
        transitioning(t){
          if(t){
            this.pulseTl.play();
          }else{
            setTimeout(() => {
              this.pulseTl.pause();

              TweenMax.to(this.$refs.circle, .5, {
                  scale: .7,
                  ease: 'Quad.easeIn',
                  transformOrigin: 'center center'
              });
            }, 400)
          }
        }
    },

    mounted()  {
        var self = this

        this.initCursorTween()

        this.initCursorPulse()
    },

    computed: {
        play() {
          return this.$store.getters['app/getState']('pressed')
        },
        x() {
          return this.$store.getters['app/getState']('mouseX')
        },
        y() {
          return this.$store.getters['app/getState']('mouseY')
        },
        isRotated() {
          return this.$store.getters['app/getState']('cursorRotated')
        },

        whiteCursor() {
          return this.$store.getters['app/getState']('whiteCursor')
        },

        hideCursor() {
          return this.$store.getters['app/getState']('hideCursor')
        },

        cursorTranslate()  {
            return 'translate3d(' + this.x + 'px,' + this.y + 'px, ' + 0 + 'px)'
        },

        transitioning() {
          return this.$store.getters['app/getState']('transitioning')
        },

    },

    methods: {
        initCursorTween()  {
            let arrows = this.$el.querySelector('.arrows')
            let arrowL = this.$el.querySelector('#arrow_left')
            let arrowR = this.$el.querySelector('#arrow_right')

            TweenMax.set(this.$refs.circle, {
                scale: 0.7,
                transformOrigin: 'center center'
            })

            TweenMax.set(arrowL, {
                x: 20,
                opacity: 0
            })

            TweenMax.set(arrowR, {
                x: -20,
                opacity: 0
            })

            this.tl = new TimelineMax({
                paused: true
            })

            this.tl.to(this.$refs.circle, .5, {
                scale: 1,
            // ease: 'Power4.easeInOut'
            }, 0)

            this.tl.to(arrowL, .4, {
                opacity: 1,
                x: 0,
            // ease: 'Power4.easeOut'
            }, 0.3)

            this.tl.to(arrowR, .4, {
                opacity: 1,
                x: 0,
            // ease: 'Power4.easeOut'
            }, 0.3)
        },

        initCursorPulse()  {
            let arrows = this.$el.querySelector('.arrows')
            let arrowL = this.$el.querySelector('#arrow_left')
            let arrowR = this.$el.querySelector('#arrow_right')

            // TweenMax.set(this.$refs.circle, {
            //     scale: 0.7,
            //     transformOrigin: 'center center'
            // })

            TweenMax.set(arrowL, {
                x: 20,
                opacity: 0
            })

            TweenMax.set(arrowR, {
                x: -20,
                opacity: 0
            })

            this.pulseTl = new TimelineMax({
                paused: true,
                repeat: -1,
                yoyo: true
            })

            this.pulseTl.fromTo(this.$refs.circle, .5, {
                scale: .7,
                ease: 'Quad.easeIn',
                transformOrigin: 'center center'
            },{
                scale: .8,
                ease: 'Quad.easeIn',
                transformOrigin: 'center center'
            }, 0)
        }
    },

    components: {

    }
}

</script>

<style lang="scss" scoped="">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
//cursor
#cursor {
   position: fixed;
   top: 0%;
   left: 0%;
   width: 140px;
   z-index: 100000;
   pointer-events: none;
   .cursor-wrapper {
      transform: translate(-50%, -50%);
      &.rotated {
         transform: translate(-50%, -50%) rotate(90deg);
      }
   }
   #cursor-svg {
      * {
         transition: fill .6s, stroke .6s;
      }
   }
   .st0 {
      fill: $black;
   }
   .st1 {
      fill: none;
      stroke: $black;
      stroke-miterlimit: 10;
      opacity: 0.2;
   }
   .st2 {
      fill: none;
      stroke: $black;
      stroke-width: 2;
      stroke-miterlimit: 10;
   }
   .whiteCursor {
      .st0 {
         fill: $white;
      }
      .st1 {
         stroke: $white;
      }
      .st2 {
         stroke: $white;
      }
   }
}
</style>
