<template>
<div class='outer-wrapper w-100 h-100'>
    <div ref="mouse-parallax"
         class="mouse-parallax"
         v-bind:style="{ transform: elTransform }">
         <div class='inner-wrapper'>
            <slot></slot>
        </div>
    </div>
</div>

</template>

<script>

export default {
    name: 'mouseParallax',
    directives: {
    },
    methods: {
        layout()  {
            this.initParallax()
        }
    },

    data: () => ({
        totalWidth: null,
        totalHeight: null,
        newPageX: 0,
        newPageY: 0
    }),

    mounted()  {
        let self = this
        this.initParallax()

        this.$watch(vm => [self.pageX, self.pageY].join(), val => {
          self.animate()
        })
    },

    props: [
        'ratioX',
        'ratioY'
    ],

    watch: {
    },

    computed: {

        classObject: function()  {
            return {
            }
        },

        pageX() {
            return this.$store.getters['app/getState']('pageX')
        },

        pageY() {
            return this.$store.getters['app/getState']('pageY')
        },


        elTransform()  {
            return 'translate3d(' + this.moveX + 'px,' + this.moveY + 'px, ' + 0 + 'px) rotateX( ' + this.moveY * -.05 + 'deg ) rotateY( ' + this.moveX * -.05 + 'deg )'
        },

        // total move-x (PX)
        totalMoveX()  {
            return this.ratioX * this.totalWidth / 10
        },

        // total move-y (PX)
        totalMoveY()  {
            return this.ratioY * this.totalWidth / 10
        },

        // 0 - 1
        currentX()  {
            return this.newPageX / this.totalWidth
        },

        // 0 -1
        currentY()  {
            return this.newPageY / this.totalHeight
        },

        // current y-move
        moveY()  {
            return this.currentY * this.totalMoveY - (this.totalMoveY / 2)
        },

        // current x-move
        moveX()  {
            return this.currentX * this.totalMoveX - (this.totalMoveX / 2)
        }
    },

    methods: {
        initParallax()  {
            var self = this

            self.$nextTick(() => {
                self.resizeHandler()
                self.setupListeners()
            })
        },


        animate() {
            let self = this;
            this.mouseParallaxTween && this.mouseParallaxTween.pause()

            self.mouseParallaxTween = TweenMax.to(self, 3, {
                newPageX: self.pageX,
                newPageY: self.pageY,
                overwrite: 5,
                ease: 'Power4.easeOut',
                onUpdate: () => {
                }
            })
        },

        setupListeners()  {
            window.addEventListener('resize', this.resizeHandler, false)
        },

        resizeHandler()  {

            if (!this.$el) {
                return
            }


            this.totalWidth = this.$el.clientWidth
            this.totalHeight = this.$el.clientHeight

            console.log("SSS", this.totalWidth, this.totalHeight)
        }

    }
}

</script>

<style lang="scss" scoped="">
.outer-wrapper{
    overflow: hidden;
    position: relative;
    perspective: 1000px;
}

.inner-wrapper{
    transform: scale(1.1);
    width: 100%;
    height: 100%;
}

.mouse-parallax {
    position: absolute;
    will-change: transform;
    width: 100%;
    height: 100%;
    transform-style: preserve3d;
}
</style>
