<template>
  <div ref="holder" class='parallax-wrapper' :class="[className, { 'wrapped': wrapped, 'not-wrapped': !wrapped, 'position-absolute': absolute }]">
    <div ref="parallax" class="parallax" v-bind:style="{ transform: elTransform, left: elLeft + 'px', top: elTop + 'px', height: elHeight + 'px', width: elWidth + 'px', opacity: opacity, filter: filter }">
      <slot></slot>
    </div>
  </div>
</template>
<script>
import imagesLoaded from 'imagesloaded';
// import imagesLoaded from 'vue-images-loaded';
// import imagesLoaded from 'vue-images-loaded';
export default {
  name: 'parallax',
  data: () => ({
    refElSize: 0,
    bounds: {},
    refBound: 0,
    opacity: 1,
    filter: 0
  }),

  mounted() {
    this.initParallax()

    this.$bus.$on('resize', this.resizeHandler)

    this.$watch(vm => [self.refSize, self.pageHeight, self.pageWidth].join(), val => {
        self.$nextTick(self.resizeHandler)
    })
  },

  watch: {
    scrollOffset(top) {
    }
  },

  props: [
    'model',
    'addition',

    'speedFactor',

    'wrapped',

    'absolute',

    'offset',

    'className',

    'global',

    'leftCol',

    'topOffset',

    'opacityChange',

    'horizontal',

    'toEnd',
    'log'
  ],

  computed: {

    classObject() {
      return {
        'wrapped': this.wrapped,
        'position-absolute': this.absolute
      }
    },

    topProp() {
      return this.leftCol ? 'scrollTopLeftCol' :
        this.horizontal ? 'scrollLeft' :
        'scrollTop'
    },

    scrollOffset() {
      return this.$store.getters['app/getState'](this.topProp)
    },

    pageHeight() {
      return this.$store.getters['app/getState']('pageHeight')
    },

    pageWidth() {
      return this.$store.getters['app/getState']('pageWidth')
    },

    refProp() {
      return this.horizontal ? 'width' : 'height'
    },

    refSize() {
      return this.$store.getters['app/getState']('height')
    },

    extraOffset() {
      return this.addition ? this.addition :
        this.horizontal && !this.wrapped ? 600 :
        0
    },

    elTransform() {

      // if(this.isMobile || this.isiPad){
      //   return
      // }

      let bound = this.topOffset || this.refBound;

      let start = bound - this.refSize

      let isClose = bound == 0;

      start = this.offset || isClose ? 0 : start


      let end = start + this.refSize
      // end += isClose ? 0 : this.refElSize
      end += this.refElSize
      end += this.wrapped ? 0 : Math.abs(this.move / 2)

      if (this.toEnd) {
        end = this.horizontal ? this.pageWidth : this.pageHeight
        end -= this.refSize
      }

      // console.log("SSSS", start, end, this.refSize, this.scrollOffset, this.bounds.height)

      var percentage = this.scrollProgress(start, end, this.scrollOffset)

      let currentMove = Math.ceil(this.move * percentage);
      let x = this.horizontal ? currentMove : 0
      let y = !this.horizontal ? currentMove : 0

      return 'translate3d(' + x + 'px,' + y + 'px, ' + 0 + 'px)'
    },

    speedMultiplier() {
      return this.horizontal ? 0.5 : 1
    },

    move() {
      return this.global ? this.refSize * this.speedFactor * this.speedMultiplier :
        this.refElSize * this.speedFactor * this.speedMultiplier
    },


    elHeight() {
      // if(this.isMobile || this.isiPad){
      //   return;
      // }
      return this.getSize(this.horizontal);
    },

    elWidth() {
      // if(this.isMobile || this.isiPad){
      //   return;
      // }
      return this.getSize(!this.horizontal)
    },

    elTop() {
      // if(this.isMobile || this.isiPad){
      //   return;
      // }
      return this.getOffset(this.horizontal)
    },

    elLeft() {
      // if(this.isMobile || this.isiPad){
      //   return;
      // }
      return this.getOffset(!this.horizontal)
    }
  },

  methods: {
    loaded() {
      this.resizeHandler()
    },

    getSize(ignore) {
      if (!this.wrapped || ignore) {
        return
      }

      var newh = (this.offset || this.refBound == 0) && !this.toEnd ? this.refElSize
                : Math.ceil(this.refElSize + Math.abs(this.move))

      return newh || ''
    },

    getOffset(ignore) {
      var m = -this.move

      return ((this.offset || this.refBound == 0) && !this.toEnd) || ignore ? 0 :
        this.wrapped && m > 0 ? 0 :
        this.wrapped ? m :
        Math.round(m / 2)
    },

    initParallax() {
      var self = this

      // if(this.isMobile || this.isiPad){
      //   return;
      // }

      self.resizeHandler()

      imagesLoaded(this.$el, () => {
        self.$nextTick(self.resizeHandler)
      })

      // EventBus.$on('resize', () => {
      //     self.resizeHandler()
      // })
    },

    // returning the scroll progress from 0 to 1 in between start/end pixels
    scrollProgress(start, end, scrollOffset) {
      var scrollOffset = scrollOffset || this.scrollOffset,
        factor = (end - start) / 100,
        scrollStart = (scrollOffset - start) / factor,
        percentage = (scrollOffset >= start && scrollOffset <= end) ? scrollStart / 100 :
        (scrollOffset > start) ? 1 : 0

      return percentage
    },

    resizeHandler() {
      if (!this.$el) {
        return
      }

      this.bounds = this.$el.getBoundingClientRect()

      if (this.horizontal) {
        this.refBound = this.bounds.left + this.scrollOffset
        // this.refBound = this.bounds.left == 0 ? this.bounds.left : this.bounds.left + this.scrollOffset

        this.refElSize = this.$el.offsetWidth

        // console.log("BOUND", this.bounds.left, this.scrollOffset, this.$store.getters['app/getState']('scrollLeft'));

      } else {
        this.refBound = this.bounds.top + this.scrollOffset
        this.refElSize = this.$el.offsetHeight
      }

    }

  }
}

</script>
<style lang="scss" scoped="">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
.parallax-wrapper {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;

  .isMobile {
    &>.parallax {
      height: 100%!important;
      transform: none!important;
      top: 0!important;
    }
  }

  @include media-breakpoint-down(sm) {
    &.not-wrapped {
      &>.parallax {
        transform: none!important;
        top: 0!important;
      }
    }
  }
}

.hidden {
  visibility: hidden;
}

.wrapped {
  overflow: hidden;
  .parallax {
    // transition: transform 1.2s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  }
}

.parallax {
  position: relative;
  will-change: transform;
  height: 123.666%;
  // top: -23.666%;
  backface-visibility: hidden; // transition: transform .3s ease-out;
  /*background: red;*/
  // transition: transform 2.4s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}

img {
  /*height: 100%;*/
  width: 100%;
  /*object-fit: cover;*/
}

</style>
