<template>
<div ref="revealer"
     v-bind:style="{ opacity: elOpacity, transform: elTransform}"
     class="revealer">
   <slot></slot>
   <div class='overlay' v-bind:style="{ transform: revealTransform }"></div>
</div>

</template>

<script>
// import EventBus from '@/config/event-bus';
import WaypointMixin from 'import Waypoint from '@/components/behaviours/Waypoint';'

export default {
    name: 'revealer',
    data: () => ({
    }),

    mixins: [
        WaypointMixin
    ],

    props: [
        'opacity',
        'className',
        'isInk',
        'reverse'
    ],

    watch: {
        scrollTop(top)  {
            // this.checkVisible(top)
        },
        oneDirectionVisible(visible){
            if(visible){
                // this.tl.restart();
            }
        }
    },

    computed: {
        offset(){
            return this.$store.getters['app/getState']('height') / 7.5
        },

        isVisible(){
            return this.oneDirectionVisible
        },

        offsetX()  {
            return this.isVisible ? 100 : 50
        },

        ratio() {
            return this.reverse ? -1 : 1
        },

        elX() {
            // return this.isVisible ? 0 : 40
        },

        scale(){
            // return this.isVisible ? 1.25 : .7
        },


        elOpacity()  {
            return this.isVisible ? 1 : 0
        },

        revealTransform() {
            return 'translate3d(' + this.offsetX * this.ratio + '%,' + 0 + 'px, ' + 0 + 'px)'
        },

        elTransform() {
            // return 'translate3d(' + this.elX + '%,' + 0 + 'px, ' + 0 + 'px)'
        }
    },

    methods: {
    }
}

</script>

<style lang='scss' scoped="">

.revealer{
   /*transition: all 2s cubic-bezier(0.15, 0.9, 0.34, 0.95);*/
   transition: opacity 1.2s;
   will-change: opacity;
   overflow: hidden;
   position: relative;
}

.overlay{
    /*transition: transform 1.2s ease-out;*/
    transition: transform 3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    z-index: 2;
    will-change: transform;
}
</style>
