<template>

<div class='scroll-line' ref="holder" v-bind:style="{ transform: elTransform }">
  <slot></slot>
</div>

</template>

<script>
// import EventBus from '@/config/event-bus';
import imagesLoaded from 'imagesloaded';

export default {
    data: () => ({
    }),

    props: [
        'scrollProp'
    ],

    name: 'scroll-behaviour',

    computed: {
        prop () {
            return this.scrollProp || 'scrollTop'
        },
        scrollTop()  {
            return this.$store.getters['app/getState'](this.prop)
        },

        elTransform()  {
            let start = 0
            let end;

            if(this.prop == "scrollTop"){
                end = this.$store.getters['app/getState']('pageHeight') - this.$store.getters['app/getState']('height');
            }else{
                end = this.$store.getters['app/getState']('pageWidth') - this.$store.getters['app/getState']('width');
            }

            var percentage = this.scrollProgress(start, end, this.scrollTop)

            return 'scaleX(' + percentage + ')';
        }
    },

    methods: {
        // returning the scroll progress from 0 to 1 in between start/end pixels
        scrollProgress(start, end, scrollTop)  {
            var scrollTop = scrollTop || this.scrollTop,
                factor = (end - start) / 100,
                scrollStart = (scrollTop - start) / factor,
                percentage = (scrollTop >= start && scrollTop <= end) ? scrollStart / 100
                           : (scrollTop > start) ? 1 : 0

            return percentage
        }
    }
}

</script>

<style lang="scss" scoped="">
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
.scroll-behaviour {
}
</style>
