<template>
<div @transitionStart='emitChange' v-swiper:mySwiper="swiperOptions" ref='swiper'
     class="swiper-container position-relative col-md">
   <!-- Additional required wrapper -->
   <div id='items-wrapper'
        class="swiper-wrapper">
      <div class='swiper-slide d-flex align-items-center position-relative flex-column w-100'
           v-for="(slide, index) in collection"
           v-if='slide'
           :key="index"
           v-on:dblclick="toggleFullscreen()">

          <div class='col cover bg-center image box-shadow'
              :style="{ backgroundImage: `url('${getImageVersion(slide, 'image')}')` }"></div>

          <div v-if='showCaption' class='image-caption d-flex pl-1 pl-md-2 pl-lg-0 pr-md-2 pr-lg-0 pt-1 pt-md-2 pt-lg-1 justify-content-md-between w-100 flex-column flex-md-row'>
              <h6 class='bold-font'>{{slide.fields.title}}</h6>
              <h6 class='text-uppercase small'>{{slide.fields.gallery_category.fields.title}}</h6>
          </div>

      </div>

   </div>
   <slot></slot>

</div>

</template>

<script>

export default {
    name: 'swiper-slider',

    data: () => ({
        defaults: {
            loop: true,
            effect: this.isMobile ? 'drag' : 'fade',
            fadeEffect: {
                crossFade: true
            },
            autoplay: {
                delay: 5000
            },
            slideToClickedSlide: true,
            centeredSlides: true,
            mousewheelControl: false,
            direction: 'horizontal',
            // loopedSlides: 3,
            // loopAdditionalSlides: 2,

            spaceBetween: 60,
            slidesPerView: 'auto',
            breakpoints: {
              320: {
                slidesPerView: 1,
                spaceBetween: 0
              },
              640: {
                slidesPerView: 1,
                spaceBetween: 0
              },
              812: {
                slidesPerView: 1,
                spaceBetween: 0
              }
            },


            pagination: {
                el: '.swiper-pagination',
                type: 'bullets'
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-next',
                prevEl: '.swiper-prev'
            }
        }
    }),

    props: [
        'showCaption',

        'collection',

        'model',

        'customOptions',

        'activeSlide',

        'update'
    ],

    watch: {
      activeSlide(slide) {
          this.mySwiper.slideTo(slide, 1000, false)
      },

      update(){
        let self = this
        self.$nextTick(self.updateSwiper)
      }
    },

    mixins: [],

    computed: {
         isFullScreen()  {
            return this.$store.getters['app/getState']('galleryFullscreen')
        },
        swiperOptions() {
          var options = _.merge({}, this.defaults, this.customOptions);
          return options
        }
    },

    updated()  {},

    mounted()  {
      console.log("Collection", this.collection)
    },

    methods: {
        emitChange(){
          let self = this;

          self.$emit('changed', self.mySwiper.realIndex)
        },
         toggleFullscreen() {
          this.$store.dispatch('app/SET_STATE', {
            galleryFullscreen: !this.isFullScreen
          })
        },
        updateSwiper()  {
            this.mySwiper && this.mySwiper.update()
        }
    }

}

</script>


<style lang="scss">
    .swiper-slide{
      transition: opacity 0.4s;
    }

    .swiper-slide-prev:hover{
        opacity: 0.8!important;
        cursor: pointer;
    }

   .swiper-slide-next:hover{
        opacity: 0.8!important;
        cursor: pointer;
    }
</style>


<style lang="scss" scoped="">
    @import '~bootstrap/scss/functions';
    @import '~bootstrap/scss/variables';
    @import '~bootstrap/scss/mixins';
    @import '~/assets/css/variables.scss';
    @import '~/assets/css/mixins.scss';

.swiper-container {
  height: 100%;

 .image-caption{
    opacity: 0;
    transform: translateY(5px);
    transition: all .3s;
  }

 .swiper-slide-active{
    .image-caption{
      transition: all 1s;
      opacity: 1;
      transform: translateY(0);
    }
 }
  .swiper-wrapper {
     .swiper-slide {

        width: 60vw;
        .image {

        }

     }
  }
}
</style>
