<template>
<div ref="waypoint"
     class="waypoint"
     :style="{opacity: elOpacity, transform: elTransform}"
     :class="[className, {'ink-fade' : isVisible, 'opacity-change': opacity}]">
   <slot></slot>
</div>

</template>

<script>
import WaypointMixin from '@/plugins/mixins/waypoint';

export default {
    name: 'waypoint',
    data: () => ({
    }),

    mixins: [
        WaypointMixin
    ],

    props: [
        'opacity',
        'className',
        'isInk'
    ],

    watch: {
        scrollTop(top)  {
            // this.checkVisible(top)
        },
        oneDirectionVisible(visible){
            if(visible){
                // this.tl.restart();
            }
        },
        pageRefSize(size) {
            // this.waypointResize();
        }
    },

    computed: {
        offset(){
            return this.isInk ? 0 : 80
        },

        isVisible(){
            return this.oneDirectionVisible
        },

        elOpacity()  {
            return this.isVisible ? 1 : 0
        },

        elTransform()  {
            // let y = this.isVisible ? 0 : 32
            // return 'translateY(' + y + 'px)'
            return 0
        }
    },

    methods: {

    }
}

</script>

<style scoped="">

.opacity-change{
}

.waypoint {
   transition: all .6s;
   will-change: opacity, transform;
}
</style>
